

/*** BEGIN Biography Page Styles ***/

.bio {
    background-color: #306;
    margin-left: 100px;
}

div.institution-sidebar {
    background: #ffffff;
    overflow: hidden;
    //float: right;
    //width: 30%;
    //margin: 0 0 12px 12px;
    position: relative;
}

/*** END Biography Page Styles ***/