@import '../../../../StyleSheets/variables';
@import '../../../../StyleSheets/breakpoints';
@import '../../../../StyleSheets/sprites/svg-sprite';

.cthp-dropdown.more-info {
  input[type=checkbox] {
    display: none;
  }

  label {
    display: none;
  }
}


div:not(.ui-accordion-content) > .cardBody {
  .cthp-dropdown.more-info{
      position: relative;
      display: inline-block;
      font-size: 16px;
      color: rgb(241, 240, 240);
      width: 100%;

      h5 {
        display: none;
      }

      input[type=checkbox]{
          display: none;
      }

      label{
          box-sizing: border-box;
          display: inline-block;
          width: 100%;
          background-color: white;
          margin: 0;
          padding: 15px 20px;
          // This line stole a little bit of Brendan's soul. tee hee.
          // The dropdown chevron needs to be an absolutely positioned pseudo element.
          // This padding allows the text to wrap without flowing under the chevron.
          padding-right: calc(6% + 26.25px);
          cursor: pointer;
          text-align: left;
          border-top: 1px solid #ccc;
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          user-select: none;
          transition: background-color 150ms ease-in;


          &::before {
              border-bottom: none;
              content: '';
              @include svg-sprite(chevron-circle-lt-blue, $rotate:flip);
              height: 1.3125em;
              font-size: 20px;
              margin-top: -8px;
              position: absolute;
              top: 39%;
              transform-origin: center;
              right: 3%;
              transition: transform 150ms ease-in;
              width: 1.3125em;
          }

      }

      ul {
          display: none;
          position: absolute;
          list-style: circle;
          text-align: left;
          width: 100%;
          z-index: 1;
          margin:0;
          padding:0;
          box-shadow: 2px 3px 2px 0 #c2c2c2, -2px 3px 2px 0 #c2c2c2;
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;


          li {
              width: 100%;
              background-color: #fff;
              color: #606060;
              cursor: pointer;
              padding: 0;
              margin: 0;

              //&:nth-of-type(even) {
              //    background: #EEE;
              //}
              //:first-child {
               // border-top: 2px solid #fff;
            //}

              &:hover {
                  background-color: #286ea7;


                  a {
                      color: #808080;

                      &:hover {
                         color: #fff;
                         display: inline-block;
                         position: relative;
                         z-index: 1;
                      }
                  }
              }

              &::before {
                  display: none;
              }

              a {
                  color: #808080;
                  text-decoration: none;
                  display: inline-block;
                  width: 100%;
                  padding: 15px 15px 15px 0.9375em;
                  position: relative;
                  z-index: 1;
              }
          }
      }

      input[type=checkbox]:checked ~ label {
          //background-color: rgb(210, 210, 210);
          border-bottom: none;
          box-shadow: 2px 3px 2px 0 #c2c2c2, -2px 3px 2px 0 #c2c2c2;

          &::before {
              transform: rotateZ(0deg)
          }
      }

      input[type=checkbox]:checked ~ ul {
          display: block;
      }
  }

}
