/* begin accordion styles */
@media only screen and (max-width :640px) {
	.ui-accordion .ui-accordion-header {
		margin: 0;
	}
	.accordion h2.ui-accordion-header, .accordion h2.ui-accordion-header + div {
		margin-left: -32px;
		margin-right: -32px;
	}
}
/* end accordion styles */