/* Public Archive banner */
.public-archive-banner {
	background: #bb0e3d;
	@include font-montserrat;
	font-size: 1.125em;
	font-weight: bold;
	line-height: 1.12;
	color: white;
	padding: 1.28;
	margin-bottom: 1px;
	a {
		color: white;
		text-decoration: underline;
	}
	p:first-child {
		margin-top: 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
}
/* END Public Archive banner */

/* BEGIN Site Notices banners (including Colo and Emergency) */
$notice-banner-padding: 23px 25px;
$notice-banner-font-size-desktop: 18px;
$notice-banner-line-height-desktop: 20px;
$notice-banner-font-size-mobile: 12px;
$notice-banner-line-height-mobile: 14px;
.site-notification {
	margin-top: 1px;
	background-color: #bb0e3d;
	padding-bottom:1px;
	.first-SI &, .only-SI & {
		margin-top: 0;
	}
	.row {
		padding: em-calc($notice-banner-padding);
	}
	.notification {
		@include font-montserrat;
		font-weight: bold;
		font-size: em-calc($notice-banner-font-size-desktop);
		line-height: em-calc($notice-banner-line-height-desktop, $notice-banner-font-size-desktop);
		color: white;

		a {
			text-decoration: underline;
			color: white;

			&:hover {
				color: #cae2f4;
			}
		}
	}
}
@media only screen and (max-width:640px) {
	.site-notification {
		.notification {
			font-size: em-calc($notice-banner-font-size-mobile);
			line-height: em-calc($notice-banner-line-height-mobile, $notice-banner-font-size-mobile);
		}
	}
}
/* END Site Notices banners */
