/********** BEGIN Blogs Styles ******************************************/
/*Begin Blog Subscribe Button CSS*/
.subscribeRSS {
margin-bottom: 10px;
}

.subscribeRSS a.blogRSS:before {
background: url("/publishedcontent/images/images/design-elements/icons/nci-sprite.png") no-repeat 0 0px;
content: " ";
width: 22px;
height: 21px;
display: inline-block;
background-position: -14px -377px;
}

.subscribeRSS a.blogRSS span {
padding-left: 5px;
display: inline-block;
}


@media only screen and (max-width: 1024px){
.subscribeRSS a.blogRSS {
padding: 2px 15px;
text-decoration: none;
font-size: 13px;
background-color: #82368c;
color: #fff;
}
.subscribeRSS a.blogRSS:before {
background: none;
content: " ";
width: 0;
height: 0;
display: inline-block;
}

.subscribeRSS a.blogRSS span {
padding: 0;
display: inline-block;
}

}









/*End Blog Subscribe Button CSS*/


/*Begin Blog Content CSS*/
.blog-post-publishing-info {
	font-size:12px;
}
p.blog-post-publishing-info {
	margin-top:0;
}
.blog.body-banner:before {
	@include call-to-action-corner();
	content: "Blog";
}
.blog-post {
	border-top: 1px solid #bdbdbd;
	padding-top: 16px;
	
	&:first-child {
		border-top: none;
		margin-top: 0;
		padding-top: 0;
	}
	h3 {
		margin: 0;
		width: 70%;
		float: left;
	}
	.post-info .post-title > a {
		display: block;
		float: right;
	}
	.post-thumb img {
		max-width: 100%;
	}
}
.blog-list {
	margin-top: 24px;
}
.blog-pager {
	border-top: 1px solid #bdbdbd;
	padding-top: 24px;
}
.blog-pager a {
	display: block;
}
.blog-pager a.newer {
	float: right;
}
.blog-pager a.older {
	float: left;
}
.post-title h3 a {
	color: #333333;
	text-decoration: none;
}
a.comment-count {
	background: url($icons + "comment-icon.png") no-repeat;
	padding-left: 26px;
	height: 22px;
}
.date-author {
	padding-top: 10px;
}
.blog-post-older {
	float:left;
	width:30%;
}
.blog-post-newer {
	width: 30%;
	text-align:right;
	float:right;
}
.blog-post-older p {
	margin-top:0;
}
.blog-post-newer p {
	margin-top:0;
}
/*end Blog Content CSS*/






/********** END Blogs Styles ******************************************/
