/********** BEGIN Blogs Styles ******************************************/
/*Begin Blog Subscribe Button CSS*/
.subscribeRSS {
	margin-bottom: 10px;
}

.subscribeRSS a.blogRSS:before {
	/* 
	content: " ";
	background: url($icons + "nci-sprite.png") no-repeat -123px -562px;
	width: 23px;
	height: 23px;
	display: inline-block;
	*/
}

.subscribeRSS a.blogRSS span {
	// padding-left: 5px;
	display: inline-block;
}
/*End Blog Subscribe Button CSS*/

// blog comment policy
.blog-comment-policy {
	display: none;
	// made visible by JavaScript if an element matching `#cgvCommentsSl` exists (i.e., if comments are enabled)
	// @see all.js
}

/*Begin Blog Content CSS*/
.blog-post-publishing-info {
	font-size: 12px;
}
p.blog-post-publishing-info {
	margin-top: 0;
}
.blog.body-banner:before {
	@include call-to-action-corner();
	content: "Blog";
}
.blog-post {
	border-top: 1px solid #bdbdbd;
	padding-top: 16px;

	&:first-child {
		border-top: none;
		margin-top: 0;
		padding-top: 0;
	}
	h3 {
		margin: 0;
		width: 70%;
		float: left;
	}
	.post-info .post-title > a {
		display: block;
		float: right;
	}
	.post-thumb img {
		max-width: 100%;
	}
}
.blog-list {
	margin-top: 24px;
}
.blog-pager {
	border-top: 1px solid #bdbdbd;
	padding-top: 24px;

	a {
		display: block;

		&.newer {
			float: right;
		}
		&.older {
			float: left;
		}
	}
}
.post-title {
	> h3 {
		font-weight: normal;
	}
	a {
		text-decoration: none;

		&:hover, &:focus {
			text-decoration: none;
			color: $lcranberry;
		}
	}
}
a.comment-count {
	background: url($icons + "comment-icon.png") no-repeat;
	padding-left: 26px;
	height: 22px;
}
.date-author {
	padding-top: 10px;
}
.blog-post-older {
	float: left;
	width: 50%;
    padding-right: 0.3em;
}
.blog-post-newer {
	width: 50%;
	text-align: right;
	float: right;
    padding-left: 0.3em;
}
.blog-post-older p,
.blog-post-newer p {
	margin-top: 0;
}
/*end Blog Content CSS*/

/********** END Blogs Styles ******************************************/
