$bp-xsmall: 390px;
$bp-small: 641px;
$bp-medium: 1025px;
$bp-large: 1441px;

@mixin bp($point) {
  @if $point == xtra-large {
    @media only screen and (min-width: $bp-large) { @content; }
  }
  @else if $point == large {
    @media only screen and (min-width: $bp-medium) and (max-width: ($bp-large - 1))  { @content; }
  }
  @else if $point == large-up {
    @media only screen and (min-width: $bp-medium)  { @content; }
  }
	@else if $point == medium {
    @media only screen and (min-width: $bp-small) and (max-width: ($bp-medium - 1))  { @content; }
  }
	@else if $point == medium-down {
    @media only screen and (max-width: ($bp-medium - 1))  { @content; }
  }
	@else if $point == small {
    @media only screen and (max-width: ($bp-small - 1))  { @content; }
  }
	@else {
		@media only screen and #{$point} { @content; }
	}
}


.test {
  width: 25%;
  @include bp(xtra-large) {
    content: "this is extra large";
  }
	@include bp(large) {
   content: "this is large";
  }
	@include bp(large-up) {
    content: "this is large up";
  }
	@include bp(medium) {
    content: "this is medium";
  }
	@include bp(medium-down) {
    content: "this is medium down";
  }
	@include bp(small) {
    content: "this is small";
  }
	@include bp('(max-width: 30px) and (min-width: 20px)') {
		content: "testing custom";
	}
}