$lcranberry:#BB0E3D;
$red:       #C60F13;
$cranberry: #7F0A0C;
$orange:    #9C3303;
$lorange:   #FF5F00;
$cream:     #FCEFA1;
$teal:      #2BA6CB;
$dteal00:   #186e88;
$purple:    #82368C;


$white:     #FFFFFF;
$offwhite:  #FFFFFB;
$white01:   #F9F9F9;
$white02:   #F6F6F6;
$white03:   #F5F5F5;
$white04:   #F2F2F2;
$white05:   #E9E9E9;
$white06:   #E6E6E6;

$lgrey01:   #DDDDDD;
$lgrey02:   #D3D3D3;
$lgrey03:   #CCCCCC;

$grey00:    #ADADAD;
$grey01:    #AAAAAA;
$grey02:    #999999;
$grey03:    #939393;
$grey04:    #888888;
$grey05:    #7A7A7A;

$dgrey00:   #606060;
$dgrey01:   #555555;
$dgrey02:   #333333;
$dgrey03:   #222222;

$black:     #000000;

$base00: $white;
$base01: $offwhite;

$highlight: $cranberry;
