/****************** BEGIN Contact Info styles ********************/

.live-help-button {
	@include sprite($x-coordinate: -467px, $y-coordinate: 11px, $width: 164px, $height: 54px);
}

.contact-buttons {
	overflow: auto;
}

.contact-buttons a {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 8px 15px 0;
	text-decoration: none;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	display: block;
	color: #fff;
	line-height: 24px;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
}

.contact-buttons a:hover {
	text-decoration: none;
}

.contact-buttons a.phone {
	background-color: #82368c;
}
.contact-buttons a.chat {
	background-color: #bb0e3d;
}
.contact-buttons a.email {
	background-color: #ff5f00;
}

.contact-buttons a.icon {
	padding-left: 11px;
}

.contact-buttons a.icon span {
	padding-left: 11px;
	vertical-align: top;
	display: inline-block;
}

.contact-buttons a.icon:before {
	content: "";
	display: inline-block;
}

// these are used on Contact Us mobile page
// background-position-y below is to account for the difference in height between the max height (above, 27px) and the icon's height
// it should center the icon vertically
// Example: background-position: X (Y + (maxHeight - iconHeight) / 2);
.contact-buttons a.phone.icon:before {
	@include sprite($x-coordinate: -282px, $y-coordinate: (-350px + (27px - 15px) / 2), $width: 13px, $height: 27px);
}
.contact-buttons a.chat.icon:before {
	@include sprite($x-coordinate: -307px, $y-coordinate: (-350px + (27px - 15px) / 2), $width: 18px, $height: 27px);
}
.contact-buttons a.email.icon:before {
	@include sprite($x-coordinate: -123px, $y-coordinate: (-110px + (27px - 15px) / 2), $width: 23px, $height: 27px);
}

/****************** END Contact Info styles ********************/
