/********** BEGIN Cancer Type Home Page Styles ******************************************/
.image-right-medium {
	position: relative;
}
.bgWhite {
	background-color: #fff;
}
.relatedcontent {
	&:hover a, a:hover,
	&:focus a, a:focus {
		color: #bb0e3d;
		text-decoration: none;
	}

	a:after {
		content: $circle-arrow-red-small;
		vertical-align: middle;
		padding-top: 7px;
		padding-left: 7px;
		top: 4px;
		position: relative;
	}

	&:hover a:after,
	&:focus a:after {
		content: $circle-arrow-blue-small;
	}
}
.cthp-content {
	background: #008eb0 url($backgrounds + "hexagon_molecular_structure_body.png") no-repeat 110% 350px;
}
.cthp-intro-multimedia {
	background: white;
}
.cthp-body {
	float:left;
	width: 55%;
	display: block;
	clear: left;
}
.cthp-body h3 {
	margin-top: 0px;
	float:left;
	width: 55%;
}
.large-12.columns.cthp-intro-multimedia.clearfix {
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 20px;
}
@media only screen and (max-width: 640px) {
	.large-12.columns.cthp-intro-multimedia.clearfix {
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0.9375em;
	}
}
.cthp-intro-multimedia .image-right-medium {
	margin-left: 0;
}
.cthp-content h1 {
	color: white;
}
.normal li {
	background: url($icons + "blue-list-dot.png") 0 7px no-repeat;
	padding-left: 0.9375em;
}
.cthp-content .cardBody {
	overflow: auto;
	padding: 0.625em 0.8em;
}
.cthp-pdq-label {
	margin-top: 0;
}
.cardBody p {
	font-size: 1em;
}
.cthp-card-container {
margin-left: -0.9375em; margin-right: -0.9375em; margin-top: 30px;
}
.cthpCard ul.moreInfo li {
	list-style-type: none;
	padding-left: 0.9375em;
}
.moreInfo li:before {
	content: "\2022";
	display: inline-block;
	position: relative;
	left: -.5em;
	top: 0.1em;
	margin: 0 -.2em;
	font-size: 1.1em;
	color: #186e88;
}
.main-content a.viewAll {
	color: $body-font-color;
}
.main-content a.viewAll:hover, .main-content a.viewAll:focus {
	text-decoration: none;
}
.guide h3 {
	color: #fff;
}
.cthp-version-toggle {
	float: right;
	background: #dbf2f8 $circle-arrow-off-cream-small 98% no-repeat;
	color: #fff;
	padding: 0.625em 3.6em 0.625em 0.7em;
	margin: -55px 0 20px 0;

	&:hover, &:focus {
		background-image: $circle-arrow-red-small;
	}

	a {
		color: $body-font-color;
	}
	&:hover a, &:focus a {
		text-decoration: none;
		color: #bd153c;
	}
}
.bp20 {
	padding-bottom: 1.25em;
}
.alphalist {
	padding: 1.2em 0;
	overflow: auto;
}
.alphalist li {
	float: left;
	font-size: 1.625em;
	font-family: 'Montserrat', Arial;
	margin-right: 1em;
	color: $body-font-color;
}
.cthp-content.ui-accordion .ui-accordion-header {
	color: white;
	font-weight: bold;
}
.cthp-treatment,
.cthp-research,
.cthp-causes,
.cthp-genetics,
.cthp-screening,
.cthp-survival,
.cthp-general {
	margin-bottom: 1.25em;
}
.cthp-treatment h3,
.cthp-research h3,
.cthp-causes h3,
.cthp-genetics h3,
.cthp-screening h3,
.cthp-survival h3,
.cthp-general h3 {
	color: #fff;
	padding: 0.47em 0.6em;
	margin: 0;
	text-transform: uppercase;
}
/* Begin CTHP Card styling */
.cthp-content .cthp-treatment h3 {
	background: #008eb0 url($backgrounds + "CTHP-green-waves.jpg") repeat-x;
}
.cthp-content .cthp-research h3 {
	background: #008eb0 url($backgrounds + "CTHP-blue-gears.jpg") repeat-x;
}
.cthp-content .cthp-causes h3 {
	background: #008eb0 url($backgrounds + "CTHP-purple-squares.jpg") repeat-x;
}
.cthp-content .cthp-genetics h3 {
	background: #008eb0 url($backgrounds + "CTHP-blue-diamonds.jpg") repeat-x;
}
.cthp-content .cthp-screening h3 {
	background: #008eb0 url($backgrounds + "CTHP-pink-triangles.jpg") repeat;
}
.cthp-content .cthp-survival h3 {
	background: #008eb0 url($backgrounds + "CTHP-yellow-squares.jpg") repeat-x;
}
.cthp-content .cthp-general h3 {
	background: #008eb0 url($backgrounds + "CTHP-blue-octagons.jpg") repeat-x;
}
/* End CTHP Card styling */
@media only screen and (min-width: 1025px) {
	.cthp-breadcrumb {
		padding-left: 0;
	}
	.cthp-padding {
		padding-left: em-calc(8px);
	}
	.cthp-content h1 {
		margin-right: 9.5em;
	}
}
/********** END Cancer Type Home Page Styles ******************************************/
