/********** BEGIN Cancer Type Home Page Styles ******************************************/
.image-right-medium {
	position: relative;
}
.bgWhite {
	background-color: #fff;
}
/* no longer used on CTHP
.relatedcontent {
	&:hover a, a:hover,
	&:focus a, a:focus {
		color: #bb0e3d;
		text-decoration: none;
	}

	a:after {
		content: $circle-arrow-red-small;
		vertical-align: middle;
		padding-top: 7px;
		padding-left: 7px;
		top: 4px;
		position: relative;
	}

	&:hover a:after,
	&:focus a:after {
		content: $circle-arrow-blue-small;
	}
}
*/
.cthp-content {
	//background: #008eb0 image-url($backgrounds + "hexagon_molecular_structure_light_blue.png") no-repeat 110% 350px;
	background: #008eb0 image-url($backgrounds + "hexagon_molecular_structure.png") no-repeat 110% 350px;
  &.cthp-patient-content {
		background-color: #6254A3;
	}

	@include bp(small) {
		background: white;
  	&.cthp-patient-content {
			background-color: inherit;
		}
	}
}
.cthp-intro-multimedia {
	background: white;

	.image-right-medium {
		margin-left: 0;
	}

	figure.video {
		float: right;
		width: 40%;
		margin: 0 0 2.5em 0;
	}

	@include bp(small) {
		figure {
			&.video {
				width: 100%;
				margin: 0 0 1em 0;
			}
		}
	}
}
.cthp-body {
	float:left;
	width: 55%;
	display: block;
	clear: left;
}
@include bp(small) {
	.cthp-body {
		float: none;
		width: 100%;
	}
	.cthp-title {
		margin-top: 0;
	}
}
@include bp(large-up){
	.cthp-title {
		margin: 0;
	}
}

.cthp-body h3 {
	margin-top: 0px;
	float:left;
	width: 55%;
}
.large-12.columns.cthp-intro-multimedia.clearfix {
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 15px;
	margin-left: 15px;
}
@include bp(small) {
	.large-12.columns.cthp-intro-multimedia.clearfix {
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0.9375em;
	}
}
@media only screen and (max-width: 1024px) {
	.large-12.columns.cthp-intro-multimedia.clearfix {
		margin-left: 0;
	}
}
.cthp-content h1 {
	color: white;

	@include bp(small) {
		color: $header-font-color;
	}
}
//.normal li {
//	background: image-url($icons + "blue-list-dot.png") 0 7px no-repeat;
//	padding-left: 0.9375em;
//}
.cthp-content .cardBody {
	padding: 0.625em 0.8em;

	@include bp(small) {
		padding: 0;
	}
}
.cthp-pdq-label {
	margin-top: 0;
}
.cardBody p {
	font-size: 1em;
}
.cthp-card-container {
	margin-left: -0.9375em;
	margin-right: -0.9375em;
	margin-top: 0;
}
@include bp(small) {
	.cthp-card-container {
		margin-top: 0;
		padding-left: 0.9375em;
		padding-right: 0.9375em;
	}
	.cthp-card-container img {
		display: none;
	}
	.cthp-intro-multimedia h3 {
		text-transform: uppercase;
	}
}
.cthpCard .cardBody ul li {
	list-style-type: none;
	padding-left: 0.9375em;
}
.cthpCard .cthp-general .cardBody ul li,
.cthpCard a + .cardBody ul li,
.cthpCard .cardBody br + ul li {
	padding-left: 0;
}
.cthp-research .cardBody {
	p {
		margin-top: 2px;
		margin-bottom: 2px;
		a {
			display: block;
			padding-left: 0.9375em;
		}
	}
	br {
		display: none;
	}
	a.arrow-link {
		margin-top: 19px;
	}
}
.more-info-list ul li:before,
.cthp-pdq-label ul li:before,
.cardBody h4 + ul li:before,
.cardBody p a:before  {
	content: "\2022";
	display: inline-block;
	position: relative;
	left: -.5em;
	top: 0.1em;
	margin: 0 -.2em;
	font-size: 1.1em;
	color: $default-text;
}
.main-content a.viewAll {
	color: $body-font-color;
}
.main-content a.viewAll:hover, .main-content a.viewAll:focus {
	text-decoration: none;
}
.guide h3 {
	color: #fff;
}
.cthp-version-toggle {
	position: relative;
	float: left;
	background-color: #dbf2f8;
	color: #fff;
	margin: 0 50% 20px 0;

	/* margin-top: -10px; -->  half the icon height */

	a {
		display: block;
		white-space: nowrap;
		color: $body-font-color;
		padding: 0.625em 3.6em 0.625em 0.7em;

		/* Need to modify the text for the version toggle */
		/* The text-transform and the first-letter        */
		/* style in addition to the following two rules   */
		/* are achieving the text changes                 */
		/* Also need to pay attention to proper case in ES*/
		html[lang="es"] & {
			text-transform: lowercase;

			&::first-letter {
				text-transform: uppercase;
			}
		}

		html[lang="en"] &::before {
			content: 'Go to ';
		}
		html[lang="es"] &::before {
			content: 'Vaya a la ';
		}

		&::after {
			content: "";
			@include svg-sprite(chevron-circle-dk-blue,$rotate:right);
			position: absolute;
			right: 2%;
		}

		&:hover, &:focus {
			text-decoration: none;
			color: #bd153c;

			&::after {
				@include svg-sprite(chevron-circle-red);
			}
		}
	}


	@include bp(small) {
		float: none;
		background-color: white;
		display: inline-block;
		margin-right: 0;

		a {
			padding: 0 40px 0 0;
			white-space: normal;
		}
	}
}
.bp20 {
	padding-bottom: 1.25em;
}
.alphalist {
	padding: 1.2em 0;
	overflow: auto;

	li {
		float: left;
		font-size: 1.625em;
		font-family: $montserrat-font-stack;
		margin-right: 1em;
		color: $body-font-color;
	}
}
.cthp-content.ui-accordion .ui-accordion-header {
	color: white;
	font-weight: bold;
}
@include bp(small) {
	.cthp-card-container .cthp-mm-infographic img {
		display: block;
	}
}
.cthpCard > div {
	margin-bottom: 1.25em;

	@include bp(small) {
		margin-bottom: 0;
	}
}
.cthpCard h3  {
	color: #fff;
	padding: 0.47em 0.6em;
	margin: 0;
	text-transform: uppercase;
}
/** Begin CTHP Overview styling */
/* Align top of Overview Card with top of first guide/feature card */
@include bp(small) {
	#nvcgSlCTHPCards.cthp-card-container {
		margin-top: 0;
	}
}
@include bp(large-up) {
	#nvcgSlCTHPCards.cthp-card-container {
		margin-right: 0;
		margin-left: 0;
	}
}
/* TODO: Clean up names and update Percussion template html to fix last-minute style change
/* Move double high back above first 2 cards */
.large-6.columns.cthp-overview-doublehigh {
	width: 100%;
}
/* Align the slotted media image inside the Overview Card */
.cthp-overview-doublehigh .cthp-intro-multimedia figure {
	padding-top: 16px;
}
/* Format card title */
h3.cthp-overview-title {
	//background: #4c34c3 image-url($backgrounds + "CTHP-blue-purple-circles.jpg") repeat-x;
	color: #ffffff;
	padding: 0.47em 0.6em;
	margin: -5px -15px 0;
	text-transform: uppercase;
}
/* Fix spacing in Overview Card to line up with first guide/feature card */
.cthp-overview-doublehigh .cthp-body p {
	margin: 0.625em 0 1.25em;
}
/* Fix alignment of card on all screens */
.cthp-overview-doublehigh {
	padding: 0 1.875em 1.313em 0;
}
@include bp(small) {
	.cthp-overview-doublehigh {
		padding-right: 0;
		padding-bottom: 0;
	}
}
@include bp(medium) {
	.cthp-overview-doublehigh {
		padding-right: 0;
	}
}
.doublehigh-expand {
	pointer-events: none;
}
@include bp(small) {
	.doublehigh-expand {
		display: none;
	}
}
/** End CTHP Overview styling */
/** Begin CTHP Card styling */
@import "../../../../StyleSheets/sprites/img-sprites";
@import "accordion-sprite-map";
@include img-sprites-same-size($accordion-sprites,$height:auto,$repeatX:true);
//.cthp-content {
//}

[class*="cthp-overview"] h3.cthp-overview-title {
	@extend .accordion-blue-purple-circles;
}
.cthp-card-container {
	.cthp-treatment h3 {
		@extend .accordion-green-waves;
	}
	.cthp-research h3 {
		@extend .accordion-blue-gears;
	}
	.cthp-causes h3 {
		@extend .accordion-purple-squares;
	}
	.cthp-genetics h3 {
		@extend .accordion-blue-diamonds;
	}
	.cthp-screening h3 {
		@extend .accordion-pink-triangles;
	}
	.cthp-survival h3 {
		@extend .accordion-yellow-squares;
	}
	.cthp-general h3 {
		@extend .accordion-blue-octagons;
	}
	.cthp-overview h3 {
		@extend .accordion-blue-purple-circles;
	}
	.cthp-pink-feature h3 {
		@extend .accordion-red-triangles;
	}
	.cthp-yellow-feature h3 {
		@extend .accordion-yellow-hexagons;
	}
}

/* TODO: update CTHP home and guide Percussion templates with a cleaner image hover class. This is a dirty fix for Devon Rex pre-go-live*/
.cthpCard .cardBody,
.cthpCard .cardBody:hover,
.cthpCard .cardBody:hover p,
.cthp-content .cardBody:hover,
.cthp-content .rxbodyfield:hover{
	background-color: white;
}
/* .cthpCard + div:hover li a.arrow-link { */
.cthpCard + div li a.arrow-link:hover {
	color: #bb0e3d;

}
.cthpCard > div > h3 + div:hover {
	background-color: black;

	@include bp(small) {
		background-color: white;
	}
}
.cthpCard > div > h3 + div:hover img {
	opacity: 0.8;
}
/* Don't change color below multimedia figures on hover */
.cthp-fi-video figure, figure.cthp-mm-video-player, figure.cthp-mm-video-playlist {
	margin-bottom: 0;
}
/* End CTHP Card styling */

@include bp(medium-up) {
	.cthp-breadcrumb {
		padding-left: 0 !important;
	}
}
@include bp(large-up) {
	.cthp-padding {
		padding-left: em-calc(8px);
	}
}
@include bp(small) {
	.row .tp20 {
		margin-top: 0;
	}
}
/********** END Cancer Type Home Page Styles ******************************************/
