/* Counter / pager styles above listing body*/
.ct-listing-util-top  {
    hr {
      margin-top: 32px;
      margin-bottom: 0px;
    }
  }
  
  @include bp(medium-down) {
    .ct-listing-util-top {
      .ct-listing-pager {
        float: none;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      hr {
        margin-bottom: 5px;
      }
    }
  
    .ct-listing-util-bottom {
      .ct-listing-pager {
        float: left !important;
      }
    }
  }