/* Begin Ebooks */
div.ebook-info {
	clear: left;
	margin-left: 0;
	margin-bottom: 2em;
	margin-top: 2em;
}
div.ebook-cover {
	float: left;
	margin: 0 10px 10px 0;
}
div.ebook-cover img {
	margin-bottom: 10px;
	margin-right: 1em;
}
div.ebook-title h4 {
	margin-top: 0;
}
/* End Ebooks */

/* Begin eBook buttons */
.pub-buttons {
	overflow: auto;
	font-family: #{$montserrat-font-stack};
}

.pub-buttons a {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	min-width: 130px;
	padding: 6px 15px 0;
	text-decoration: none;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	display: block;
	color: #fff;
	line-height: 24px;
	font-size: 13px;
	font-weight: bold;
	-webkit-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.05);
	box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.05);
}

.pub-buttons a.lector {
	line-height: 12px;
	padding-bottom: 4px;
}

.pub-buttons a:hover {
	text-decoration: none;
}

.pub-buttons a.html {
	background-color: #82368c;
}

.pub-buttons a.pdf {
	background-color: #bb0e3d;
}
.pub-buttons a.pdf:hover {
	background-color: darken(#bb0e3d, 10%);
}

.pub-buttons a.kindle {
	background-color: #ff5f00;
}
.pub-buttons a.kindle:hover {
	background-color: darken(#ff5f00, 10%);
}

.pub-buttons a.epub,
.pub-buttons a.lector {
	background-color: #2a72a5;
}
.pub-buttons a.epub:hover,
.pub-buttons a.lector:hover {
	background-color: darken(#2a72a5, 10%);
}

.pub-buttons a.free {
	background-color: #2dc799;
}
.pub-buttons a.free:hover {
	background-color: darken(#2dc799, 10%);
}

.pub-buttons a.icon {
	padding-left: 11px;
	height: 36px;
}
.pub-buttons a.icon.pdf {
	padding-left: 36px;
}
.pub-buttons a.icon.kindle {
	padding-left: 27px;
}
.pub-buttons a.icon.epub {
	padding-left: 35px;
}
:lang(es) .pub-buttons a.icon.epub {
	padding-left: 13px;
}

.pub-buttons a.icon span {
	padding-left: 11px;
	vertical-align: top;
	display: inline-block;
}

.pub-buttons a.icon:before {
	background: url("/publishedcontent/images/images/design-elements/icons/nci-sprite.png") no-repeat 0 0;
	content: "";
	display: inline-block;
	height: 25px;
}

// background-position-y below is to account for the difference in height between the max height (above, 25px) and the icon's height
// it should center the icon vertically
// example:
// background-position: X (Y + (maxHeight - iconHeight) / 2);
.pub-buttons a.kindle.icon:before {
	background-position: -18px (-513px + (25px - 18px) / 2);
	width: 21px;
	//height: 18px;
}

.pub-buttons a.html.icon:before {
	background-position: -20px (-590px + (25px - 13px) / 2);
	width: 23px;
	//height: 13px;
}

.pub-buttons a.pdf.icon:before {
	background-position: -21px (-475px + (25px - 19px) / 2);
	width: 17px;
	//height: 19px;
}

.pub-buttons a.epub.icon:before,
.pub-buttons a.lector.icon:before {
	background-position: -21px (-547px + (25px - 25px) / 2);
	width: 17px;
	//height: 25px;
}

.pub-buttons a.free.icon:before {
	background-position: -21px (-625px + (25px - 24px) / 2);
	width: 17px;
	//height: 24px;
}


/* End eBook buttons */
