/* Begin eBook buttons */

.pub-buttons {
	overflow:auto;
}

.pub-buttons a{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 5px 15px;
	text-decoration: none;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	display: block;
	color: #fff;
	line-height: 24px;
	font-size: 13px;
}

.pub-buttons a:hover{
	text-decoration: none;
}

.html {
	background-color: #82368c;
}
.pdf {
	background-color: #bb0e3d;
}
.kindle {
	background-color: #ff5f00;
}
.epub {
	background-color: #2a72a5;
}

.pub-buttons a.icon {
	padding-left: 11px;
}

.pub-buttons a.icon span{
	padding-left: 36px;
	background: url($icons + "nci-sprite.png") no-repeat 0 -4px;
	display: block;
}

.pub-buttons a.icon.html span {
	background-position: -20px -584px;
}

.pub-buttons a.icon.pdf span {
	background-position: -20px -474px;
}

.pub-buttons a.icon.kindle span {
background-position: -20px -511px;
}

.pub-buttons a.icon.epub span {
background-position: -20px -548px;
}



/* End eBook buttons */
