.error-page {
	color: #8169b8;
	font-size: 1.125em;
	background: #f7FBF8;
	h1 {
		color: #8169b8;
		font-size: 40px;
		line-height: 47px;
	}
	a.arrow-link {
		color: #8169b8;
		display: inline;
	}
	.columns {
		padding: 0 35% 0 10%;
	}
	p {
		padding-right: 15%;
	}

	@include bp(small) {
		.columns {
			padding: 0 0.9375em;
		}
		p {
			padding-right: 0;
		}
	}

}
.spanish-error {
	background: #16809e url($backgrounds + "hexagon_molecular_structure_light_blue.png") no-repeat top right;
	padding-bottom: 50px;
	margin-top: 50px;
	color: #ffffff;

	h1, a.arrow-link {
		color: #ffffff;
	}
}
