/************** BEGIN Font Declarations ************************/
// Google font, Montserrat and Noto Sans
@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Sans:400,400italic,700,700italic');

/* Noto Sans */
$noto: "Noto Sans";
$noto-font-stack: '#{$noto}', Arial, sans-serif;
@mixin font-noto {
	font-family: #{$noto-font-stack};
}

/* Montserrat */
$montserrat: "Montserrat";
$montserrat-font-stack: '#{$montserrat}', Arial, sans-serif;
@mixin font-montserrat {
	font-family: #{$montserrat-font-stack};
}

/********************* END Font Declarations ******************************************/