/************** BEGIN Font Declarations ************************/
$weight-map: (normal: "400", bold: "700");
$style-map: (normal: "", italic: "italic");

// mixin for creating fonts with family/weight/style.
// use with @include font-face("Family", "24", "italic")
@mixin font-face($family, $weight:normal, $style:normal) {
	// set the font-family path component (e.g., "Noto-Sans")
	$path-family: str-replace($family, ' ', '-');

	// set the weight and style path components (e.g., "700", "700italic", "regular", "italic")
	$path-weight: '';
	$path-style: 'regular';
	@if($weight == normal) {
		@if($style == normal) {
			$path-style: 'regular';
		} @else {
			$path-style: map-get($style-map, $style);
		}
	} @else {
		$path-weight: map-get($weight-map, $weight);
		$path-style: map-get($style-map, $style);
	}

	$path: $fonts + $path-family + '-' + $path-weight + $path-style;


	@font-face {
		font-family: '#{$family}';
		font-weight: $weight;
		font-style: $style;
		src: url($path + '.eot?#iefix');
		src: url($path + '.eot?#iefix') format('embedded-opentype'), // IE6-8
		url($path + '.woff') format('woff'), // Modern Browsers
		url($path + '.ttf') format('truetype'), // Safari, Android, iOS
		url($path + '.svg#' + str-replace(#{$family}, ' ', '')) format('svg'); // Legacy iOS
	}
}

/* Noto Sans */
$noto: "Noto Sans";
$noto-font-stack: $noto, Arial, sans-serif;

@include font-face($noto, normal, normal);
@include font-face($noto, normal, italic);
@include font-face($noto, bold, normal);
@include font-face($noto, bold, italic);

/* Montserrat */
$montserrat: Montserrat;
$montserrat-font-stack: $montserrat, Arial, sans-serif;

@include font-face($montserrat, normal);
@include font-face($montserrat, bold);

/* DIN */
@font-face {
	font-family: "DIN Condensed";
	font-weight: normal;
	font-style: normal;
	src: url($fonts + "DIN-Condensed.eot?#iefix");
	src: url($fonts + "DIN-Condensed.eot?#iefix") format("eot"),
		 //url($fonts + "DIN-Condensed.woff2") format("woff2"),
		 url($fonts + "DIN-Condensed.woff") format("woff"),
		 url($fonts + "DIN-Condensed.ttf") format("truetype"),
		 url($fonts + "DIN-Condensed.svg") format("svg");
}

@font-face{
	font-family:"DIN Condensed Bold";
	src:url($fonts + "DIN-Condensed-Bold.eot?#iefix");
	src:url($fonts + "DIN-Condensed-Bold.eot?#iefix") format("eot"),
		//url($fonts + "DIN-Condensed-Bold.woff2") format("woff2"),
		url($fonts + "DIN-Condensed-Bold.woff") format("woff"),
		url($fonts + "DIN-Condensed-Bold.ttf") format("truetype");
}

@font-face{
	font-family:"DIN Regular";
	src:url($fonts + "DIN-Regular.eot?#iefix");
	src:url($fonts + "DIN-Regular.eot?#iefix") format("eot"),
		//url($fonts + "DIN-Regular.woff2") format("woff2"),
		url($fonts + "DIN-Regular.woff") format("woff"),
		url($fonts + "DIN-Regular.ttf") format("truetype");
}

$din-condensed-stack: "DIN Condensed", $montserrat-font-stack;
$din-condensed-bold-stack: "DIN Condensed Bold", $montserrat-font-stack;
$din-regular-stack: "DIN Regular", $montserrat-font-stack;


/* Museo */
@font-face {
	font-family: Museo;
	src:
		url($fonts + 'Museo-300.ttf') format('truetype'),
		url($fonts + 'Museo-300.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Museo;
	src:
		url($fonts + 'Museo-regular.ttf') format('truetype'),
		url($fonts + 'Museo-regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

$museo-stack: Museo, $montserrat-font-stack;

/********************* END Font Declarations ******************************************/