/********************* BEGIN Footer Styles ******************************************/
.columns.footer-nci {
    font-family: $montserrat-font-stack;
    font-size: 25px;
    padding-left: 0.6em;
    padding-right: 0.6em;

    span {
        font-size: 16px;
    }
}

.site-footer {
    background: $footer image-url($backgrounds + "hexagon_molecular_structure.png") no-repeat -26% 115px;
    padding: 1em 0;
    color: white;

    h2 {
        color: white;
        font-size: 1em;
        font-weight: normal;
        text-transform: uppercase;
        font-family: $noto-font-stack;
        margin-bottom: 1em;
    }

    a,
    a:hover, a:focus {
        color: white;
        font-weight: 700;
    }

    a:hover, a:focus {
        text-decoration: underline;
    }

    .row {
        margin: 1em auto;
    }

    li {
        margin-bottom: 1em;
        line-height: 1.1em;
    }

    .icon {
        //display: inline-block;
        //font-size: 18px;

        &.facebook {
          @include svg-sprite(facebook-white);
        }

        &.twitter {
          @include svg-sprite(twitter-white);
        }
			
        &.instagram {
          @include svg-sprite(instagram-white);
        }

        &.googleplus {
          @include svg-sprite(google-plus-old-white);
        }

        &.pinterest {
          @include svg-sprite(pinterest-white);
        }

        &.youtube {
          @include svg-sprite(youtube-white);
        }

        &.linkedin {
          @include svg-sprite(linkedin-white);
          font-size: 20px;
        }

        &.rss {
          @include svg-sprite(rss-white);
        }
        &.govdelivery {
          @include svg-sprite(gov-delivery-white);
          font-size: 16px;
        }
    }
}
@include bp(small){
	.site-footer {
		background-position: -120% 150px;
	}
}
@include bp(medium){
	/** Hide feature card title on tablets and up **/
	.site-footer {
		background-position: 115% 150px;
	}
}

.follow-us {
  margin: 0.5em 0;  
	
	li {
		float: left;
		margin-right: 0.9em;
		margin-left: 0;
		text-indent: 0;
		margin-bottom: 0;
	}
	img:hover, img:focus {
		opacity: 0.9;
	}
}

.agencies {
    clear: both;
    ul {
        text-align: center;
    }

    li {
        display: inline-block;
        margin-right: 0.25em;
      &:after {
        content: "|";
        padding-left: 0.5em;
        -webkit-font-smoothing: antialiased;
      }
    }

    li.last {
        background: none;
        margin-right: 0;
      &:after {
        display:none;
      }
    }
}

.tagline {
    text-align: center;
}

@include bp(medium-down){
	.footer-utility .columns {
		width: 100%;
	}
	.agencies ul {
		text-align: left;
	}
	.agencies ul li {
		display: block;
		padding-right: 0;
		margin-right: 0;
        &:after {
          display:none;
        }
	}
}

/********************* END Footer Styles ******************************************/
