/********************* BEGIN Footer Styles ******************************************/
.columns.footer-nci {
    @include font-montserrat;
    font-size: 25px;
    padding-left: 0.6em;
    padding-right: 0.6em;

    span {
        font-size: 16px;
    }
}

.site-footer {
    background: #123e57 url($backgrounds + "hexagon_molecular_structure_footer.png") no-repeat -30% 150px;
    padding: 1em 0;
    color: white;

    h2 {
        color: white;
        font-size: 1em;
        font-weight: normal;
        text-transform: uppercase;
        @include font-noto;
        margin-bottom: 1em;
    }

    a,
    a:hover, a:focus {
        color: white;
        font-weight: 700;
    }

    a:hover, a:focus {
        text-decoration: underline;
    }

    .row {
        margin: 1em auto;
    }

    li {
        margin-bottom: 1em;
        line-height: 1.1em;
    }

    .icon {
        display: inline-block;

        &.facebook {
          @include sprite($x-coordinate: -132px, $y-coordinate: -155px, $width: 8px, $height: 17px);
        }

        &.twitter {
					@include sprite($x-coordinate: -123px, $y-coordinate: -200px, $width: 19px, $height: 16px);
        }
			
				&.instagram {
					@include sprite($x-coordinate: -125px, $y-coordinate: -467px, $width: 18px, $height: 18px);
        }

        &.googleplus {
					@include sprite($x-coordinate: -123px, $y-coordinate: -245px, $width: 19px, $height: 19px);
        }

        &.pinterest {
					@include sprite($x-coordinate: -127px, $y-coordinate: -290px, $width: 15px, $height: 19px);
        }

        &.youtube {
					@include sprite($x-coordinate: -126px, $y-coordinate: -335px, $width: 18px, $height: 21px);
        }

        &.linkedin {
					@include sprite($x-coordinate: -127px, $y-coordinate: -425px, $width: 14px, $height: 14px);
        }

        &.rss {
					@include sprite($x-coordinate: -127px, $y-coordinate: -380px, $width: 16px, $height: 16px);
        }
				&.govdelivery {
					@include sprite($x-coordinate: -126px, $y-coordinate: -518px, $width: 18px, $height: 18px);
        }
    }
}
@include bp(small){
	.site-footer {
		background-position: -120% 150px;
	}
}
@include bp(medium){
	/** Hide feature card title on tablets and up **/
	.site-footer {
		background-position: 130% 150px;
	}
}

.follow-us {
  margin: 0.5em 0;  
	
	li {
		float: left;
		margin-right: 0.9em;
		margin-left: 0;
		text-indent: 0;
		margin-bottom: 0;
	}
	img:hover, img:focus {
		opacity: 0.9;
	}
}

.agencies {
    clear: both;
    ul {
        text-align: center;
    }

    li {
        display: inline-block;
        background: url($backgrounds + "agencies-divider.gif") center right no-repeat;
        padding-right: 0.5em;
        margin-right: 0.25em;
    }

    li.last {
        background: none;
        padding-right: 0;
        margin-right: 0;
    }
}

.tagline {
    text-align: center;
}

@include bp(medium-down){
	.footer-utility .columns {
		width: 100%;
	}
	.agencies ul {
		text-align: left;
	}
	.agencies ul li {
		display: block;
		background: none;
		padding-right: 0;
		margin-right: 0;
	}
}

/********************* END Footer Styles ******************************************/
