/********************* BEGIN Header Styles ******************************************/
// desktop (general)
header {
	padding-top: 1em;
	padding-bottom: 1em;
	@include font-montserrat;
	background: #fcfcfa;
}
.nci-logo {
	font-weight: bold;
	font-size: 37.7px;
	background: url($logos + "NIH-red-logo.png") no-repeat 20px 0;
	min-height: 54px;

	&.columns {
		padding-left: 0;
		padding-right: 0;
	}

	a {
		color: #bb0e3d;
		padding-left: 113px;
		padding-top: 16px;
		display: block;

		span {
			position: absolute;
			left: -10000px;
			color: #5d5d5d;
			font-size: 0.6em;
		}
	}
}

// tablet
@media only screen and (min-width: 641px) and (max-width: 1024px) {
	.nci-logo {
		background: url($logos + "NIH-red-logo-tablet.png") no-repeat 30px 0;
		font-size: 24px;
		min-height: 36px;

		a {
			padding-left: 95px;
			padding-top: 9px;
		}
	}
}

// smartphone
@media only screen and (max-width: 640px) {
	.nci-logo {
		background: url($logos + "NIH-red-logo-smartphone.png") no-repeat 30px 0;
		font-size: 16px;
		min-height: 28px;

		a {
			padding-left: 80px;
			padding-top: 5px;
		}
	}
}

// x-small
@media only screen and (max-width: 390px) {
	.nci-logo {
		font-size: 13px;
	}
}


/* begin mobile menu bar styles */
// smartphone + tablet
@media only screen and (max-width: 1024px) {
	.nav-search-bar {
		line-height: 0;
	}

	.mobile-menu-bar a {
		display: inline-block;
		width: 25%;
		padding: 3.5em 0 0 0;
		margin: 1em 0;
		background: transparent no-repeat center 0;
		@include font-montserrat;
		font-weight: bold;
		font-size: 0.8em;
		color: #fff;
		text-transform: uppercase;
		text-align: center;

		&:hover, &:focus {
			color: #fff;
		}
	}
	a.nav-header {
		background-image: url($icons + "menu-icon.png");
	}
	a.nav-contact {
		background-image: url($icons + "phone-mobile.png");
	}
	a.nav-dictionary {
		background-image: url($icons + "dictionary-mobile.png");
	}
	a.nav-search {
		background-image: url($icons + "search-mobile.png");
	}
}

// x-small
@media only screen and (max-width: 390px) {
	.mobile-menu-bar a {
		font-size: 0.5em;
		padding: 5em 0 0 0;
	}
}
/* end mobile menu styles */
/********************* END Header Styles ******************************************/
