/********************* BEGIN Header Styles ******************************************/
header {
    padding-top: 1em;
    @include font-montserrat;
    background: #fcfcfa;
}
// desktop (general)
.nci-logo {
    font-weight: bold;
    line-height: 0.8;
    background: url($logos + "NIH-red-logo.png") no-repeat 5px 0;
    font-size: 30px;
	min-height: 54px;

	&.columns {
		padding-left: 0;
		padding-right: 0;
	}

	a {
		color: #bb0e3d;
		padding-left: 100px;
		display: block;

		span {
			color: #5d5d5d;
			font-size: 0.6em;
		}
	}
}
// desktop-only
@media only screen and (min-width: 1025px) {
	header {
		padding-top: 1.7em;
	}
}
// tablet
@media only screen and (min-width: 641px) and (max-width: 1024px) {
    .nci-logo {
		background-image: url($logos + "NIH-red-logo-tablet.png");
		font-size: 24px;
		min-height: 47px;

		a {
			padding-left: 90px;
		}
	}
}
// smartphone
@media only screen and (max-width: 640px) {
	.nci-logo {
		background-image: url($logos + "NIH-red-logo-smartphone.png");
		font-size: 16px;
		line-height: 1.1;
		min-height: 35px;

		a {
			padding-left: 70px;

			span {
				font-size: 0.75em;
			}
		}
	}
}
/********************* END Header Styles ******************************************/

