/********************* BEGIN Home Page Styles ******************************************/

/* BEGIN Hero Section */

.row .hero {
    position: relative;
    margin-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: 0 11px 15.2px 0.8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 11px 15.2px 0.8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 11px 15.2px 0.8px rgba(0, 0, 0, 0.4);
}
.hero-inner-page {
    position: relative;
    margin-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
}
.hero-text {
    position: absolute;
    top: 2em;
    left: 90px;
    color: white;
    width: 17%;
    font-size: 1.55em;
    font-weight: bold;
}
.hero-text p {
    line-height: 1.1;
    top-margin: 0.7em;
    font-weight: bold;
}
.hero-text a {
    color: white;
}
.hero-text a:hover, .hero-text a:focus {
    text-decoration: none;
}
.hero-call-to-action {
    font-size: 0.9em;
    background: url($buttons + "hero-arrow.png") no-repeat center right;
    display: inline-block;
    padding-right: 1em;
    -webkit-transition: padding-right 0.4s ease-in-out;
    -moz-transition: padding-right 0.4s ease-in-out;
    -ms-transition: padding-right 0.4s ease-in-out;
    -o-transition: padding-right 0.4s ease-in-out;
    transition: padding-right 0.4s ease-in-out;
}
.hero-call-to-action:hover, .hero-call-to-action:focus {
    padding-right: 1.5em;
}
/* END Hero Section */

/* BEGIN Featured Slick Carousel Row */

.slick-dots {
    text-align: center;
}
/* END Featured Slick Carousel Row */

/* BEGIN CARDS GENERAL RULES */

.body-banner {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}
/* equal height cards for desktop, visually push a div to the bottom of it's container */
.card.equalheight > div, .card.equalheight > div > a {
    height: 100%;
}

.card-row .card a {
    color: #606060;
}
.card {
    padding-top: 1em;
    background: white; /* for IE browsers that don't understand rgba */
    background: rgba(255, 255, 255, 0.8);
}
.card a:hover, .card a:focus {
    text-decoration: none;
}
.feature-secondary a:hover, .feature-secondary a:focus,
.multimedia h3 a:hover, .multimedia h3 a:focus,
.card-thumbnail h3 a:hover, .card-thumbnail h3 a:focus {
    color: #bb0e3d;
    text-decoration: none;
}
// default styling for Card image behavior on hover
.card:hover .image-hover {
    background-color: #000;
}
.card:hover .image-hover img {
    opacity: 0.8;
}
/* END CARDS GENERAL RULES */

/* BEGIN FEATURE PRIMARY CARDS ROW */
.feature-primary {
    margin-bottom: 1em;
}
.feature-primary .card {
    background: #178da9;
}
// featured-text is used for the funding opportunities box
.feature-primary .featured-text {
    padding: 15px;
    background: white;
    color: #186e88 !important;
    // this is needed to overcome padding that was put in cards anchor tag
    a {
        padding: 0;
                color: #606060;
    }
    a:hover, a:focus {
        color: #bb0e3d;
    }
    h3 {
        color: #666;
    }
    p {
        margin-top: 1em; 
    }
}
.feature-primary a,
.feature-primary a h3 {
    color: white;
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
    .feature-primary a,
    .feature-primary a h3 {
    color: #186e88;
    }
}
.feature-primary h3 {
    font-weight: normal;
    color: white;
    font-size: 1.375em;
    line-height: 1.272;
}
.feature-primary p {
    margin-bottom: 0;
    font-size: em-calc(18px);
}
// the following classes are to remove padding from the card and give it to the anchor tag so that the whole card is clickable
.feature-primary .columns {
    padding: 0;
}
.feature-primary .columns a {
    padding: em-calc(30px);
    display: block;
}
/* END FEATURE PRIMARY CARDS ROW */

/* BEGIN FEATURE SECONDARY CARDS ROW */

.feature-secondary {
    margin-bottom: 1em;
}
.feature-secondary .card {
    background: white;
}
.feature-secondary a h3 {
    font-weight: normal;
    color: #186e88;
    font-size: 1.375em;
    line-height: 1.272;
}
.feature-secondary a:hover h3, 
.feature-secondary a:focus h3 {
    color: #bb0e3d;
}
.feature-secondary p {
     margin-bottom: 0;
    color: #606060;
    font-size: em-calc(18px);
}
// the following classes are to remove padding from the card and give it to the anchor tag so that the whole card is clickable
.feature-secondary .columns {
    padding: 0;
}
.feature-secondary .columns a {
    padding: em-calc(30px);
    display: block;
}
/* END FEATURE SECONDARY CARDS ROW */

/* BEGIN GUIDE CARDS ROW */
.guide-card {
    margin-bottom: 1em;
}
.guide-card h3 {
    font-weight: normal;
    color: #606060;
    font-size: 1.375em;
    line-height: 1.272;
}
.guide-card .card {
    padding: em-calc(38px 32px 34px);
}
.guide-card .card ul {
    margin-bottom: 0;
}
.guide-card .card h2 {
    margin-top: 0;
}
.featured-card {
    background: #dbf2f8;
}
.featured-card h3,
.featured-card a,
.featured-card a.arrow-link-white {
    color: #2f2f2f;
}
a.arrow-link {
    background: url($buttons + "small-blue-circle-arrow.png") 100% 50% no-repeat;
    padding-right: 2em;
    width: 100%;
    display: block;
    color: #606060;
    text-decoration: none;
}
a.arrow-link-white {
    background: url($buttons + "small-off-cream-circle-arrow.png") top right no-repeat;
    padding-right: 1em;
    width: 100%;
    display: block;
    color: #606060;
    text-decoration: none;
}
a.arrow-link:hover, a.arrow-link:focus,
a.arrow-link-white:hover, a.arrow-link-white:focus {
    background-image: url($buttons + "small-red-circle-arrow.png");
    color: #bd153c;
    text-decoration: none;
}
a.learn-more {
    margin-top: 1em;
    /* adding padding per #OCECREATIV-783 --sjc */
}
.card ul.cancer-types li {
    background: none;
    float: left;
    padding-right: 0;
    width: 2.5em;
    height: 2.3em;
}
.card ul.cancer-types li a:hover, .card ul.cancer-types li a:focus {
    color: #bb0e3d;
}
/* END GUIDE CARDS ROW */

/* BEGIN THUMBNAIL CARDS ROW */

.card-thumbnail {
    background: white;
    padding-top: 1em;
    padding-bottom: 1em;
}
.card-thumbnail h3 {
    font-weight: normal;
}
.card-thumbnail img {
    margin-top: 1em;
}
/* END THUMBNAIL CARDS ROW */

/* BEGIN MULTIMEDIA ROW */
.multimedia-slot {
    background: #099;
    /*margin-bottom: 1em;*/
    padding: 1em 0;
    margin-bottom: 1em;

    .feature-card {
        background: white;
        padding-bottom: 1em;

        h3, p, ul { padding: 0 15px; }
        h3 {
            font-size: 1.375em;
            font-weight: normal;
            line-height: 1.272;
            color: #186e88;
        }
    }
}
@media only screen and (max-width: 640px) {
  .multimedia-slot {
    padding: 1em; }
    .multimedia-slot p, .multimedia-slot ul {
    display: none; }
    .multimedia-feature-card {
        margin-right: 15px;
    }
 }
.multimedia {
    .card {
        background: none;
        opacity: 1;

        a { color: #606060; }
    }
}
@mixin call-to-action-corner() {
    text-transform: uppercase;
    position: absolute;
    z-index: 88;
    padding: 0.62em;
    color: #FFFFFF;
    background-color: #403f3f;

    // rotate the call to action:
    $call-to-action-max-width: 424px;
    left: calc(100% - #{$call-to-action-max-width});
    -webkit-transform-origin: top left;
    transform-origin: top left;
    $call-to-action-rotation: 90deg;
    -webkit-transform: 
        rotate($call-to-action-rotation)
        translate(0, -#{$call-to-action-max-width});
    -ms-transform: 
        rotate($call-to-action-rotation)
        translate(0, -#{$call-to-action-max-width});
    transform:
        rotate($call-to-action-rotation)
        translate(0, -#{$call-to-action-max-width});

}
.multimedia-feature-card {
    background: white;
    padding-bottom: 1em;
    position: relative;

    a {
        color: #606060;

        &:before { @include call-to-action-corner(); }
    }
    h3 {
        font-size: 1.375em;
        font-weight: normal;
        line-height: 1.272;
        color: #186e88;
    }
    h3, p, ul { padding: 0 15px; }

    &.cgvInfographic {
        a:before { content: "Infographic";
            html[lang="es"] & { content: "Infograf\00ed a" }
        }
    }
    &.gloVideo {
        a:before { content: "Video";
            html[lang="es"] & { content: "Video" }
        }
    }

    &.gloVideoCarousel {
        a:before { content: "Video Playlist";
            html[lang="es"] & {
                content: "Lista de reproducci\00f3 n de videos" }
        }
    }
}
// these rules are to fix the autoheight problems in multimedia row
.card > .slot-item, .multimedia-feature-card, .multimedia .feature-card {
    height: 100%;
}
.multimedia-feature-card a, .multimedia .feature-card a {
    display: block;
    height: 100%;
}
/* END MULIMEDIA ROW */

/* BEGIN Director's Row */

.directors-row {
}
.directors-row h3 {
    color: white;
}
.infographic {
    position: relative;
    /* allows for appearance of equal height cards on home page */
    background: white;
}
.infographic-enlarge {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}
.infographic-enlarge a {
    color: white;
    padding: 1em 2em 1em 1em;
    display: block;
    background: #403f3f url($buttons + "white-arrow-view-infographic.png") no-repeat 95% 50%;
}
.infographic-enlarge a:hover, .infographic-enlarge a:focus {
    text-decoration: none;
    background-color: #bb0e3d;
}
.infographic figcaption {
    padding: 0.5em 1em;
}
.home-director-stories {
    background: white;
    padding: 0.5em 1em 0.2em;
    margin-top: -10px;
}
/* END Director's Row */
/********************* END Home Page Styles ******************************************/
