/********************* BEGIN Home Page Styles ******************************************/

/* BEGIN Hero Section */

.row .hero {
	position: relative;
	margin-bottom: 1em;
	padding-left: 0;
	padding-right: 0;
	-webkit-box-shadow: 0 11px 15.2px 0.8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 11px 15.2px 0.8px rgba(0, 0, 0, 0.4);
	box-shadow: 0 11px 15.2px 0.8px rgba(0, 0, 0, 0.4);
}
.hero-inner-page {
	position: relative;
	margin-bottom: 1em;
	padding-left: 0;
	padding-right: 0;
}
.hero-text {
	position: absolute;
	top: 1em;
	left: 90px;
	color: white;
	width: 25%;
	font-size: 1.55em;
	font-weight: bold;
}
.hero-text p {
	line-height: 1.1;
	top-margin: 0.7em;
	font-weight: bold;
}
.hero-text a {
	color: white;
}
.hero-text a:hover, .hero-text a:focus {
	text-decoration: none;
}
.hero-call-to-action {
	font-size: 0.9em;
	background: url($buttons + "hero-arrow.png") no-repeat center right;
	display: inline-block;
	padding-right: 1em;
	-webkit-transition: padding-right 0.4s ease-in-out;
	-moz-transition: padding-right 0.4s ease-in-out;
	-ms-transition: padding-right 0.4s ease-in-out;
	-o-transition: padding-right 0.4s ease-in-out;
	transition: padding-right 0.4s ease-in-out;
}
.hero-call-to-action:hover, .hero-call-to-action:focus {
	padding-right: 1.5em;
}
/* END Hero Section */

/* BEGIN Featured Slick Carousel Row */

.slick-dots {
	text-align: center;
}
/* END Featured Slick Carousel Row */

/* BEGIN CARDS GENERAL RULES */

.body-banner {
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}
/* equal height cards for desktop, visually push a div to the bottom of it's container */

.card-row .card a {
	color: #606060;
}
.card {
	padding-top: 1em;
	background: white;
	/* for IE browsers that don't understnad rgba */
	background: rgba(255, 255, 255, 0.8);
}
.card a:hover, .card a:focus {
	text-decoration: none;
}
.feature-secondary h3:hover, .feature-secondary h3:focus,
.multimedia h3 a:hover, .multimedia h3 a:focus,
.card-thumbnail h3 a:hover, .card-thumbnail h3 a:focus {
	color: #bb0e3d;
	text-decoration: none;
}
// default styling for Card image behavior on hover
.card:hover .image-hover {
	background-color: #000;
}
.card:hover .image-hover img {
	opacity: 0.8;
}
/* END CARDS GENERAL RULES */

/* BEGIN FEAUTRE PRIMARY CARDS ROW */

.feature-primary {
	margin-bottom: 1em;
}
.feature-primary .card {
	background: #178da9;
}
.feature-primary .featured-text {
	background: white;
}
.feature-primary a,
.feature-primary h3 {
	color: white;
}
.feature-primary .featured-text a {
	color: #186e88;
}
.feature-primary .featured-text a:hover, .feature-primary .featured-text a:focus {
	color: #bb0e3d;
}
.feature-primary .featured-text h3 {
	color: #666;
}
.feature-primary h3 {
	font-weight: normal;
	color: white;
	font-size: 1.375em;
	line-height: 1.272;
}
// the following classes are to remove padding from the card and give it to the anchor tag so that the whole card is clickable
.feature-primary .columns {
	padding: 0;
}
.feature-primary .columns a {
	padding: 1em 0.9375em 1px 0.9375em;
	display: block;
}
.multimedia-feature-card a, .multimedia .feature-card a {
	display: block; 
	height: 100%;
}
/* END FEATURE PRIMARY CARDS ROW */

/* BEGIN FEATURE SECONDARY CARDS ROW */

.feature-secondary {
	margin-bottom: 1em;
}
.feature-secondary .card {
	background: white;
}
.feature-secondary h3 {
	font-weight: normal;
	color: #186e88;
	font-size: 1.375em;
	line-height: 1.272;
}
.feature-secondary p {
	color: #606060;
}
/* END FEATURE SECONDARY CARDS ROW */

/* BEGIN GUIDE CARDS ROW */

.guide-card {
	margin-bottom: 1em;
}
.guide-card h3 {
	font-weight: normal;
	color: #606060;
	font-size: 1.375em;
	line-height: 1.272;
}
.featured-card {
	background: #dbf2f8;
}
.featured-card h3,
.featured-card a,
.featured-card a.arrow-link-white {
	color: #2f2f2f;
}
a.arrow-link {
	background: url($buttons + "small-blue-circle-arrow.png") 100% 0 no-repeat;
	padding-right: 2em;
	width: 100%;
	display: block;
	color: #606060;
	text-decoration: none;
}
a.arrow-link-white {
	background: url($buttons + "small-off-cream-circle-arrow.png") top right no-repeat;
	padding-right: 1em;
	width: 100%;
	display: block;
	color: #606060;
	text-decoration: none;
}
a.arrow-link:hover, a.arrow-link:focus,
a.arrow-link-white:hover, a.arrow-link-white:focus {
	background-image: url($buttons + "small-red-circle-arrow.png");
	color: #bd153c;
}
a.learn-more {
	margin-top: 1em;
	/* adding padding per #OCECREATIV-783 --sjc */
}
.card ul.cancer-types li {
	background: none;
	float: left;
	padding-right: 0;
	width: 2.5em;
	height: 2.3em;
}
.card ul.cancer-types li a:hover, .card ul.cancer-types li a:focus {
	color: #bb0e3d;
}
/* END GUIDE CARDS ROW */

/* BEGIN THUMBNAIL CARDS ROW */

.card-thumbnail {
	background: white;
	padding-top: 1em;
	padding-bottom: 1em;
}
.card-thumbnail h3 {
	font-weight: normal;
}
.card-thumbnail img {
	margin-top: 1em;
}
/* END THUMBNAIL CARDS ROW */

/* BEGIN MULTIMEDIA ROW */
.multimedia-slot {
	background: #099;
	/*margin-bottom: 1em;*/
	padding: 1em 0;
	margin-bottom: 1em;
}
.multimedia .card {
	background: none;
	opacity: 1;
}
.multimedia-feature-card {
	background: white;
	padding-bottom: 1em;
	position: relative;
}
.multimedia-feature-card a, .multimedia .card a {
		color: #606060
}
.multimedia-feature-card h3 {
	font-size: 1.375em;
	font-weight: normal;
	line-height: 1.272;
	color: #186e88;
}
.multimedia-feature-card h3, .multimedia-feature-card p, .multimedia-feature-card ul,
.multimedia-slot .feature-card h3, .multimedia-slot .feature-card p, .multimedia-slot .feature-card ul{
	padding: 0 15px;
}
.multimedia-slot .feature-card {
	background: white;
	padding-bottom: 1em;
}
.multimedia-slot .feature-card h3 {
	font-size: 1.375em;
	font-weight: normal;
	line-height: 1.272;
	color: #186e88;
}
// these rules are to fix the autoheight problems in multimedia row
.card > .slot-item, .multimedia-feature-card, .multimedia .feature-card {
    height: 100%;
}
.multimedia-feature-card.cgvInfographic {
	a:before {
		content: "View Infographic";
		text-transform: uppercase;
		position: absolute;
		z-index: 88;
		right: 0;
		background: url($buttons + "white-arrow-view-infographic.png") no-repeat 95% 50% #403f3f;
		padding: 1em 2em 1em 1em;
		color: white;
		html[lang="es"] & {
			content: "Ver Infograf\00ed a"
		}
	}
	&:hover a:before, &:focus a:before {
		background-color: #bb0e3d;
	}
}
.multimedia-feature-card.gloVideo {
	a:before {
		content: "View Video";
		text-transform: uppercase;
		position: absolute;
		z-index: 88;
		right: 0;
		background: url($buttons + "white-arrow-view-infographic.png") no-repeat 95% 50% #403f3f;
		padding: 1em 2em 1em 1em;
		color: white;
		html[lang="es"] & {
			content: "Ver video"
		}
	}
	&:hover a:before, &:focus a:before {
		background-color: #bb0e3d;
	}
}
.multimedia-feature-card.gloVideoCarousel {
	a:before {
		content: "View Video Playlist";
		text-transform: uppercase;
		position: absolute;
		z-index: 88;
		right: 0;
		background: url($buttons + "white-arrow-view-infographic.png") no-repeat 95% 50% #403f3f;
		padding: 1em 2em 1em 1em;
		color: white;
		html[lang="es"] & {
			content: "Ver lista de reproducci\00f3 n"
		}
	}
	&:hover a:before, &:focus a:before {
		background-color: #bb0e3d;
	}
}
.multimedia-feature-card a:hover h3, .multimedia-feature-card a:focus h3,
.feature-card a:hover h3, .feature-card a:focus h3 {
	color: #bb0e3d;
}
/* END MULIMEDIA ROW */

/* BEGIN Director's Row */

.directors-row {
}
.directors-row h3 {
	color: white;
}
.infographic {
	position: relative;
	/* allows for appearance of equal height cards on home page */
	background: white;
}
.infographic-enlarge {
	position: absolute;
	top: 0;
	right: 0;
	color: white;
}
.infographic-enlarge a {
	color: white;
	padding: 1em 2em 1em 1em;
	display: block;
	background: #403f3f url($buttons + "white-arrow-view-infographic.png") no-repeat 95% 50%;
}
.infographic-enlarge a:hover, .infographic-enlarge a:focus {
	text-decoration: none;
	background-color: #bb0e3d;
}
.infographic figcaption {
	padding: 0.5em 1em;
}
.home-director-stories {
	background: white;
	padding: 0.5em 1em 0.2em;
	margin-top: -10px;
}
/* END Director's Row */

/* search */

.search form {
	margin: 0 0 0 -4px;
	height: 100%;
}
.search {
	width: 25%;
	float: right;
	background-color: #636363;
	height: 51px;
}
html[lang="es"] .search {
	height: 58px;
}
/* search box */

.search #swKeyword {
	background-color: #636363;
	-webkit-appearance: none;
	border: 0;
	display: inline;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	width: 89%;
	padding-left: 7%;
	font-size: 0.85em;
	color: #fff;
}
/* placeholder text */

#swKeyword::-webkit-input-placeholder {
	color: #fff;
}
#swKeyword::-moz-placeholder {
	color: #fff;
	opacity: 1;
}
#swKeyword:-moz-placeholder {
	color: #fff;
	opacity: 1;
}
/* styles for markup automatically added by jquery mobile */

.search .ui-input-text {
	height: 100%;
	width: 90%;
	display: inline;
}
/********************* END Home Page Styles ******************************************/
