/****************** START IMAGE CAROUSEL STYLES ******************/
#ic {
	//background-color: #9cf;
	@include bp(large-up){
		//background-color: #9cf;
		margin-left: 18%;
		margin-right: 18%;
	}
	@include bp(medium-down) {
		//background: #6c9;
		margin-left: 12%;
		margin-right: 12%;
	}
	@include bp(small) {
		//background: #306;
		margin: 10px 0px 30px;
		 .pagingInfo, .ic-carousel-title h4, .ic-caption p {
			padding-left: 20px;
		}
		.slick-slide img {
    		display: block;
    		max-width: 100%;
		}
	}
}
#ic .slick-slider {
	margin-bottom: 0;
}
#ic .slick-slide {
	background-color: #fff;
}

.ic-carousel-title h4 {
	line-height: 1.333em;
}

.ic-credit {
	color: #999;
    font-size: 0.5em;
    margin-top: -5px;
	text-align: right;

	@include bp(small) {
		margin-top: 0px !important;
	}
}

.ic-caption {
	background-color: #fff;
}
.ic-caption p {
	color: #999;
	font-size: 0.8em;
	margin-top: 10px;
	margin-bottom: 10px;
	@include bp(small) {
		margin-bottom: 30px;
	}	
}

.pagingInfo {
	//background-color: #9cf;
	//padding-left: 10px 20px;
	color: #999999;
	float: left;
	font-family: Montserrat,Arial,sans-serif;
	font-size: 13px;
	width: 50%;
}

.arrows-for-ic-carousel {
	//background-color: #306;
  float: right;
  margin-top: -10px;
  text-align: right;
  width: 50%;
}

.arrows-for-ic-carousel button {
	background-color: transparent;
    border: 0 none;
    cursor: pointer;
    display: inline;
    height: 30px;
    padding: 0;
    width: 30px;
}

span.ic-arrow-button {
	position: absolute;
	bottom: 0;
	right: 0;
	clip: rect(1px, 1px, 1px, 1px);
}

.arrows-for-ic-carousel .previous {
	background: rgba(0, 0, 0, 0) url("/publishedcontent/images/images/design-elements/icons/chevron-blue.svg") no-repeat scroll center center / 90% auto;
	transform: rotate(-90deg);
}
.arrows-for-ic-carousel .next {
	background: rgba(0, 0, 0, 0) url("/publishedcontent/images/images/design-elements/icons/chevron-blue.svg") no-repeat scroll center center / 90% auto;
  transform: rotate(90deg);
}
/****************** END IMAGE CAROUSEL STYLES ******************/

/****************** START VIDEO CAROUSEL STYLES ******************/

.yt-carousel {
	width: 65%;
    margin: auto;
}

.yt-carousel-count {
	margin-top: 5px;
	margin-bottom: 5px;
}

.yt-carousel-thumb {
	margin-top: 10px;
	padding-right: 10px;
}

.yt-carousel-arrows {
	padding: 0px;
	margin-top: 35px;
}

.yt-carousel-arrows button {
	background-color: transparent;
    border: 0 none;
    cursor: pointer;
    display: inline;
    height: 40px;
    padding: 0;
    width: 40px;
}

.yt-carousel-arrows .previous,
.yt-carousel-arrows .m-previous {
	background: rgba(0, 0, 0, 0) url("/publishedcontent/images/images/design-elements/icons/chevron-blue.svg") no-repeat scroll center center / 90% auto;
	transform: rotate(-90deg);
}
.yt-carousel-arrows .next,
.yt-carousel-arrows .m-next {
	background: rgba(0, 0, 0, 0) url("/publishedcontent/images/images/design-elements/icons/chevron-blue.svg") no-repeat scroll center center / 90% auto;
  transform: rotate(90deg);
}

@include bp(medium-up) {
  .yt-carousel-m-controls {
    display: none;
  }
}

@include bp(small) {
	.yt-carousel-count,
  .yt-carousel-controls {
    display: none;
  }
}

/****************** END VIDEO CAROUSEL STYLES ******************/