/********************* BEGIN Language Bar Styles ******************************************/
.language-bar {
    background: #fcfcfa;
    padding: 0 0 0.2em;
}
.sitewide-language {
    padding-right: 0;
}
.sitewide-language a {
    color: $color-link;
}
.sitewide-language ul {
    text-align: right;
		margin-bottom: 1.5em;
}
.sitewide-language li {
    float: right;
    margin-left: 1em;
    text-align: right;
}
@media only screen and (max-width: 1024px) {
	.language-bar {
    background: #2a71a5;
	}
	.sitewide-language a {
    color: white;
	}
}
/********************* END Language Bar Styles ******************************************/