/********************* BEGIN Language Bar Styles ******************************************/

.language-bar {
    background: #fcfcfa;
    padding: 0 0 0.2em;
}
.sitewide-language {
    padding-right: 0;
}
.sitewide-language a {
    color: #186e88;
}
.sitewide-language ul {
    text-align: right;
}
.sitewide-language li {
    float: right;
    margin-left: 1em;
    text-align: right;
}
/********************* END Language Bar Styles ******************************************/

