// Managed List styles...
.managed.list {
    position: relative;
    margin: 2em 0em 2em 0em;
    
    > .title {
        @include font-montserrat;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        text-transform: uppercase;
        color: $dgrey00;
    }

    ul {
        list-style-type: none;
        padding: 0px;

        > li {
            padding: 0.5em 0px;
            margin: 0px;
            clear: both;

            &:before {
                content: "";
                display: none;
            }

        }
    }

    .container {
        display: inline-block;
        vertical-align: top;

        &.image {
            width: 20%;

            + .container.title {
                width: 79%;
                padding-left: 1.25em;
            }
        }

        .title {
            @include font-montserrat;
            font-weight: normal;
            font-size: 22px;
            line-height: 28px;
            color: $dteal00;
        }

        .desc {
            font-size: inherit;
            font-family: inherit;
            color: inherit;
        }
    }

    // List Item Types
    .general { }

    .video {
        &.carousel {}
    }

    .infographic {}

    .file {
        .filesize {
            color: $dgrey00;
        }

        .filetype {
            position: relative;
            display: inline-block;
            top: 5px;
            height: 22px;
            width: .75em;
            background: white;
            border: solid 1px $dgrey00;
            background-image: url("/publishedcontent/images/images/design-elements/icons/file-format/file-type-sprites.png");

            &.pdf { background-position-y: 0px; }
            &.exe { background-position-y: 25px; }
            &.ebook { background-position-y: 75px; }
            &.ppt { background-position-y: 125px; }
            &.excel { background-position-y: 175px; }
            &.word { background-position-y: 225px; }
        }
    }

    /* this is because of a bug in other code.
     * TODO: REMOVE THIS */
    .pdf { background: inherit; }

    // Title,!DATE,!DESC,!IMAGE
    // Title,!DATE, Desc,!IMAGE
    // Title,!DATE, Desc, Image
    // Title, Date, Desc,!IMAGE
    // Title, Date, Desc, Image
}

.accessibility-text {
    position: absolute;
    top: -99999px;
}

