// Managed List styles...
.list {
    position: relative;
    margin: 1.5em 0em 3em 0em;
    
    > .title {
        @include font-montserrat;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: $dgrey00;
    }

    .description {
        font-size: 16px;
        line-height: 20px;
    }

    ul {
        list-style-type: none;
        padding: 0px;

        > li {
            padding: 0.75em 0px;
            margin: 0px;
            clear: both;

            &:before {
                content: "";
                display: none;
            }

        }
    }

    .container {
        display: inline-block;
        vertical-align: top;

        &.image {
            width: 190px;
            padding-bottom: 16px;

            + .container.title {
                width: 80%;
                padding-left: 1.25em;
            }
        }

        .title {
            @include font-montserrat;
            font-weight: normal;
            font-size: 18px;
            line-height: 20px;
            color: $dteal00;
        }

        .desc {
            font-size: inherit;
            font-family: inherit;
            color: inherit;
        }
    }

    // List Item Types
    .general { }

    .video {
        &.carousel {}
    }

    .infographic {}

    .file {
        .filesize {
            color: $dgrey00;
        }

        .filetype {
            position: relative;
            display: inline-block;
            top: 5px;
            height: 1em;
            width: 1em;
            padding: 0px;
            margin: 0px;
            background: white;
            background-image: url("/publishedcontent/images/images/design-elements/icons/nci-sprite.png");
            background-position-x: -71px;

            &.pdf { background-position-y: -474px; }
            &.exe { background-position-y: -506px; }
            &.ebook { background-position-y: -537px; }
            &.ppt { background-position-y: -568px; }
            &.word { background-position-y: -598px; }
            &.excel { background-position-y: -630px; }
        }
    }

    /* this is because of a bug in other code.
     * TODO: REMOVE THIS */
    .pdf { background: inherit; }

    // Title,!DATE,!DESC,!IMAGE
    // Title,!DATE, Desc,!IMAGE
    // Title,!DATE, Desc, Image
    // Title, Date, Desc,!IMAGE
    // Title, Date, Desc, Image
}

.accessibility-text {
    position: absolute;
    top: -99999px;
}

