/********************* BEGIN Content Styles ******************************************/

.main-content {
	padding: 0;
	background: #f7f8f3 url($backgrounds + "hexagon_molecular_structure_body.png") no-repeat 110% 600px;
	a {
		color: $color-link;

		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	@include bp(small) {
		background: none;
	}
}

// h3 links should have a default of cranberry & no underline for link hovers
#cgvBody h3 {
  a:hover, a:focus {
    text-decoration: none;
    color: #bb0e3d;
  }
}

a.definition {
	color: $body-font-color;
	text-decoration: none;
	border-bottom: thin dotted;

	&:hover,&:focus {
		border-bottom: thin solid;
	}
}

.general-page-body-container {
	background: #fffffb;
	padding-bottom: 1.5em;
	position: relative; // #section-menu-button in nav partial is positioned relative to this container for proper alignment
	@include box-shadow(10px 0 10px -7px rgba(0, 0, 0, 0.5), -10px 0 10px -7px rgba(0, 0, 0, 0.5));

	.no-boxshadow & {
		// Border used here because IE8 doesn't support box-shadow
		border-left: 1px solid #cfd0cb;
		border-right: 1px solid #cfd0cb;
	}
	// content pages need a default of underline for link hovers
	a:hover, a:focus {
		text-decoration: underline;
	}
}

div.row > div.contentzone:first-child {
	width: 100%;
}

@include bp(large-up){
	.contentzone {
		padding-right: em-calc(50px);

		&:first-child {
			padding-left: em-calc(50px);
		}
	}
}


/* Research Areas with Table of Contents */

// the -1em for right margin is due to the fact that it has to touch the edge whereas the container it is in has padding for the edge.

.featured-zone {
	background-color: #14819b;
	padding: 0 0 1.25em 1.25em;
	overflow: hidden;
	// because in some pages content within box have floated elements
	margin-right: -1em;
	padding: 1em;

	h1,h2,h3,h4,a {
		color: white;
	}
}

.toc-container {
	padding-right: 0;
	margin-right: -2em;
	padding: 1em;
}
@include bp(medium-down){
	// hide the TOC on small/medium screens. The accordion serves the same purpose
	.toc-container {
		display: none;
	}
	.feature-zone-image img {
		display: block;
		margin: 0 auto;
	}
	.featured-zone {
		margin-right: 0;
	}
}

#my-toc {
	background-color: #fff;
	padding: 25px 0 30px 35px;
	overflow: hidden;
	padding-right: 0;

	h2 {
		color: $header-font-color;
		margin: 0 0 10px;
		font-size: 1.5em;
	}
	//hide default TOC header
	h4 {
		display: none;
	}
	ul {
		margin: 0 1em;
		list-style-type: disc;
		color: $color-link;
	}
	li {
		padding-left: 0;
		margin-left: 0;
		line-height: 20px;
		margin-bottom: 5px;
		a {
			color: $color-link;
			font-weight: bold;
		}
	}
	@include bp(large-up){
		// large screen styles for TOC
		margin: 10px 0 0 10px;
	}
}


/* BEGIN general content page styles */

.toptoc ul {
	@include no-bullets;
}

table.no-bullet-padding ul {
	margin: 0;
	padding: 0;
	& > li {
		margin: 0;
		padding: 0 0 0 10px;
	}
}
/*the -1em for right margin is due to the fact that it has to touch the edge whereas the container it is in has padding for the edge. */
.key-facts {
	background: #d7f9fa;
	float: right;
	width: 40%;
	padding: 0 1em;
	margin: 1em -1em 1em 1em;
}

/* END general content page styles */

#cgvDate {
	margin:1.5em 0 1em;
}

.contentzone .document-dates {
	margin-top: 1.5em;
	@include no-bullets;

	ul > li {
		margin: 0;
		display: block;
	}

	&.horizontal ul > li {
		display: inline;
		&:before {
			content: "|";
			position: relative;
			float: none;
			display: inline;
			left: 0;
			top: -0.1em;
			margin: 0 0.4em;
			font-size: 1em;
		}
		&:first-child:before {
			content: none;
			display: none;
		}
	}
}

.press-release-date-contact {
	margin-bottom: 1em;

	.document-dates {
		margin-top: 0;
		float: left;
	}

	.media-contact {
		float: right;
		text-align: right;
		
		@include bp(small) {
			float: left;
			text-align: left;
			width: 100%;
		}

		p {
			margin: 0;
		}
	}
}

.press-release-date-contact.row.collapse {
	margin-bottom: 1em;
}

.media-contact-info {
	display: inline;
}
@include bp(small){
	.media-contact-info {
		display: block;	
	}
}

@include bp(medium-down) {
	.contentzone .document-dates,
	.contentzone .document-dates.horizontal {
		ul > li {
			display: block;
			&:before {
				content: none;
				display: none;
			}
		}
	}
}

.article-citation	li p{
	display: inline; }

hr.ps-divider {
	border: solid #7d7d7d;
	border-width: 1px 0 0; 
}
.cgvpressrelease hr.ps-divider {
	display: none;
}
.public-use {
	padding: 0;
	font-style: italic;
	clear: both; }

.public-use, .syndication p {
	margin-top: 0;
}

/* Add spacing above syndication class to prevent image/text from jutting against horizontal rule */
.syndication {
    padding-top: 1.1em;
}

/* this is to prevent the border from writing over a floated element */
.syndication {
	overflow: hidden; }

@include bp(medium-down){
	.syndication{
		font-size: 0.875em;
	}
}
/* icon that goes with syndication image */

.syndication-image {
	margin: 0 0.7em 0.5em 0.5em;
	float: left;
}


/* Separator line for right above the public use and/or syndication text blocks */
#nvcgSlPublicUse,
#nvcgSlSyndication {

	/*
	// Remove border
	@include bp(medium-up) {
		border-top: 1px solid #7d7d7d;
	}
	*/
	
	// Or add margin
	border-top: 1px solid #7d7d7d;
	@include bp(small) {
		margin-top: 1.25em;
	}
}

#nvcgSlPublicUse + #nvcgSlSyndication {
	border-top: none;
}

/********************* END Content Styles ******************************************/