/****************** BEGIN materials-to-share ********************/

.materials-to-share .column2 {
    font-size: 0.875em;
}

.materials-to-share figure {
    margin:  0 auto;
}

.materials-to-share .addthis_32x32_style .at300bs {
    line-height: 32px !important;   
	width: 32px !important;   
	display: block;   
	height: 32px !important;   
	overflow: hidden;   
	background: url(/PublishedContent/images/images/design-elements/buttons/addthis_buttons_32.png) no-repeat left 50%;
}

.materials-to-share .addthis_32x32_style .at15t_facebook {
    background-position: 0px -256px;
}

.materials-to-share .addthis_32x32_style .at15t_twitter {
    background-position: 0px -1152px;
}


/****************** END materials-to-share ********************/