/****************** BEGIN materials-to-share ********************/

.materials-to-share .column1 {
    width: 25%;
	padding-top: 15px;
}


.materials-to-share .column2 {
    font-size: 0.875em;
	width: 70%;
	padding-top: 10px;
}

.materials-to-share .column2 .addthis_toolbox p {
  margin-top: 5px;
}

.materials-to-share figure {
    margin:  0 auto;
}

.materials-to-share .addthis_32x32_style .at300bs {
    line-height: 32px !important;
	width: 32px !important;
	display: block;
	height: 32px !important;
	overflow: hidden;
	background: image-url($buttons + 'addthis_buttons_32.png') no-repeat left 50%;
	margin-right: 5px;
}

.materials-to-share .addthis_32x32_style .at15t_facebook {
    background-position: 0px -256px;
}

.materials-to-share .addthis_32x32_style .at15t_twitter {
    background-position: 0px -1152px;
}

.materials-to-share .addthis_32x32_style .at300bs .at_a11y {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.materials-to-share .download-image {
  padding-top: 15px;
}

.materials-to-share .download-image p{
  margin-top: 0px;
  padding-top: 1px;
}

.materials-to-share .download-image span.download-infographic-button {
  width: 32px;
  height: 32px;
  margin: 0 7px 0 2px;
  background-image: image-url($buttons + 'download-button.png');
  display: block;
  float: left;
}

.materials-to-share .two-columns.border-bottom{
border-bottom:solid 1px #bdbdbd;
padding-bottom: 20px;
}


/****************** END materials-to-share ********************/
