@import "./colors";

@mixin sprite($x-coordinate: 0, $y-coordinate: 0, $width: 0, $height: 0) {
	background: url($icons + "nci-sprite.png") no-repeat $x-coordinate $y-coordinate;
	width: $width;
	height: $height;
}

@mixin hCenter {
	left: 50%;
	transform: translateX(-50%);
}

@mixin vCenter {
	top: 50%;
	transform: translateY(-50%);
}

@mixin call-to-action-corner() {
	text-transform: uppercase;
	position: absolute;
	z-index: 88;
	padding: 0.62em;
	color: $white;
	background-color: $cta-background;

	// rotate the call to action:
	right: 0;
	transform-origin: top right;
	transform:
		rotate(90deg)
		translate(100%, -1px); // -1px to fix rendering issues
}

@mixin card-clickable {
	// the following classes are to remove padding from the card and give it to the anchor tag so that the whole card is clickable
	.columns {
		padding: 0;
		a {
			padding: em-calc(30px);
			display: block;
		}
	}
}
// not to be confused with %no-bullets in placeholders.scss
@mixin no-before-bullet($noPadding: true) {
	@if $noPadding {
		padding: 0;
	}

	&:before {
		display: none !important;
	}
}

%relativePosition {
	position: relative;
}

%customBullet {
	content: "\2022";
	display: inline-block;
	position: absolute;
	top: -.05em;
	font-size: 1.1em;
	color: $default-text;
}

@mixin customBullet($padding:28px) {
	@extend %relativePosition;
	padding-left: $padding;

	&::before {
		@extend %customBullet;
		left: $padding - 11;
	}
}