/***** BEGIN PAGE OPTIONS *************************************/

/* COMMON for all page options */
.page-options {
	margin-bottom: 1em;

	ul {
		margin: 0;
		background: transparent;
	}
	li {
		display: inline-block;
		margin: 0;
		background-image: url($icons + "page-options-sprites.png"); /* Sprites */
		background-repeat: no-repeat;
	}
}
.contentzone .page-options li:before {
		content: none;
}

/* MOBILE page options */
@media only screen and (max-width: 1024px) {
	.cthp-desktop.page-options {
		display: none;
	}
	
	.page-options {
		li {
			margin: 0 0.875em 0 0;
		}

		a, img {
			width: 35px;
			height: 35px;
		}

		.po-view-entire-document {
			display: none;
		}
		.po-font-resize {
			display: none;
		}
		.po-print {
			display: none;
		}
		.po-email {
			background-position: 0 -337px;
		}
		.po-facebook {
			background-position: 0 -397px;
		}
		.po-twitter {
			background-position: 0 -457px;
		}
		.po-googleplus {
			background-position: 0 -517px;
		}
		.po-pinterest {
			background-position: 0 -577px;
		}
	}
}

/* DESKTOP page options */
@media only screen and (min-width: 1025px) {
	// apply homepage- and landing page-only styles
	.columns.page-options {
		top: 0;
		right: 0;
	}
	
	// apply homepage-only styles
	.home-page-options {
		position: relative;
		padding-bottom: 4.25em;

		.page-options {
			margin-top: 1em;
			margin-bottom: 0;
		}
	}
	
	.page-options {
		margin-top: 1.6em;
		float: right;
		position: absolute;
		top: -3.75em;
		right: 0.875em;

		ul {
			float: right;
		}

		li {
			margin: 0 0 0 0.875em;
		}

		a, img {
			height: 25px;
			width: 25px;
		}

		.po-view-entire-document {
			background-position: 0 0px;
		}
		.po-font-resize {
			background-position: 0 -43px;
			& > a, & img {
				width: 22px;
			}
		}
		.po-print {
			background-position: 0 -83px;
			& > a, & img {
				width: 23px;
			}
		}
		.po-email {
			background-position: 0 -128px;
			& > a, & img {
				width: 20px;
			}
		}
		.po-facebook {
			background-position: 0 -167px;
			& > a, & img {
				width: 8px;
			}
		}
		.po-twitter {
			background-position: 0 -209px;
			& > a, & img {
				width: 19px;
			}
		}
		.po-googleplus {
			background-position: 0 -249px;
			& > a, & img {
				width: 19px;
			}
		}
		.po-pinterest {
			background-position: 0 -293px;
			& > a, & img {
				width: 15px;
			}
		}
	}
}
/****** END PAGE OPTIONS *************************************/
