/***** BEGIN PAGE OPTIONS *************************************/

/* COMMON for all page options */
.page-options {
	margin: 1em 0;
	font-size: 16px;

	ul {
		margin: 0;
		background: transparent;
		white-space: nowrap;
	}
	li {
		display: inline-block;
		margin: 0;
	}
	a {
		display: block;
		height: 100%;
		width: 100%;
	}
}
//.contentzone
.page-options li:before {
		content: none !important;
		display: none !important;
}

/* MOBILE page options */
@include bp(medium-down) {
	.cthp-desktop.page-options {
		display: none;
	}

	//.contentzone {
		.page-options {
			li {
				margin: 0 0.875em 0 0;
				width: 35px;
				height: 35px;
				background-color: $color-link;
				border-radius: 50%;
				a {
					display:block;
					position:relative;
				}
				a:before {
					position: absolute;
					display: block;
					margin: 0;
					font: normal normal normal 20px/1 Flaticon;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					color: $white;
					top: 50%;
					left: 50%;
					@include transform(translateX(-50%) translateY(-50%));
				}
				&:hover {
					background-color: $lcranberry;
				}
			}

			.po-view-entire-document {
				display: none;
			}
			.po-font-resize {
				display: none;
			}
			.po-print {
				display: none;
			}
			/* Note: if the flaticon font is ever updated with additional icon, make sure the keycodes have not changed */
			.po-email a:before {
				content: "\e006"; //.flaticon-envelopes5
			}
			.po-facebook a:before {
				content: "\e008"; //.flaticon-facebook55
			}
			.po-twitter a:before {
				content: "\e01c"; //.flaticon-twitter35
				top: 19px;
				left: 19px;
			}
			.po-googleplus a:before {
				content: "\e009"; //.flaticon-google45
				top: 19px;
				left: 20px;
			}
			.po-pinterest a:before {
				content: "\e017"; //.flaticon-pinterest26
			}
			/*
            .po-email {
                background-position: -183px -12px;

                &:hover {
                    background-position: -243px -12px;
                }
            }
            .po-facebook {
                background-position: -183px -56px;

                &:hover {
                    background-position: -243px -56px;
                }
            }
            .po-twitter {
                background-position: -183px -102px;

                &:hover {
                    background-position: -243px -102px;
                }
            }
            .po-googleplus {
                background-position: -183px -147px;

                &:hover {
                    background-position: -243px -147px;
                }
            }
            .po-pinterest {
                background-position: -183px -192px;

                &:hover {
                    background-position: -243px -192px;
                }
            }
            */
		}
	//}
}

/* TABLET page options */
@include bp(medium) {
    .ncilandingpage #PageOptionsControl1 ul {
        float: right;
    }
    .espanol-home #PageOptionsControl1 ul {
        float: left;
    }
}

/* DESKTOP page options */
//@include bp(large-up) {
	// apply homepage- and landing page-only styles
	.columns.page-options {
		top: 0;
		right: 0;
		position: static;
	}

	// apply CTHP-only styles
	.cthp-mobile.page-options {
		display: none;
	}

	// Apply styling for share icons on CTS Basic Search
	.page-options.cts-share {
		top-margin: 0;
		top: 0;
		position: relative;
		float: none;
	}

	.page-options {
		margin-top: 1.25em;
		float: right;
		position: absolute;
		top: -3.75em;
		right: 0.875em;

		ul {
			float: right;
		}

		li {
			margin: 0 0 0 0.875em;
			//@include sprite($width: 25px, $height: 25px);
		}

		.po-view-entire-document {
			@include sprite($x-coordinate: 0, $y-coordinate: 0, $width: 25px, $height: 25px);
		}
		.po-font-resize {
			@include sprite($x-coordinate: -17px, $y-coordinate: -16px, $width: 22px, $height: 25px);
		}
		.po-print {
			@include svg-sprite(printer);
		}
		.po-email {
			@include svg-sprite(mail-envelope-closed);
		}
		.po-facebook {
			@include svg-sprite(facebook);
		}
		.po-twitter {
			@include svg-sprite(twitter);
		}
		.po-googleplus {
			@include svg-sprite(google-plus-old);
		}
		.po-pinterest {
			@include svg-sprite(pinterest);
		}
	}

	/* Blog pages template places the page options outside the normal container
	   To fix styling we simply need to reverse the top margin applied by the page-options class
	*/
	#blogPageOptionsOuterContainer {
		position: absolute;
		right: 0;
		top: 3.8em;
	}

//}
/****** END PAGE OPTIONS *************************************/