/*** BEGIN PDQ Styles ***/

.toptoc {
    font-family: 'Montserrat', Arial;
    width: 24%;
    float: right;
    margin: 0 -1.2em 10px 2em;
    border-bottom: 12px solid #1e73a6;
    font-size: 0.8em;
    margin-bottom: 3em;
}
.toptoc h3 {
    background-color: #1e73a6;
    color: white;
    font-size: 1em;
    margin: 0;
    padding: 10px 12px;
    font-weight: bold;
    text-transform: uppercase;
}
/* set font size of all content in TOC to the same size */

.toptoc ul {
    margin-bottom: 0;
    line-height: 1.2em;
}
.toptoc li {
    list-style-type: none;
    background: none;
    padding: 0.5em 1em;
    margin: 0;
    border-bottom: 1px solid #d5d5d2;
}
.toptoc li:hover {
    cursor: pointer; // this doesn't make sense for focus state, so I've applied it only to hover state [Wade, 01/14/2015]
}
.toptoc li:hover, .toptoc li:focus {
    text-decoration: underline;
}
.toptoc li:before {
    display: none;
    /* removes the bullets for toptoc li menu items */
}
.toptoc li.selected {
    background: url("../images/backgrounds/toptoc-active.gif") 0 0 repeat-y;
    font-weight: bold;
}
.toptoc .enlarge-link {
    display: none;
}
.toptoc li.viewall span {
    background: url("../images/view-entire-summary.png") no-repeat scroll 0 50% #fffffb;
    padding: 5px 0 5px 20px;
    display: block;
}
.next-link {
    text-align: right;
}
.previous-next-links {
    clear: both;
}
.enlarge-link {
    display: block;
    color: #9c3303;
    text-align: right;
    text-decoration: underline;
}
.large {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
}
.pdq-link-enlarge {
    color: #9c3303;
    display: block;
    margin: 20px 0 -10px;
    text-align: right;
    text-decoration: underline;
}
table .pdq-link-enlarge {
    margin: 0;
}
.pdq-image-table-enlarge {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 5px 5px #808080;
    left: 10px;
    margin-top: 20px;
    position: absolute;
    right: 10px;
}
.pdq-image-table-enlarge table caption {
    padding: 20px 0 10px 10px;
}
table.table-default {
    border-collapse: collapse;
    margin: 15px 0;
}
tfoot.pdq-footer {
    margin: 0;
    padding: 10px;
}
tfoot.pdq-footer td {
    background: none repeat scroll 0 0 #ddd;
    border: medium none;
    font-style: italic;
    padding: 5px;
}
table tfoot {
    font-weight: normal;
    background-color: #cfcfcf;
}
/* removing padding for nested ul elements inside an accordion */

#accordion li > ul,
.accordion li > ul,
.key-points li > ul {
    margin-bottom: 0;
    padding-bottom: 0;
}
/* per ticket OCECREATIV-905 */

/*** END PDQ Styles ***/
