/*** BEGIN PDQ Styles ***/

.toptoc {
	@include font-montserrat;
	width: 24%;
	float: right;
	margin: 0 -1.2em 10px 2em;
	border-bottom: 12px solid #1c5e86;
	font-size: 0.8em;
	margin-bottom: 3em;

	h3 {
		background-color: #1c5e86;
		color: white;
		font-size: 1em;
		margin: 0;
		padding: 10px 12px;
		font-weight: bold;
		text-transform: uppercase;
	}
	ul {
		margin-bottom: 0;
		line-height: 1.2em;
	}
	li {
		z-index: 1;
		list-style-type: none;
		background: none;
		margin: 0;
		border-bottom: 1px solid #d5d5d2;

		&:before {
			// removes the bullets for toptoc li menu items
			content: none;
			display: none;
		}
		&.selected {
			background: url($backgrounds + "toptoc-active.gif") 0 0 repeat-y;
			font-weight: bold;
		}

		> a {
			display: block;
			padding: 0.5em 1em;
		    color: #000000;
		}
		&.viewall > a {
			padding: 0.825em 1em 0.825em 2.5em;
			background: url($icons + "view-entire-summary.png") no-repeat scroll 1em 50% transparent;
		}
	}
	.enlarge-link {
		display: none;
	}
}

@include bp(small){
	/* Hide 'On This Page' section on PDQ & factsheet pages */
	#pdq-toc-article nav.on-this-page, body.cgvfactsheet nav.on-this-page {
		display: none;
	}
}

@include bp(medium-down) {
	// show the full-page (all sections) OTP
	#pdq-toc-article > .on-this-page {
		display: block;
	}
	// hide the individual sections' OTP
	.pdq-sections .on-this-page {
		display: none;
	}
	
	/*** BEGIN PDQ Styles ***/
	.toptoc {
		display: none;
	}
	div#_toc_article {
		display: none;
	}
	section.hide {
		display: block;
	}
	/*** END PDQ Styles ***/
}

@include bp(large-up){
	.toptoc {
		margin-right: em-calc(-50px, 0.8*$em-base);
	}
	
	/** BEGIN PDQ Styles **/
	section.hide, div.hide {
		display: none;
	}
	section.show, div.show {
		display: block;
	}
	/** END PDQ Styles **/
}

.next-link {
	text-align: right;
}
.previous-next-links {
	clear: both;
}
.enlarge-link {
	display: block;
	color: #9c3303;
	text-align: right;
	text-decoration: underline;
}
.large {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
}
.pdq-link-enlarge {
	color: #9c3303;
	display: block;
	margin: 20px 0 -10px;
	text-align: right;
	text-decoration: underline;
}
table .pdq-link-enlarge {
	margin: 0;
}
.pdq-image-table-enlarge {
	background: none repeat scroll 0 0 #fff;
	@include box-shadow(0 0 5px 5px #808080);
	left: 10px;
	margin-top: 20px;
	position: absolute;
	right: 10px;
}
.pdq-image-table-enlarge table caption {
	padding: 20px 0 10px 10px;
}
table.table-default {
	border-collapse: collapse;
	margin: 15px 0;
}
tfoot.pdq-footer {
	margin: 0;
	padding: 10px;
}
tfoot.pdq-footer td {
	background: none repeat scroll 0 0;
	background-color: $caption-background;
	font-size: 14px;
	@include font-montserrat;
	line-height: 1.5em;
	border: medium none;
	font-style: italic;
	padding: 5px;
}
table tfoot {
	font-weight: normal;
	background-color: $caption-background;
	font-size: 14px;
	line-height: 1.5em;
	@include font-montserrat;
}
// Publish preview does not have class names on the body, hence summary-sections.
body.pdqcancerinfosummary table.table-default, .summary-sections table.table-default {
	@extend table.complex-table;
}
/* removing padding for nested ul elements inside an accordion */

#accordion li > ul,
.accordion li > ul,
.key-points li > ul {
	margin-bottom: 0;
	padding-bottom: 0;
}

/* per ticket OCECREATIV-905 */

/* following two classes are for lists */
.pdq-content-list {

}
.pdq-list-title {
	font-weight: bold;
	font-style: italic;
}

.pdq-hp-patient-toggle {

      /* margin-top: -10px; -->  half the icon height */
      & a:after {
          content: "";
          background: $ncisprite no-repeat -467px -217px;
          width: 20px;
          height: 20px;
          display: inline-block;
          margin-left: 10px;
          margin-bottom: -5px;
      }

      & a:hover:after, & a:focus:after {
          background-position: -382px -217px;
      }
      & a:hover, & a:focus {
          color: $lcranberry;
      }
}


// These styles are for the PDQ summary list by topic pages
.contentzone ul.PDQ-list {
	padding-left: 0;
}
.contentzone ul.PDQ-list li:before {
	content: none;
}
.contentzone ul.PDQ-list li {
	background-image: none;
	margin-left: 0;
	padding-left: 0;
}
.contentzone ul.PDQ-list ul {
	margin-top: 3px;
	padding-left: 20px !important;
}
.contentzone .PDQ-list ul > li {
	display: inline;
}
.contentzone ul.PDQ-list ul {
	margin-left: 0;
	padding-left: 0;
}
.contentzone .PDQ-list ul > li:first-child:before {
	content: none;
	display: none;
}
.contentzone .PDQ-list ul > li:before {
	content: "|";
	padding-left: 20px;
	padding-right: 5px;
	float: none;
	top: 0;
}


ul.pdq-address-block {

}
ul.pdq-address-block li {
	background: none;
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}
.contentzone ul.pdq-address-block > li:before {
	content: none;
}
/* new styles */
.trial-sites h4 {
	background: #E6E6E2;
	padding: 3px 0;
	/* font-size: 16px; */
}
.trial-sites h5 {
	color: #993333;
	font-size: 15px;
	margin: 10px 0;
}
.trial-sites h6 {
	/* font-size: 14px; */
	font-style: normal;
	margin: 5px 0 10px;
}
.trial-sites .two-columns {
	margin: 0 30px;
}
.definition-term {
	line-height: 1em;
}
.definition-term-image {
	display: inline-block;
	vertical-align: middle;
}
figure.definition-image {
	width: 25%;
	display: block;
}
table.drug-combination {
	margin-left: 0px; //removed 20px per OCEPROJECT-2527
	width: 100%;

	td {
		padding: 5px;

		&.drug-combo-letter {
			text-align: right;
			font-weight: bold;
		}
	}
}
.two-columns.brand-fda {
	width: 60%;
}
.brand-fda .column1 {
	font-weight: bold;
}
table.table-default tfoot td {
	border: none;
	font-style: normal;
	margin: 0;
	padding: 8px 10px;
	background: $caption-background;
	font-size: 14px;
	line-height: 1.5em;
	@include font-montserrat;
}
.dis-disclaimer {
}
/* end new styles */

/* begin clinical trial search results */
form .row .clinical-trial-individual-result {
	margin-bottom: 75px;
}
.row .row .ct-results-form  {
	margin: 60px 20px 30px 0;
}
form .row .view-content-for-container {
	border: 1px solid #bdbdbd;
	border-top: 4px solid #00cccc;
	padding: 10px;
}
.ct-results-help {
	text-align:right;
}
.search-criteria-box {
	display: inline-block;
	border: 1px solid #bdbdbd;
	padding: 10px 15px;
	margin: 0 0 30px;
}
.ct-results-top-search-options {
	margin-top: 30px
}
%criteria-link {
	content: " ";
	@include sprite($x-coordinate: -460px, $y-coordinate: -186px, $width: 8px, $height: 5px);
	display: inline-block;
	position: relative;
	margin-left: 5px;
	margin-bottom: 2px;
	padding: 0 10px;
}
.show-criteria-link a {
	color: #606060;
}
.show-criteria-link a:after {
	@extend %criteria-link;
}
.hide-criteria-link {
	border-bottom: 1px solid #bdbdbd;

	a {color: #606060;}

	a:after {
		@extend %criteria-link;
		background-position: -488px -186px;
	}
}
.clinicaltrials-results-criteria-display {
	padding: 10px 0px;
}
.ct-results-lower-control {
	margin-bottom: 40px;
}
.ct-results-bottom-action {
}
.ct-results-top-control {
	margin: 10px 0 50px 0;
}
.ct-results-select-all, .ct-results-sort, .ct-results-show {
	margin-right: 20px;
}
.ct-results-go {
}
.cts-results-container .row .checkbox {
	float: right;
	margin-right: 0.5em;
	line-height: 1.25;
}
@include bp(medium-down) {
	.cts-results-container .row .checkbox {
		float: none;
	}
}
/* end clinical trial search results */

/* Protocol search results */
.study-site-city {
	margin-left: 15px;
}
.study-site-name {
	font-weight: bold;
}
/* end Protocol search results */

ul.collaborators {
	@extend %no-bullets;
}
ul.collaborators li {
	margin-left: 0;
}

// Visibility for sections/tables/images
// See OCEPROJECT-3361
[data-display-excludedevice~="screen"] {
	// hide for tablet and desktop (yes, "screen" means "tablet and desktop" here)
	@include bp(medium-up) {
		display: none !important;
	}
}
[data-display-excludedevice~="mobile"] {
	// hide for smartphone
	@include bp(small) {
		display: none !important;
	}
}

/*** END PDQ Styles ***/
