@import "colors";
// These are effectively mixins that should be eventually converted to such or deprecated. Aggregated here to avoid having to 

%no-bullets {
	& > li {
		margin: .5em 0;
		&:before {
			display: none !important;
		}
	}
	ul {
		margin: 5px 0 8px;
		& > li {
			padding: 0 0 0 10px;
			margin: 0 0 5px;
		}
	}
}

%card-link-hover {
	&:hover, &:focus {
		color: $lcranberry;
		text-decoration: none;
	}
}