@media print {
  html {
	font-size: 75%;
  }

  nav, .navigation, .nav, .language-bar, .nav-search-bar, .fixedtotop, .breadcrumbs, .bcrumbs, .page-options, .local-navigation, #section-menu-button, .site-footer, #nvcgSlNotificationArea, .toptoc, .pagination, .syndication, .article-image-enlarge, .previous-next-links, .general-page-body-container > div.large-12, .cthp-version-toggle, .hero, .carousel-title, .other-nci-sites {
    display: none !important; // important used because in some places foundation classes are overwriting
	}
	a {
		text-decoration: none !important;
		border-bottom: none !important;
	}
	.contentzone {
		width: 100%;
		padding-right: 0;
	}
	.main-content, .nci-logo, .cthp-content {
		background: none;
	}
	.nci-logo-pages {
		font-size: 32px;
	}
	.nci-logo a, .columns.contentzone, .cthp-content .columns {
		padding-left: 0;
	}
	.nci-logo {background: none;}
	.nci-logo a span {
		display: block;
		position: relative;
		left: 0;
	}
	#nvcgSlCTHPIntro .row, .cthp-card-container {
		margin-left: 0 !important; margin-right: 0 !important;
	}
	.general-page-body-container {
		@include box-shadow(none);
	}
	.cthp-content h1 {
		color: inherit;
	}
}
