.results {
	dt,
	dd.pronunciation {
		display: inline;
		margin-bottom: 0;
	}
	dd.pronunciation {
		margin-left: 0.5em;

		> span {
			margin-left: 0.25em;
		}
	}
	dd {
		margin-bottom: 1em;
	}

	h2, h3, h4 {
		margin-top: 40px;
		margin-bottom: 30px;
	}

	.term {
		font-weight: normal;
	}

	.results-count {
		font-family: #{$montserrat-font-stack};
		font-weight: bold;
		font-size: em-calc(28px);
		line-height: em-calc(35px);
	}

	.result .row + .row {
		margin-top: em-calc(20px);
	}
}
.results-pager {
	margin-bottom: em-calc(85px);
}
.sitewide-results {
	ul > li {
		margin-top: em-calc(30px);
		margin-bottom: em-calc(30px);
	}
	.url {
		font-size: 0.875em;
	}
}

.pagination {
	float: right;
	font-size: 1.125em;

	/* used on dictionary pages */
	li {
		display: inline-block;
		margin-left: 0.75em;
	}
	// to get rid of bullets (can't use no-bullets because it adds annoying padding/margin)
	ul > li:before {
		content: none;
	}

	.next a:after {
		content: ">";
	}
	.previous a:before {
		content: "<";
	}
	.current {
		font-weight: bold;
	}

	/* used on complex search pages (clinical trials, etc.) */
	> span {
		font-weight: bold;
	}
	input {
		background: none;
		border: none;
		font-size: 1em;
		font-family: inherit;
		color: #186e88;
		margin-left: 0.75em;
		&:hover, &:focus {
			text-decoration: underline;
		}
		&:hover {
			cursor: pointer;
		}
	}
}
