/****************** BEGIN Topic Pages ********************/

div.cc-main-pages {
	padding: 0.625em 0 0.625em 0.625em;
}

div.cc-main-pages div.title-red-arrow {
	float: left;
	width: 31.25em;
}
.landing-thumb {
	clear: both;
}
.landing-thumb-image {
	width: 190px;
	margin-top: 1.8125em;
	display: inline-block;
	vertical-align: top;
}

.landing-thumb-image figure.image-center-full{
	margin: 0 auto;
}

.landing-thumb-text {
	width: 70%;
	padding-left: 1.25em;
	display: inline-block;
	vertical-align: top;
}
.landing-thumb-text h3 {
	font-weight: normal;
}
.landing-thumb-text h3 a:hover, .landing-thumb-text h3 a:focus {
	text-decoration: none;
	color: $lcranberry;
}
.cgvtopicpage .columns > h3 {
	font-weight: normal;
}
@media only screen and (min-width: 641px){
.cgvtopicpage .columns > h3 {
	margin-top: 0;
}

@media only screen and (max-width: 1024px){
	.landing-thumb-image {
		display: none;
	}
}

	.landing-thumb-text {
		width: 100%;
		padding-left: 0em;
	}
}

/****************** END Topic Pages ********************/