/****************** BEGIN Topic Pages ********************/

div.cc-main-pages {
	padding: 0.625em 0 0.625em 0.625em;
}

div.cc-main-pages div.title-red-arrow {
	float: left;
	width: 31.25em;
}

.landing-thumb-image {
	width: 190px;
	margin-top: 1.8125em;
	display: inline-block;
	vertical-align: top;
}

.landing-thumb-image figure.image-center-full{
	margin: 0 auto;
}

.landing-thumb-text {
	width: 78%;
	padding-left: 1.25em;
	display: inline-block;
	vertical-align: top;
}

@media only screen and (max-width: 1024px){
.landing-thumb-image {
	display: none;
}
}

/****************** END Topic Pages ********************/