@import "variables";
@import "breakpoints";

.subheader {
  line-height: 1.4;
  color: #adadad;
  font-weight: 300;
  margin-top: .2em;
  margin-bottom: .5em;
}

/* Default Link Styles */
a {
  color: #2ba6cb;
  text-decoration: none;
  line-height: inherit;

  &:focus {
    color: #2795b6;
  }

  &:hover {
    color: #2795b6;
  }

  img {
    border: none;
  }
}

/* Default paragraph styles */
p {
  font-family: inherit;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.25em;
  text-rendering: optimizeLegibility;

  &.lead {
    font-size: 1.21875em;
    line-height: 1.6;
  }

  & aside {
    font-size: .875em;
    line-height: 1.35;
    font-style: italic;
  }
}

/* Default header styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $montserrat-font-stack;
  font-weight: bold;
  font-style: normal;
  color: $dgrey00;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  margin-bottom: .5em;
  line-height: 1.2125em;

  small {
    font-size: 60%;
    color: #adadad;
    line-height: 0;
  }
  p {
		font-weight: inherit;
  }
  & + p {
    margin-top: 0.5em;
  }
	a {
		font-weight: normal;
	}
}

h1 {
	line-height: 1.1em;
  font-size: 1.75em;    // 28px
  @include break(large){
    // Adjust article titles to line up with sub-menu in web.
    margin-top: .58em;
  }
}
h2 {
	line-height: 1.215em;
	font-size: 1.4375em;  // 23px
}
h3 {
	line-height: 1.25em;
	font-size: 1.25em;    // 20px
}
h4 {
	line-height: 1.333em;
	font-size: 1.125em;   // 18px
}
h5 {
	line-height: 1.333em;
	font-size: 1em;       // 16px
}
h6 {
	line-height: 1.125em;
	font-size: 1em;       // 16px
	font-style: italic;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0;
}

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}

code {
  font-family: Consolas, Liberation Mono, Courier, monospace;
  font-weight: 700;
  color: #7f0a0c;
}

.button, form button {
	font-size: 1em;
}

/* Lists */
ul,
ol,
dl {
  // font-size: 1em;
  line-height: 1.5;
  // margin-bottom: 1.25em;
  margin-bottom: 1em;
  // list-style-position: outside;
  // font-family: inherit;
}


/* Unordered Lists */
ol, ul {
  ol, ul {
    margin-bottom: 0;
  }

  &.square,
  &.circle,
  &.disc {
    li ul {
      list-style: inherit;
    }
  }

  &.square {
    list-style-type: square;
  }

  &.circle {
    list-style-type: circle;
  }

  &.disc {
    list-style-type: disc;
  }

  &.no-bullet {
    list-style: none;
  }
}

/* Ordered Lists */
ol {
  ol, ul {
    margin-left: 1.25em;
  }
}

/* Definition Lists */
dl {
  dt {
    margin-bottom: .3em;
    font-weight: bold;
  }

  dd {
    margin-bottom: .3em;
  }
}

/* Dictionary Definition Term */
dt dfn span,
dt dfn {
  font-weight: bold;
}

/* Abbreviations */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: $body-font-color;
  border-bottom: 1px dotted #ddd;
  cursor: help;
}

abbr {
  text-transform: none;
}

/* Blockquotes */
blockquote {
  margin: 0 0 1.25em;
  padding: .5625em 1.25em 0 1.1875em;
  border-left: 1px solid #ddd;

  cite {
    display: block;
    font-size: .8125em;
    color: #939393;

    &:before {
      content: "\2014 \0020";
    }

    a,
    a:visited {
      color: #939393;
    }
  }
}

blockquote,
blockquote p {
  line-height: 1.6;
  color: #adadad;
}

/* Microformats */
.vcard {
  display: inline-block;
  margin: 0 0 1.25em;
  border: 1px solid #ddd;
  padding: .625em .75em;

  li {
    margin: 0;
    display: block;
  }

  .fn {
    font-weight: 700;
    font-size: .9375em;
  }
}

.vevent {
  .summary {
    font-weight: 700;
  }

  abbr {
    font-weight: 700;
    cursor: default;
    text-decoration: none;
    border: none;
    padding: 0 .0625em;
  }
}