@import 'colors';
$circle-arrow-blue-small: url($buttons + "small-blue-circle-arrow.png");

$circle-arrow-red-small: url($buttons + "small-red-circle-arrow.png");

$circle-arrow-off-cream-small: url($buttons + "small-off-cream-circle-arrow.png");
$ncisprite: url($icons + "nci-sprite.png");


$siteSearchFormPadding: 6.5em;
$swKeywordFontSize: 1.375em;
