/*** Video Player ***/
.videoPlayer {
	/* margin: 0px 0 20px 0; */
}
.video-carousel-container {
	/* padding:0 0 20px 0;
	float:left; */
}
.video-carousel-video {
}
/* Video Titles */
h3.video50title {
	padding: 0;
	font-size:14px;
}
h3.video75title {
	padding: 0;
	font-size:16px;
}
h3.video100title {
	padding: 0;
	font-size:18px;
}
/* End Video Titles */
/* Video Captions */
.media-caption {
	display:block;
	color:#666;
	background:#DDDDDD;
	padding:10px;
	margin-top:5px;
	font-size:12px;
	line-height:1.2em;
}
.media-caption p:first-child {
	margin-top:0;
}
.media-caption p:last-child {
	margin-bottom:0;
}
.caption-line {
	margin-top:5px;
	border-top: 1px solid #BDBDBD;
}
.size50 .media-caption {
	font-size:11px;
}
.size75 .media-caption {
	font-size:12px;
}
.size100 .media-caption {
	font-size:13px;
}
.video-carousel-caption {
	display: block;
	color: #666;
	background: #DDDDDD;
	text-align: right;
	padding: 10px;
}
.video-carousel-caption img {
	float: right;
	padding-left: 5px;
}
.video-carousel-caption .size75 {
	font-size:13pt;
}
.video-carousel-caption .size100 {
	font-size:14pt;
}
/* End Video Captions */
/* Video Sizes */
.size50 {
	width:45%;
}
.size75 {
	width:70%;
}
.size100 {
	width:100%;
}
/* End Video Sizes */
/* Video Alignment */
.video.center {
	float: none;
}
.video.left {
	float: left;
	margin-right: 5%;
}
.video.right {
	float: right;
	margin-left: 5%;
}
/* End Video Alignment */
/*** END Video Player ***/

