@import "breakpoints";

/*
  currently only using these classes:
    - .show-for-medium-up
    - .show-for-small
    - .hide-for-medium-down
    - .hide-for-small
*/

.show-for-small,
.show-for-medium-down,
.show-for-large-down { display: inherit !important; }

.show-for-medium,
.show-for-medium-up,
.show-for-large,
.show-for-large-up { display: none !important; }

.hide-for-medium,
.hide-for-medium-up,
.hide-for-large,
.hide-for-large-up { display: inherit !important; }

.hide-desktop,
.hide-for-small,
.hide-for-medium-down,
.hide-for-large-down,
.hide-otp-on-collapse { display: none !important; }

@include break(medium) {
  .show-for-medium,
  .show-for-medium-up { display: inherit !important; }

  .show-for-small { display: none !important; }

  .hide-for-small,
  .hide-otp-on-collapse { display: inherit !important; }

  .hide-for-medium,
  .hide-for-medium-up { display: none !important; }
}
@include break(large) {
  .show-for-large,
  .show-for-large-up { display: inherit !important; }

  .show-for-medium,
  .show-for-medium-down { display: none !important; }

  .hide-for-medium,
  .hide-for-medium-down { display: inherit !important; }

  .hide-for-large,
  .hide-for-large-up { display: none !important; }
}
