    /* spacing */
    .slick-slide {
        margin: 0 10px 0 0;
    }
    /*.slick-slide:last-child {
        margin: 0;
    }*/
    /* opacity on non-active slide items */
    .slick-slide {
        background-color: #000;
    }
    .slick-slide .container {
        opacity: 0.5;
    }
    /* overwrite above styles for opacity and background-color */
    .slick-active {
        background-color: #fff;
    }
    .slick-active .container {
        opacity: 1;
    }
    .arrows-for-other-nci-sites .previous {
        display: none;
    }
    .arrows-for-other-nci-sites .next {
        position: absolute;
        right: 20px;
        z-index: 800;
        top: 50%;
    }
    .arrows-for-other-nci-sites .next {
        display: none;
    }

