/* *************************************************************************/
/* X-LARGE DISPLAY STYLES (EXTRA LARGE) */
/* *************************************************************************/
@media only screen and (min-width : 1441px) {
        .row, nav .sub-nav-group-wrapper {
            max-width: 1200px;
        }
        /* MegaMenu styles for side exits */
            nav .sub-nav-group-wrapper {
            max-width: 90em;
        }
        nav .sub-nav-group-subwrapper {
            max-width: 75em;
            margin: 0 auto;
        }
}

