/* *************************************************************************/
/* X-LARGE DISPLAY STYLES (EXTRA LARGE) */
/* *************************************************************************/
@include bp(xtra-large) {
        .row, nav .sub-nav-group-wrapper {
            max-width: 1200px;
        }
        /* MegaMenu styles for side exits */
            nav .sub-nav-group-wrapper {
            max-width: 80em;
            //Changes for WCMSFEQ-94
            //max-width: 90em;
        }
        nav .sub-nav-group-subwrapper {
            max-width: 75em;
            margin: 0 auto;
        }
}