/* *************************************************************************/

/* MOBILE + TABLET STYLES (SMALL AND MEDIUM) */

/* *************************************************************************/

@media only screen and (max-width: 1024px) {
    .bcrumbs {
        display: none;
    }
    .shareBtn {
        margin-top: 0;
    }
    .shareComponent {
        float: right;
        width: initial;
    }
    .section-head {
        float: none;
        width: 100%;
    }
    figure.image-left-medium {
        width: 100%
    }
    .feature-primary {
        .card {
            background: white;
        }
        a {
            color: #606060;
        }
        h3 {
            color: #076f88;
        }
    }
    /* hide the TOC on small/medium screens. The accordion serves the same purpose */
    /* hide the key-points on small/medium screens. Because, reasons^^^^ (the same reasons). 2014-11-05 SJC #OCECREATIV-879 */
    .toc-container,
    .key-points {
        display: none;
    }
    .back-to-top {
        display: none !important;
    }
    /*** BEGIN Megamenus/Search Styles ***/
    #content {
        padding-top: 0;
    }
    /* Reveal open/close buttons */
    a.open-panel,
    a.close-panel {
        display: inline;
    }
    .close-panel {
        position: relative;
        top: .5em;
        left: 1em;
    }
    #page, #mega-nav {
        position: relative;
        left: 0;
        -webkit-transition: left 500ms ease;
        -moz-transition: left 500ms ease;
        -o-transition: left 500ms ease;
        transition: left 500ms ease;
    }
    .openNav #page {
        left: 80%;
    }
    .fixedtotop {
        -webkit-transition: left 500ms ease;
        -moz-transition: left 500ms ease;
        -o-transition: left 500ms ease;
        transition: left 500ms ease;
    }

    /* When the panel is closed, transition the page back to the left */
    /* hide search on mobile */
    .search {
        display: none;
    }

    /* Move nav off screen, setup transitions */
    #mega-nav {
        z-index: 1000;
        position: fixed;
        left: -80%;
        top: 0;
        width: 80%;
        height: 100%;
        background-color: #E9E9E7;
        -webkit-box-shadow: -15px 0px 15px -15px rgba(0, 0, 0, 0.6) inset;
        -moz-box-shadow: -15px 0px 15px -15px rgba(0, 0, 0, 0.6) inset;
        box-shadow: -15px 0px 15px -15px rgba(0, 0, 0, 0.6) inset;

        .openNav & {
            left: 0.01%;
        }

        > ul > li:first-child {
            display: inherit;
        }

        /* Display nav items vertically */
        ul.menu {
            border-top: 1px solid #888;
        }
        ul.menu li {
            width: 100%;
            box-sizing: border-box;
            border-top: 1px solid #888;
        }

        > ul {
            overflow-y: auto;
            height: 100%;
        }
        /*
        > li,
        > li > ul > li {
            padding-left: 0;
        }
        */
        li a {
            display: inline-block;
            min-height: 1.5em;
            width: 75%;
            text-decoration: none;
            padding-top: .6em;
            font-size: 1.1em;
            color: #606060;
        }
        li > div > a {
            width: 75%;
            /* If we add "has-children", change to 100% */
        }
        /* Re-add if we add "has-children"
        li.has-children > div > a {
            width: 75%;
        }
        */

        li {
            border-top: 1px solid #898987;
        }

        /* list item spacing through the hierarchy */
        li > div > a,
        li li > div > a {
            padding-left: 31px;
            font-size: 1.17em;
            padding-top: 12px;
            padding-bottom: 12px;
        }
        li li li > div > a {
            padding-left: 44px;
            font-size: 0.91em;
            padding-top: 14px;
            padding-bottom: 11px;
        }
        li li li li > div > a {
            padding-left: 62px;
            font-size: 0.78em;
            font-weight: bold;
            padding-top: 12px;
            padding-bottom: 15px;
        }
        /* remove padding on HOME link to appear as a level 0 item */
        .nav-menu > li > div > a {
            padding-left: 17px;
            color: #606060;
            padding-top: 14px;
        }
        .highlight > div {
            background-color: #0498a1;
        }
        .highlight > div > a {
            font-weight: bold;
        }
        .nav-menu .highlight > div > a {
            color: #fefefe;
        }
        /* remove background color of any child lists items of the highlighted */
        .highlight ul li {
            background-color: #E9E9E7;
            color: #2ba6cb;
        }

        /* clicked link state */
        .nav-menu li > div > a.active {
            /*
            background-color: #BB0E3C;
            background-image: none;
            */
            color: #fff;
        }
        .nav-menu li > div.active {
            background-color: #BB0E3C;
            background-image: none;
        }
        /* remove margin from lists */
        ul {
            margin: 0;
            width: 100%;
        }
        .nav-item-title {
            position: relative;
        }
    }
    .sub-nav-mega {
        display: none;
    }
    .hidden-sibling {
        display: none;
    }
    .hidden {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
    /*** END Megamenus/Search Styles ***/
    /*** BEGIN mobile section nav ("tongue") styles ***/
    /* fix the margin (on mobile) for pages with a section nav */
    .has-section-nav {
        margin-top: 1.5em;
    }
    /* container width */
    .main-content .general-page-body-container .local-navigation {
        padding-left: 5%;
        padding-right: 5%;
    }
    .section-nav {
        display: none;
        position: absolute;
        top: 1.9375em;
        z-index: 999;
        width: 90%;
        background: white;
    }
    .section-nav,
    .section-nav ul,
    .section-nav ul li {
        margin: 0;
    }
    .section-nav div {
        position: relative;
        font-size: 0.875em;
        line-height: 1.2;
        padding-top: 0.625em;
        padding-bottom: 0.625em;
    }
    .section-nav .contains-current > div {
        font-weight: bold;
    }
    .section-nav div > a {
        display: inline-block;
    }
    .section-nav ul li {
        border-top: 1px solid #d5d5d2;
    }
    .section-nav ul > li:first-child {
        border: none;
    }
    /* these will not apply to the top-level item (currently in blue) */
    .section-nav ul div > a {
        margin-right: 3.8125em;
        color: #606060;
        line-height: 1.5;
        vertical-align: middle;
    }
    .section-nav div.current-page > a {
        color: white;
        font-weight: bold;
    }
    /** BEGIN level-by-level styling **/
    /* level 0 */
    .section-nav .level-0 > div {
        font-size: 1.125em;
        font-weight: bold;
        padding-top: 0.625em;
        padding-bottom: 0.625em;
        background-color: #186d89;
    }
    .section-nav .level-0 > div > a {
        color: #FFFFFF;
        margin-left: 0.8888em;
        margin-right: 3.3888em;
    }
    /* level 1 */
    .section-nav .level-1 > div > a {
        text-transform: uppercase;
        margin-left: 1em;
    }
    .section-nav .level-1.contains-current {
        background-color: #eeedf4;
    }
    /* level 2 */
    .section-nav .level-2 > div > a {
        margin-left: 1.875em;
        font-family: Noto, Arial;
    }
    .section-nav .level-2 > ul {
        z-index: 1;
        position: absolute;
        background: #c7c7d3;
    }
    /* level 3 */
    .section-nav .level-3 > div > a {
        margin-left: 2.3em;
        margin-right: 2.0833em;
        font-size: 0.9em;
    }
    /** END level-by-level styling **/
    /* this rule to be below the level-by-level styles */
    .section-nav div.current-page {
        background: #009b9d;
    }
    /* style section menu clicker on mobile */
    #section-menu-button {
        position: absolute;
        z-index: 2020;
        cursor: pointer;
        text-align: right;
        color: #fff;
        font-size: 0.625em;
        line-height: 1.6;
        min-height: 1.5em;
        padding: 0.75em 2.5em 0.75em 0.75em;
        right: 5%;
        background: #186d89 95% 50% no-repeat;
        background-image: url($buttons + "section-menu-down-arrow.png");
        font-family: 'Montserrat', Arial;
        text-transform: uppercase;
    }
    #section-menu-button.open {
        background-image: url($buttons + "section-menu-up-arrow.png");
    }
    /* Fallbacks */
    .no-js .section-nav ul {
        display: none;
    }
    .no-js .section-nav:hover ul, .no-js .section-nav:focus ul {
        display: block;
    }
    /* section nav grey page overlay - http://css-tricks.com/snippets/jquery/append-site-overlay-div/ */
    #overlay {
        opacity: 0.4;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: black;
        width: 100%;
        z-index: 998;
    }
    /*** END Section Nav Styles ***/
    header {
        padding: 1em 0;
    }
    .language-bar {
        background: #2a71a5;
        color: white;
    }
    .sitewide-language a {
        color: white;
    }
    /* begin mobile menu styles */
    .navigation {
    }
    .mobile-menu-bar {
        margin-top: 0.5em;
    }
    .mobile-menu-bar h2 {
        padding-top: 35px;
    }
    .nav-search-bar {
        line-height: 0;
    }
    $mobile-menu-color: #fff;
    .nav-header,
    .nav-contact,
    .nav-dictionary,
    .nav-search {
        float: left;
        font-size: .8em;
        color: $mobile-menu-color;
        padding: 2em 0 0 0;
        width: 24%;
        text-align: center;

        a {
            color: $mobile-menu-color;
        }
    }
    .nav-header {
        background: transparent url($icons + "menu-icon.png") no-repeat center 0;
    }
    .nav-contact {
        background: transparent url($icons + "phone-mobile.png") no-repeat center 0;
    }
    .nav-dictionary {
        background: transparent url($icons + "dictionary-mobile.png") no-repeat center 0;
    }
    .nav-search {
        background: transparent url($icons + "search-mobile.png") no-repeat center 0;
    }
    /* end mobile menu styles */

    /* begin carousel styles */
    /* spacing */
    .slick-slide {
        margin: 0 10px 0 0;
    }
    /*.slick-slide:last-child {
        margin: 0;
    }*/
    /* opacity on non-active slide items */
    .slick-slide {
        background-color: #000;
    }
    .slick-slide .container {
        opacity: 0.5;
    }
    /* overwrite above styles for opacity and background-color */
    .slick-active {
        background-color: #fff;
    }
    .slick-active .container {
        opacity: 1;
    }
    .arrows-for-other-nci-sites .previous {
        display: none;
    }
    .arrows-for-other-nci-sites .next {
        position: absolute;
        right: 20px;
        z-index: 800;
        top: 50%;
    }
    .arrows-for-other-nci-sites .next {
        display: none;
    }
    /* end carousel styles */
    .main-content {
        background: #f7f8f3;
    }
    .on-this-page {
        display: none;
    }

    .contentzone .document-dates,
    .contentzone .document-dates.horizontal {
        ul > li {
            display: block;
            &:before {
                content: none;
                display: none;
            }
        }
    }

	.public-use{
		font-size: 0.875em;
	}

	.syndication{
		font-size: 0.875em;
	}

    .site-footer {
        background-position: 120% 150px;
    }
    .footer-utility .columns {
        width: 100%;
    }
    .agencies ul {
        text-align: left;
    }
    .agencies ul li {
        display: block;
        background: none;
        padding-right: 0;
        margin-right: 0;
    }
    .hero-text {
        position: absolute;
        bottom: 0;
        color: white;
        background-color: rgba(51, 102, 153, 0.5);
        font-size: 1.2em;
        font-weight: bold;
        width: 100%;
        padding: 0 0.8em;
        left: 0;
        top: auto;
    }
    .hero-text p {
        line-height: 1;
        margin: 0.2em;
    }
    .guide-card {
        margin-bottom: 0;
        margin-top: -35px;
    }
    .guide-card .card,
    .guide-card .featured-card {
        background: #1d5e86;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
    }
    .guide-card .card h3 {
        color: white;
        background: url($buttons + "small-arrow.png") 95% center no-repeat;
        border-bottom: 1px solid black;
        padding: 0.3em 0.9375em;
        margin: 0;
    }
    .guide-card .card h3.last {
        border-bottom: none;
    }
	/* CTHP Page */
    .cthp-title {
        margin-top: 0;
    }
	.cthp-card-container {
	margin-top: 0;
		padding-left: 0.9375em;
		padding-right: 0.9375em;
	}
	.cthp-intro-multimedia {
	text-transform: uppercase;	
	}
	.cthp-treatment,
.cthp-research,
.cthp-causes,
.cthp-genetics,
.cthp-screening,
.cthp-survival,
.cthp-general {
    margin-bottom: 0;
}
	/* END CTHP Page */
    .feature-zone-image img {
        display: block;
        margin: 0 auto;
    }
    .featured-zone {
        margin-right: 0;
    }
    .home-director-stories,
    .infographic {
        background: none
    }
    .key-facts,
    .key-points {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        float: none;
    }
    /* since these items are still in columns at tablet, this reverses previous move for these classes */
    .feature-primary h3,
    .feature-primary p,
    .feature-secondary h3,
    .feature-secondary p,
    .other-sites-carousel h3,
    .contentzone .page-options {
        padding-left: 0;
    }
    /* Multimedia row does need padding in tablet */
    .multimedia h3,
        .multimedia p {
             padding-left: 15px;
    }
    /*** BEGIN PDQ Styles ***/
    .toptoc {
        display: none;
    }
    div#_toc_article {
        display: none;
    }
    section.hide {
        display: block;
    }
    /*** END PDQ Styles ***/
}
