/* *************************************************************************/
/* TABLET STYLES (MEDIUM) */
/* *************************************************************************/
@media only screen and (min-width : 641px) and (max-width :1024px) {
    .nci-logo {
      background-image: url(../images/icons/NIH-red-logo-tablet.png);
      font-size: 24px;
    }
    .nci-logo a {
      padding-left: 90px;
    }
}

