/* *************************************************************************/
/* MOBILE STYLES (SMALL) */
/* *************************************************************************/
@media only screen and (max-width :640px) {
        .nci-logo {
            background-image: url($logos + "NIH-red-logo-smartphone.png");
            font-size: 16px;
            line-height: 1.1;
        }
        .nci-logo a {
            padding-left: 70px;
        }
        .nci-logo a span {
            font-size: 0.75em;
        }

        figure.image-right-medium,  figure.image-right-small {
            width: 100%;
            margin: 0 0 1em 0;
        }


            .main-content {
            background: none;
        }

        .hero-text {
            font-size: 0.9em;
        }
        /* remove padding on language links to fit all on one line */
            .sitewide-language {
            padding-right: 0;
        }
        /* no gutter on left and right in mobile */
            .card, .card-thumbnail div {
            padding-right: 0;
            padding-left: 0;
        }
        /* the portal pages needed these items to not hit the edge of screen on mobile only */
        .feature-primary h3,  .feature-primary p,  .feature-secondary h3,  .feature-secondary p, .multimedia h3, .multimedia p, .other-sites-carousel h3, .row.card-thumbnail h4, .row.card-thumbnail h3, .row.card-thumbnail p {
            padding-left: 15px;
        }
	/** CTHP styles **/
	.cthp-body {
    float: none;
    width: 100%;
}
	/** END CTHP styles **/
}
