<div>
    <h2>Send Us Your Feedback</h2>
    <form id="cts-feedback-form">
        <label for="cts-feedback-message" class="hidden">Message</label>
        <textarea  
            id="cts-feedback-message" 
            name="message" 
            rows="10"
            placeholder= "Describe your issue or share your ideas" />
        
        <div class="cts-feedback-buttons row">
            <button id="cts-feedback-submit" type="button" class="submit button right">Send</button>
            <button id="cts-feedback-cancel" type="button" class="reset button right">Cancel</button>
        </div>
    </form> 
</div>