<div>
    <h2>We Appreciate Your Feedback</h2>
    <div>
        Thank you for helping us improve our clinical trials search experience.
    </div>
    <div class="cts-feedback-buttons row">
        <button id="cts-feedback-close" type="button" class="reset button right">Close</button>
    </div>
</div>
