/* Basic Search Form */
.clinical-trials-search-form {
  input {
    margin-bottom:0;
  }
  .error-msg {
    color:#c60f13;
    font-size: 12px;
  }
}

/* Trial Description Page */
.accordion-controls {
  float:right;
  margin-right:-0.9375em; //negative gutter margin
  margin-top:-5px; //correcting for vertical center position of icons

  a {
    font:normal 13px Montserrat, Arial, sans-serif;
    &:last-child {
      margin-left:30px;
    }
  }
}
.status {
  float:left;
  margin-left:-0.9375em; //negative gutter margin
  margin-bottom:20px;
  font:normal 16px Montserrat, Arial, sans-serif;
  text-transform: uppercase;
  color:#7F3187;
}

$icon-expand-width: 20px;
.icon-expand, .icon-collapse {
  display: inline-block;
  position: relative;
  top:5px;
  margin-right: 8px;
  width: $icon-expand-width;
  height: $icon-expand-width;
  background: url($icons + 'nci-sprite.png') no-repeat -256px -259px;
}
.icon-collapse {
  background: url($icons + 'nci-sprite.png') no-repeat -285px -259px;
}
#cgvBody {
  margin-top:40px;

  $icon-po-width: 23px;
  .page-options {
    a {
      display:inline-block;
      width:auto;
      height:auto;
      padding:5px 15px;
      border-radius: 3px;
      color:#fff;
      font: normal 14px Montserrat, Arial, sans-serif;
      text-align: center;
      margin-right: 28px;
      &[title="Print"]{
        margin-left:.5em;
        background-color: #24B2A1;
      }
      &[title="Email"]{
        background-color: #14819b;
      }
      .text {
        position: relative;
        top:-3px;
        padding-left:6px;
      }
      &:hover {
        text-decoration: none;
      }
    }
    .icon-print,.icon-email {
      display:inline-block;
      width:$icon-po-width;
      height:$icon-po-width;
    }
    .icon-print {
      background: url($icons + 'nci-sprite.png') no-repeat -123px -62px;
    }
    .icon-email {
      background: url($icons + 'nci-sprite.png') no-repeat -123px -105px;
    }
  }
}
.accordion {
  margin-top:20px;
}