// Set up appearance for proactive live help messages.
.ProactiveLiveHelpPrompt {
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	overflow: hidden;
	background: #ffffff;
	border: 10px solid #000000;
	border-radius: 10px 10px 10px 10px;
	z-index: 200;
	padding: 12px;
	font-size: 13px;
}

.ProactiveLiveHelpPrompt input {
	background: #086F89;
	color: #ffffff;
	border: none;
	font-family: Noto Sans,Arial,sans-serif;
	font-weight: bold;
}

.ProactiveLiveHelpPrompt h1.title {
	background: #104d64 no-repeat;
	background-position-y: 1em;
	background-position-x: 8.7em;
	margin: -40px -40px 20px -40px;
	text-align: left;
	color: #ffffff;
	font-size: 22px;
	font-weight: 700;
	border-bottom: 1px dotted #d3d3d3;
	padding: 30px 40px 20px 40px;
}

.ProactiveLiveHelpPrompt .close {
	background: transparent url(https://smokefree.gov/sites/all/modules/popup_message/styles/black/img/close.png) no-repeat top left;
	text-indent: -1000px;
	width: 16px;
	height: 16px;
	font-size: 0px;
	right: 6px;
	top: 4px;
	position: absolute;
	display: block;
	cursor: pointer;
	color: #888;
	text-decoration: none;
	padding: 0;
}


