/****************** BEGIN Delighters styling ***************** */
.delighter-rail {
  margin-right: -20px;
  //margin-bottom: 160px;
  //padding-bottom: 50px;
  //width: calc(25% + 45px);
  float: right;

  span {
    display: block;
  }

  a, a:hover, a:active {
    text-decoration: none;
  }

  a {
    display: block;
    margin-bottom: 20px;
  }

  p {
    line-height: 1.166667 !important;
  }

    .cts-feedback, .cts-livehelp, .cts-which, .cts-what {
        padding: 132px 20px 0px;
        h4 {
          border-radius: 8px;
          color: white;
          font-size: 14px;
          margin: auto;
          padding: 9px;
          text-transform: uppercase;
          width: 180px;
        }
        p, li, a {
          color: #706f6f;
          font-size: 12px;
          letter-spacing: 0.05em;
          margin: auto;
          padding-top: 8px;
					padding-bottom: 8px;
          max-width: 185px;
        }
			
			@include bp(medium) {
				padding: 132px 0 0;	
			}
    }

    .cts-feedback {
        background: transparent url("/publishedcontent/images/images/design-elements/icons/send-feedback-icon.svg") no-repeat scroll center 10px / 110px 110px;
        h4 {
            background-color: #b74900;
        }
        a:hover, a:active {
            background: #306 url("/publishedcontent/images/images/design-elements/icons/send-feedback-icon.svg") no-repeat scroll center 10px / 110px 110px;
            -webkit-transform: all 0.5s ease 0s;
            -moz-transform: all 0.5s ease 0s;
            -ms-transform: all 0.5s ease 0s;
            -o-transform: all 0.5s ease 0s;
            transform: all 0.5s ease 0s;
            text-decoration: none;
            //background-color: #306;
        }
    }
    .cts-livehelp {
        background: transparent url("/publishedcontent/images/images/design-elements/icons/live-help-person-icon.svg") no-repeat scroll center 10px / 110px 110px;
        h4 {
            background-color: #35778f;
        }
    } 
    .cts-which {
        background: transparent url("/publishedcontent/images/images/design-elements/icons/checklist-icon.svg") no-repeat scroll center 10px / 110px 110px;
        h4 {
            background-color: #4a437a;
        }
    } 
    .cts-what {
        background: transparent url("/publishedcontent/images/images/design-elements/icons/what-are-clinical-trials-icon.svg") no-repeat scroll center 10px / 110px 110px;
        h4 {
            background-color: $navyblue;
        }
    }
    // This will need to be updated 
    .cts-next-step {
        background: url(/publishedcontent/images/images/design-elements/background-graphics/ct-red-triangles.jpg);
        border: 3px solid #cf0549;
        color: white;
        h4, p, li, a {
            color: white;
            font-size: 12px;
        }
        h4 {
            font-size: 15px;
        }
    }


}
.delighter {
  position: relative;
  background-color: #fbfbfb;
  border-right: 0 !important;
  padding: 15px;
  font-size: 0.80em;
  font-family: Montserrat;
  text-align: center;

  h4 {
		font-weight: normal;	
	}
	
	h4, p, hr {
    position: relative;
    margin: 0;
  }
  hr {
    border: 0;
    padding: 0.375em 0em;
  }
  span {
    color: black;
  }
  .chat-with-us {
    margin-bottom: 10px;

    .live-help-button {
      width: 84px;
      height: 28px;
      background: none;
    }
  }

}

#delighter-homePage, #delighter-innerpage {
  //display: none;
  position:fixed;
  top:51%;
  right:0;
  z-index: 998;

  a {
    display:inline-block;
    color:#fff;
    font:bold 14px/16px Montserrat;
    background-color: #82368C;
    padding: 7px 10px;
    max-width: 115px;
    text-align: center;

		&:hover {
      background-color: #3f0557;
      text-decoration: none;
    }
  }
}

/* Large Screens */
@include bp('(min-width:1025px)') {
  #delighter-homePage, #delighter-innerpage {
    // left:0;
    // max-width: 1250px;
    width: 100%;
    text-align: right;
    margin:0 auto;
		display: inline;
		right: 1%;
		width: 110px;
  }
}
/* Extra Large Screens */
@include bp('(min-width:1770px)') {
  #delighter-homePage, #delighter-innerpage {
		right: 10%;
  }
}
/* Tablet/Mobile styles */
@include bp(medium-down) {
  .delighter-rail {
    margin-right: -15px;
    width: calc(25% + 10px);
    padding-right:0;
  }

  #delighter-homePage, #delighter-innerpage {
    position:relative;
    float:right;
    top:13px;
    right:10px;
  }
  #delighter-innerpage {
    margin-top: -65px;
  }

  .delighter.cts-feedback {
    display: none;
  }
  .delighter.cts-livehelp {
    //border-right: 3px solid #2c13a3 !important;
  }
  .delighter.cts-which {
    //border-right: 3px solid #2c13a3 !important;
  }
  .delighter.cts-what {
    //border-right: 3px solid #0bd3ca !important;
  }
  .delighter.cts-next-step {
    //border-right: 3px solid #cf0549 !important;
  }
}
/* Tablet styles */
@include bp(medium) {
	.delighter-rail {
		width: 100%;
		margin-top: 30px;

		a {
			margin: 0;
		}

		.delighter {
			float: left;
			width: 31%;
			margin-right: 2%;
			// height: 172px;

			@include bp('(max-width: 1024px) and (min-width: 850px)') {
				// height: 160px;

				&.cts-which, &.cts-what {
				//	padding-left: 50px;
				//	padding-right: 50px;
				}
			}
		}

		.share-text {
			clear: both;
		}
  }
  
  /**
   * Hack styles for delighter spacing 
   */
  .delighter-rail.results-delighter-rail {
    margin-bottom: 100px!important;
  }
  .delighter-rail.view-delighter-rail {
    margin-bottom: 20px!important;
  }
  .no-resize.cts-share.view-delighter-share {
    margin-top: 300px;
    margin-left: 30px;
  }
  /** End delighter hack styles for */

}


/* Mobile styles */
@include bp(small) {
  .delighter-rail {
    margin: 20px 0 0 0;
    padding: 0px;
    width:100%;
  }
  .delighter {
    border-right: inherit;
  }
  .cts-which,  .cts-what, .cts-livehelp, .cts-next-step {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 300px;
    margin: 15px auto;
  }
  #PageOptionsControl1 {
    padding-left:5px;
    padding-right:0;
    width:auto;
    .po-pinterest {
      margin:0;
    }
  }
  #delighter-homePage, #delighter-innerpage {
    right:5px;
  }
}
// to fix find a clinical trial button positioning at small widths
@include bp('(max-width: 360px)') {
	#delighter-homePage, #delighter-innerpage {
		top: 0;
		margin-bottom: 8px;
	}
}

// remove spacing after delighters on pages without API reference section
.last-SI {
  .delighter-rail:last-child {
    margin-bottom: 0;
	padding-bottom: 0;
  }
}
/****************** End Delighters styling ***************** */
