//
// Icons
//

.text-icon-help {
	color: white;
	background-color: #186e88;
	display: inline-block;
	height: 2.375em;
	width: 2.375em;
	padding: 0.5em;
	text-align: center;

	&:hover, &:focus {
		color: white;
		background-color: #bb0e3d;
	}
}
