@charset "utf-8";

/*
	====
		Proteomics.cancer.gov Design Elements
		
		Usage: Elements specifically used for proteomics.cancer.gov
		
		Last Update: Aug 05, 2011 by Mal Jones
	====
*/

/**
	Site Banner
**/

#genSlotSiteBanner {
	background-image: url('/publishedcontent/images/images/global/cptc-bground.jpg');
	background-repeat: no-repeat;
	background-position: right -39px;
}

/* Site Logo */

h1.genSiteLogo {
	text-indent: -9999px;
}
	h1.genSiteLogo a {
		background-image: url('/publishedcontent/images/images/global/cptc-logo.png');
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader('/publishedcontent/images/images/global/cptc-logo.png');
		display: block;
		height: 85px;
		width: 320px;
	}
	
/**
	Site Footer
**/

/* Footer Logos */

ul.genSiteFooterLogos {
		margin: 0 0 0 40%;
}
	ul.genSiteFooterLogos li {
		float: left;
		text-indent: -9999px;
		margin-right: 12px;
	}
		ul.genSiteFooterLogos li a {
			background-repeat: no-repeat;
			display: block;
			height: 34px;
		}
		/* HHS */
		ul.genSiteFooterLogos li a.genSiteFooterLinkHHS {
			background-image: url('/publishedcontent/images/images/global/footer-logo-hhs.gif');
			width: 34px;
		}
		/* NIH */
		ul.genSiteFooterLogos li a.genSiteFooterLinkNIH {
			background-image: url('/publishedcontent/images/images/global/footer-logo-nih.gif');
			width: 31px;
		}
		/* NCI */
		ul.genSiteFooterLogos li a.genSiteFooterLinkNCI {
			background-image: url('/publishedcontent/images/images/global/footer-logo-nci.gif');
			width: 45px;
		}
		/* USA.gov */
		ul.genSiteFooterLogos li a.genSiteFooterLinkUSA {
			background-image: url('/publishedcontent/images/images/global/footer-logo-usagov.gif');
			width: 83px;
		}
	
/* CONTENT HIGHLIGHTS. Content ID's must be used to target specific slots. These need to be changed depending on the environment you are in. */

.genLanding .contentid-93218.first-SI  /* Current Funding Opportunities on Funding Opps Landing Page */,
.genLanding .contentid-93525.first-SI   /* Leadership Update on eProtein Landing Page */ ,
.genLanding .contentid-93223.only-SI   /* CPTC In The News on News and Events Landing Page */,
.genLanding .contentid-410545.first-SI  /* Leadership Update (August 2012 Newsletter) */  {
	border-radius: 4px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    background-color: #E6FCFC;
    border: 1px solid #B2B2B2;
    margin: 0 18px 18px 18px;
    padding: 18px 18px 0;
}
/* August 2012 Newsletter */
.genLanding .contentid-410545 h2, .genLanding .contentid-410548 h2, .genLanding .contentid-410551 h2, .genLanding .contentid-410554 h2, .genLanding #genSlotBody .slot-item div div h2{
	border-bottom: 1px solid #B2B2B2;
	margin-bottom: 14px;
	padding-bottom: 14px;
	font-size: 17px;
}

.genLanding .contentid-410545 a h2, .genLanding .contentid-410548 a h2, .genLanding .contentid-410551 a h2, .genLanding .contentid-410554 a h2,  .genLanding #genSlotBody .slot-item div div a h2{
	color: #0C70A8; 
	text-decoration: none;
}



/*title box for sidebar orange */
#genSlotRightSidebar .slot-item .genContentBlock .cptcTeaming h3 { 
background: url('images/icons/teaming-icon.png') no-repeat 90% 10px, -moz-linear-gradient(top, rgba(255,141,19,1) 0%, rgba(255,98,1,1) 100%);
background: url('images/icons/teaming-icon.png') no-repeat 90% 10px, -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,141,19,1)) color-stop(100%, rgba(255,98,1,1)));
background: url('images/icons/teaming-icon.png') no-repeat 90% 10px, -webkit-linear-gradient(top, rgba(255,141,19,1) 0%, rgba(255,98,1,1) 100%);
background: url('images/icons/teaming-icon.png') no-repeat 90% 10px, -o-linear-gradient(top, rgba(255,141,19,1) 0%, rgba(255,98,1,1) 100%);
background: url('images/icons/teaming-icon.png') no-repeat 90% 10px, -ms-linear-gradient(top, rgba(255,141,19,1) 0%, rgba(255,98,1,1) 100%);
background: url('images/icons/teaming-icon.png') no-repeat 90% 10px, linear-gradient(to bottom, rgba(255,141,19,1) 0%, rgba(255,98,1,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8d13', endColorstr='#ff6201', GradientType=0 );
}
#genSlotRightSidebar .slot-item .genContentBlock .cptcTeaming h3 span { color: #FFFFFF; }
