//@import '../environments/prototype';
@import "../../spinner";

.cts-dialog {
  background: #445159;

  .ui-widget-content {
    color: white;
    font-family: $noto-font-stack;
    padding: 3.5em 2.2em;
    text-align: center;
  }

  .ui-dialog-close {
    display: block;
    border: none;
    background: transparent;
    left: 50%;
    transform: translateX(-50%);
    width: 34px;
    height: 34px;
    margin:0;
    z-index: 1;

    .ui-icon {
      @include svg-sprite(close-gray);
      font-size: 1.0625em;

      margin:0;
      left:0;
      top:0;
    }
    &:hover, &:focus, &:active {
      .ui-icon {
        @include svg-sprite(close-gray);
      }
    }
    &.btn-close-top {
      top: 1em;
    }
    &.btn-close-bottom {
      top: auto;
      bottom: 1em;
    }
  }

  i.warning {
    display: block;
    text-align: center;
    @include svg-sprite(modal-alert);
    font-size: .8276em;
    margin: 0 auto;
  }

}
#modal-redirect {
  &.ui-dialog-content {
    padding: 1.5em 2.2em;
  }
}

.clickable {
  cursor: pointer;
}

@include bp(medium-up) {
  .cts-dialog {
    .ui-dialog-close {
      &.btn-close-top {
        position:absolute;
        left: auto;
        right: 1em;
        transform: none;
      }
      &.btn-close-bottom {
        display: none;
      }
    }
  }
}