@import "~StyleSheets/mixins";
@import '~StyleSheets/components/toggle-switch';
@import '~StyleSheets/fonts';
@import '~StyleSheets/colors';
@import 'cts.advresultsdisplay';

#fieldset--location {
  section {
    margin: 12px 0 18px;

    &:last-child {
      margin-bottom: 0;
    }
    &.disabled {
      > div:not(.radio) {
        opacity: .45;
      }
      div.disabled {
        opacity: 1;
      }
    }
    div.disabled, div.radio label.disabled {
      opacity: .45;
    }
  }
  .field-group {
    margin:0 0 12px 24px;

    &:last-child {
      margin-bottom: 0;
    }
    > input:first-child {
      margin-top: 12px;
    }
    @include bp(small){
      > div {
        margin-bottom: 12px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

#tp {
  display: flex;
  flex-wrap: wrap;

  .checkbox {
    width: 25%;
  }
  @include bp('(max-width:450px)') {
    .checkbox {
      width: 33.333333%;
    }
  }
}

#tp, #tt {
  margin-bottom: -6px;
}

/********
Set Styles for Drug Selection
*********/
.trtmnt-select-dropdown .select2-results__option {
  border-bottom: 1px dashed $paleblue02;
  color: $dgrey00;

  &:last-child {
    border-bottom: none;
  }
}
.drug-item-wrap, .trtmnt-item-wrap {
  font-size: .875em;
  padding: 0 20px 0 17.5px;

  .drug-item, .trtmnt-item {
    padding: 10px 0 10px 0;

    .preferred-name {
      font-weight: bold;
    }
  }
}

//styling for search criteria table
.search-criteria-box {
  display: none; //start hidden
  position: relative;
  border: none;
  margin: 0;
}

.row .row .medium-9 .status {
  margin-top: 2em;
}
.accordion-controls {
  margin-top: 3em;
}

#ctscb {
  position: relative;
  background-color: $white04;
  display: block;
  white-space: nowrap;
  border: 1px solid $dgrey02;
  color: $dgrey02;
  font-family: $montserrat-font-stack;
  line-height:2em;
  padding: 0 0 0 5px;
  //background-size: 10%;
  width: 375px;
  min-width: 215px;
  overflow: hidden;
  margin: 0;

  &:hover, &:active, &:focus {
    text-decoration: none;
  }

  &::after {
    content:"";
    position: absolute;
    right: 0;
    @include svg-sprite(plus-box);
    font-size: 88%;
    background-color: #277c95;
  }

  &.show {
    &::after {
      @include svg-sprite(minus-box);
    }
    //background-image: url($icons + "cts-minus.png");
  }

  @include bp(small){
    width: 100%;
    //background-size: 12%;
  }
}

.cts-start-over {
  font-weight: bold;
  display: inline-block;
  margin-top: 15px;
}

.cts-results-label {
  line-height: 2.5em;
  margin: auto 6px auto 0;
}

// Styles for search results page
#proximity-trialslist h4 {
  margin-top: 20px !important;
  font-size: 20px;
}
.locationCity {
  margin-left: 20px;
}
.locationBlock {
  margin-left: 40px;
  word-wrap: break-word;
}

//for print results page
// This is possibly redundant - moved to CTS Print page Delete in the next round if testing doesn't
// find any issues BB 2/2018
// #clinical-trials-print .ctscb {
//   display: none;
// }

// #clinical-trials-print .clinicaltrials-results-criteria-display {
//   //left: -1em;
// }

#submit-button-floating {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 0 0.45em;
  @include hCenter;
  z-index: 2;
  max-width: 1000px;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  pointer-events: none;

  // @include bp(medium) {
  //   padding: 0 0.47em;
  // }

  @include break(large){
    padding: 0 3.125em;
  }

  @include break(xlarge) {
    max-width: 1200px;
  }

  .btn-group {
    margin: 13px 0 13px -1px; // -1px to counter 1px border

    @include bp(medium) {
      margin-top: 20px;
    }

    input{
      margin: 0;
    }

    > div {
      color: $purple;
      margin-top: 5px;
      font-size: 14px;
    }
  }

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  .columns {
    border: 1px solid $purple;
    background-color: rgba(256,256,256,.9);
  }

  &.at-bottom {
    opacity: 0;
    position: absolute;
    bottom:-1px; //for border
    pointer-events: none;

    .columns {
      width: 100%;
      border-color: transparent ;
    }
  }
}


.toggle-field {
  display: flex;
  align-items: center;
  padding: .6em 1.5em;
  margin-top: 1em;
  font-family: $montserrat-font-stack;
  color: $dgrey00;
}

.toggle-control {
  width: 80px;
  min-width: 80px;
  margin-left: 10px;

  label {
    margin: 0;
  }
}

@include bp(medium) {
  .site-footer .back-to-top {
    bottom: 7em;
  }
}


.search-tip {
  display: flex;
  align-items: center;
  border: 1px solid $paleblue02;
  padding: 16px;

  > div {
    padding-left: 1em;
  }
}
.lightbulb-circle-yellow {
  @include svg-sprite(lightbulb-circle-yellow);
  min-width: 3.9375em;
}