/****************** BEGIN Delighters styling ***************** */
.delighter-rail {
  margin-right: -20px;
  //margin-bottom: 160px;
  //padding-bottom: 50px;
  //width: calc(25% + 45px);
  float: right;

  span {
    display: block;
    color: black;
  }
  // This is for the Feedback delight who's markup cannot be change because it does not use a handy template
  > a {
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }
}
@include bp(medium-down) {
  .delighter-rail {
    margin-right: 0;
    width: calc(25% + 10px);
    padding-right: 0;
  }
}

.delighter {
  position: relative;
  //background-color: #fbfbfb;
  border-right: 0 !important;
  padding: 15px;
  //font-size: 0.80em;
  font-family: $montserrat-font-stack;
  text-align: center;

  a, p {
    color: #706f6f;
    //font-size: 12px;
    letter-spacing: 0.05em;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    max-width: 195px;
  }

  a {
    display: block;
    &::before {
      content: "";
    }
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }

  p {
    line-height: 1.166667 !important;
    font-size: 12px;
  }

  h4 {
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    margin: auto;
    padding: 9px;
    text-transform: uppercase;
  }
}

// What's the point in having VM templates if you don't use them?
// Feedback delighter is getting shoved in from the backend so the markup is completely different.
.cts-feedback {
  &::before {
    content: "";
    @include svg-sprite(feedback-large);
  }

  h4 {
    background-color: #b74900;
  }
}
.cts-livehelp {
  a::before {
    @include svg-sprite(live-help-person-large);
  }
  h4 {
    background-color: #35778f;
  }
}
.cts-which {
  a::before {
    @include svg-sprite(checklist-large);
  }
  h4 {
    background-color: #4a437a;
  }
}
.cts-what {
  a::before {
    @include svg-sprite(questionmark-large);
  }
  h4 {
    background-color: $navyblue;
  }
}

.cts-share {
  margin-top: 30px;

  vertical-align: top;


  .share-text {
    font-family: $noto-font-stack;
    font-size: 16px;
    line-height: 18px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    float: left;
    min-height: 37px;
    padding:5px 12px;
    border-radius: 3px;
    color:#fff;
    margin-top: 10px;
    font: normal 14px $montserrat-font-stack;
    box-shadow: inset 0 2px 15px 0 rgba(0, 0, 0, 0.2);
    width: calc(50% - 5px);

    span {
      color:#fff;
    }

    &[title="Print"]{
      background-color: #24B2A1;
      margin-right: 10px;
      &:hover {
        background-color: darken(#24B2A1, 10%);
      }
    }
    &[title="Email"]{
      background-color: #14819b;
      &:hover {
        background-color: darken(#14819b, 10%);
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  .icon-print,.icon-email {
    font-size: 115%;
    margin-right:6px;
  }
  .icon-print {
    @include svg-sprite(printer-white)
  }
  .icon-email {
    @include svg-sprite(mail-envelope-closed-white)
  }
}

// IE11 hack since flexbox align-items ignores max-height setting
@media all and (-ms-high-contrast:none) {
  .cts-share a {
    height: 37px;
  }
}


@include bp(medium-down) {
  // centering the share this clinical trial text
  .cts-share {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0;

    .share-text {
      margin-right: 10px;
    }

    a {
      margin-top: 0;
      width: auto;
    }

    a.print {
      display: none;
    }
  }
  .delighter.cts-feedback {
    display: none;
  }
}

/* Tablet styles */
@include bp(medium) {
  .delighter-rail {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;

    // as soon as support is there we'd want to change to space-evently. as of 8/2017, doesn't work in IE11, Safari
    .cts-delighter-container {
      display: flex;
      justify-content: space-around;
    }
  }

  /**
   * Hack styles for delighter spacing 
   */
  .delighter-rail.results-delighter-rail {
    margin-bottom: 100px!important;
  }
  .delighter-rail.view-delighter-rail {
    margin-bottom: 20px!important;
  }
  .no-resize.cts-share.view-delighter-share {
    margin-top: 50px;
    margin-left: 0;
  }
  /** End delighter hack styles for */

}


/* Mobile styles */
@include bp(small) {
  .delighter-rail {
    margin: 20px 0 0 0;
    padding: 0;
    width:100%;
  }
  .delighter {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 300px;
    margin: 15px auto;
  }
  .cts-share {
    flex-direction: column;
    .share-text {
      margin-bottom: 1em;
    }
  }
}


// remove spacing after delighters on pages without API reference section
.last-SI {
  .delighter-rail:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}


// the following code is for the purple box that links to the CTS section on home page and elsewhere. This keeps if from colliding with social medial links when minimizing screen.
#delighter-homePage, #delighter-innerpage {
  //display: none;
  position:fixed;
  top:51%;
  right:0;
  z-index: 998;

  a {
    display:inline-block;
    color:#fff;
    font:bold 14px/16px Montserrat;
    background-color: #82368C;
    padding: 7px 10px;
    max-width: 115px;
    text-align: center;

    &:hover {
      background-color: #3f0557;
      text-decoration: none;
    }
  }
}

/* Large Screens */
@include bp('(min-width:1025px)') {
  #delighter-homePage, #delighter-innerpage {
    // left:0;
    // max-width: 1250px;
    //width: 100%;
    text-align: right;
    margin:0 auto;
    display: inline;
    right: 1%;
    width: 110px;
  }
}
/* Extra Large Screens */
@include bp('(min-width:1770px)') {
  #delighter-homePage, #delighter-innerpage {
    right: 10%;
  }
}
/* Tablet/Mobile styles */
@include bp(medium-down) {
  #delighter-homePage, #delighter-innerpage {
    position: relative;
    float: right;
    top: 13px;
    right: 10px;
  }
  #delighter-innerpage {
    margin-top: -65px;
  }
}

/* Mobile styles */
@include bp(small) {
  #delighter-homePage, #delighter-innerpage {
    right:5px;
  }
}

// to fix find a clinical trial button positioning at small widths
@include bp('(max-width: 360px)') {
  #delighter-homePage, #delighter-innerpage {
    top: 0;
    margin-bottom: 8px;
  }
}

// the following code is for the purple box that links to the CTS section on home page and elsewhere. This keeps if from colliding with social medial links when minimizing screen.
@media only screen and (max-width: 400px) {
  #delighter-homePage, #delighter-innerpage {
    float: none;
    margin-top: 10px;
    position: static;
    margin-bottom: 8px;
    margin-right: 5px;
    text-align: right;
  }
}

/****************** End Delighters styling ***************** */
