$svg-icons: (
  sprite: (width: 335px, height: 291px, svgPath: '/PublishedContent/Images/sprites/svg-sprite.svg'),
    amazon: (
      width: 32px - 1px,
      height: 32px - 1px,
      backgroundX: 0px,
      backgroundY: -20.61px
    ),
    calendar: (
      width: 32px - 1px,
      height: 32px - 1px,
      backgroundX: -168px,
      backgroundY: 0px
    ),
    cancel-circle-black: (
      width: 32px - 1px,
      height: 32px - 1px,
      backgroundX: 0px,
      backgroundY: -104.61px
    ),
    chat: (
      width: 24px - 1px,
      height: 24px - 1px,
      backgroundX: -242px,
      backgroundY: -170px
    ),
    chevron-circle-dk-blue: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: -276px,
      backgroundY: -120px
    ),
    chevron-circle-lt-blue: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: -276px,
      backgroundY: -180px
    ),
    chevron-circle-red: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: -276px,
      backgroundY: -210px
    ),
    chevron-circle-white: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: -276px,
      backgroundY: 0px
    ),
    chevron-circle-white-gradient: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: -276px,
      backgroundY: -30px
    ),
    chevron-down: (
      width: 24px - 1px,
      height: 24px - 1px,
      backgroundX: 0px,
      backgroundY: -226.61px
    ),
    chevron-down2: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: 0px,
      backgroundY: -260.61px
    ),
    chevron-left2: (
      width: 24px - 1px,
      height: 24px - 1px,
      backgroundX: -68px,
      backgroundY: -226.61px
    ),
    chevron-left3: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: -276px,
      backgroundY: -150px
    ),
    chevron-right2: (
      width: 24px - 1px,
      height: 24px - 1px,
      backgroundX: -242px,
      backgroundY: -34px
    ),
    chevron-right3: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: -210px,
      backgroundY: -68px
    ),
    chevron-small-down: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: -210px,
      backgroundY: -38px
    ),
    chevron-small-left: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: -60px,
      backgroundY: -260.61px
    ),
    chevron-small-right: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: -30px,
      backgroundY: -260.61px
    ),
    chevron-small-up: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: -276px,
      backgroundY: -90px
    ),
    chevron-thin-down: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: -276px,
      backgroundY: -60px
    ),
    chevron-thin-left: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: -210px,
      backgroundY: -158px
    ),
    chevron-thin-right: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: -210px,
      backgroundY: -98px
    ),
    chevron-thin-up: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: -90px,
      backgroundY: -260.61px
    ),
    chevron-up: (
      width: 24px - 1px,
      height: 24px - 1px,
      backgroundX: -34px,
      backgroundY: -226.61px
    ),
    chevron-up2: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: -210px,
      backgroundY: -128px
    ),
    code: (
      width: 30px - 1px,
      height: 28px - 1px,
      backgroundX: -84px,
      backgroundY: -22.8px
    ),
    comment: (
      width: 28px - 1px,
      height: 28px - 1px,
      backgroundX: -108px,
      backgroundY: -188.61px
    ),
    comment-o: (
      width: 28px - 1px,
      height: 28px - 1px,
      backgroundX: -36px,
      backgroundY: -188.61px
    ),
    document-download: (
      width: 32px - 1px,
      height: 32px - 1px,
      backgroundX: -42px,
      backgroundY: -146.61px
    ),
    excel: (
      width: 32px - 1px,
      height: 32px - 1px,
      backgroundX: 0px,
      backgroundY: -146.61px
    ),
    external-link: (
      width: 28px - 1px,
      height: 28px - 1px,
      backgroundX: -154px,
      backgroundY: -146.61px
    ),
    facebook: (
      width: 8px - 1px,
      height: 17px - 1px,
      backgroundX: -306px,
      backgroundY: -54.519px
    ),
    facebook-block: (
      width: 32px - 1px,
      height: 32px - 1px,
      backgroundX: -168px,
      backgroundY: -84px
    ),
    file-pdf-o: (
      width: 24px - 1px,
      height: 28px - 1px,
      backgroundX: -84px,
      backgroundY: -146.61px
    ),
    google-plus: (
      width: 32px - 1px,
      height: 32px - 1px,
      backgroundX: -168px,
      backgroundY: -42px
    ),
    google-plus-circle: (
      width: 16px - 1px,
      height: 16px - 1px,
      backgroundX: -227px,
      backgroundY: -260.61px
    ),
    google-plus-old: (
      width: 18.899px - 1px,
      height: 18.519px - 1px,
      backgroundX: -306px,
      backgroundY: 0px
    ),
    info: (
      width: 16px - 1px,
      height: 16px - 1px,
      backgroundX: -175px,
      backgroundY: -260.61px
    ),
    info2: (
      width: 24px - 1px,
      height: 24px - 1px,
      backgroundX: -180px,
      backgroundY: -188.61px
    ),
    instagram: (
      width: 32px - 1px,
      height: 32px - 1px,
      backgroundX: -126px,
      backgroundY: -104.61px
    ),
    linkedin: (
      width: 16px - 1px,
      height: 16px - 1px,
      backgroundX: -306px,
      backgroundY: -237.519px
    ),
    linkedin-boxed: (
      width: 32px - 1px,
      height: 32px - 1px,
      backgroundX: -84px,
      backgroundY: -104.61px
    ),
    list: (
      width: 32px - 1px,
      height: 32px - 1px,
      backgroundX: -42px,
      backgroundY: -104.61px
    ),
    live-help-logo: (
      width: 32px - 1px,
      height: 10.61px - 1px,
      backgroundX: 0px,
      backgroundY: 0px
    ),
    mail-envelope-closed: (
      width: 23px - 1px,
      height: 14px - 1px,
      backgroundX: -169px,
      backgroundY: -226.61px
    ),
    menu: (
      width: 24px - 1px,
      height: 24px - 1px,
      backgroundX: -242px,
      backgroundY: -102px
    ),
    minus: (
      width: 16px - 1px,
      height: 16px - 1px,
      backgroundX: -306px,
      backgroundY: -211.519px
    ),
    minus-alt: (
      width: 16px - 1px,
      height: 16px - 1px,
      backgroundX: -306px,
      backgroundY: -159.519px
    ),
    minus-circle: (
      width: 24px - 1px,
      height: 24px - 1px,
      backgroundX: -242px,
      backgroundY: -136px
    ),
    minus2: (
      width: 24px - 1px,
      height: 24px - 1px,
      backgroundX: -146px,
      backgroundY: -188.61px
    ),
    mobile: (
      width: 16px - 1px,
      height: 16px - 1px,
      backgroundX: -306px,
      backgroundY: -107.519px
    ),
    phone: (
      width: 22px - 1px,
      height: 28px - 1px,
      backgroundX: -210px,
      backgroundY: 0px
    ),
    pinterest: (
      width: 15px - 1px,
      height: 20px - 1px,
      backgroundX: -214px,
      backgroundY: -188.61px
    ),
    pinterest-circle: (
      width: 16px - 1px,
      height: 16px - 1px,
      backgroundX: -201px,
      backgroundY: -260.61px
    ),
    pinterest-circle-black: (
      width: 16px - 1px,
      height: 16px - 1px,
      backgroundX: -149px,
      backgroundY: -260.61px
    ),
    pinterest-circle-red: (
      width: 32px - 1px,
      height: 32px - 1px,
      backgroundX: -126px,
      backgroundY: -42px
    ),
    plus: (
      width: 24px - 1px,
      height: 24px - 1px,
      backgroundX: -242px,
      backgroundY: -68px
    ),
    plus-bold: (
      width: 16px - 1px,
      height: 16px - 1px,
      backgroundX: -306px,
      backgroundY: -263.519px
    ),
    plus-circle: (
      width: 24px - 1px,
      height: 24px - 1px,
      backgroundX: -102px,
      backgroundY: -226.61px
    ),
    plus-circle-black: (
      width: 16px - 1px,
      height: 16px - 1px,
      backgroundX: -306px,
      backgroundY: -185.519px
    ),
    powerpoint: (
      width: 32px - 1px,
      height: 32px - 1px,
      backgroundX: -126px,
      backgroundY: 0px
    ),
    printer: (
      width: 23px - 1px,
      height: 19px - 1px,
      backgroundX: -136px,
      backgroundY: -226.61px
    ),
    radio-checked: (
      width: 16px - 1px,
      height: 16px - 1px,
      backgroundX: -253px,
      backgroundY: -260.61px
    ),
    radio-unchecked: (
      width: 16px - 1px,
      height: 16px - 1px,
      backgroundX: -306px,
      backgroundY: -81.519px
    ),
    rss: (
      width: 32px - 1px,
      height: 32px - 1px,
      backgroundX: -84px,
      backgroundY: -62.61px
    ),
    search: (
      width: 16px - 1px,
      height: 16px - 1px,
      backgroundX: -306px,
      backgroundY: -133.519px
    ),
    search-bold: (
      width: 26px - 1px,
      height: 28px - 1px,
      backgroundX: -118px,
      backgroundY: -146.61px
    ),
    share: (
      width: 16px - 1px,
      height: 16px - 1px,
      backgroundX: -279px,
      backgroundY: -260.61px
    ),
    smartphone: (
      width: 32px - 1px,
      height: 32px - 1px,
      backgroundX: -42px,
      backgroundY: -62.61px
    ),
    th-menu: (
      width: 24px - 1px,
      height: 24px - 1px,
      backgroundX: -242px,
      backgroundY: 0px
    ),
    twitter: (
      width: 19px - 1px,
      height: 16px - 1px,
      backgroundX: -120px,
      backgroundY: -260.61px
    ),
    volume-high: (
      width: 17px - 1px,
      height: 16px - 1px,
      backgroundX: -306px,
      backgroundY: -28.519px
    ),
    volume-up: (
      width: 26px - 1px,
      height: 28px - 1px,
      backgroundX: 0px,
      backgroundY: -188.61px
    ),
    word: (
      width: 32px - 1px,
      height: 32px - 1px,
      backgroundX: 0px,
      backgroundY: -62.61px
    ),
    youtube-horiz: (
      width: 32px - 1px,
      height: 12.8px - 1px,
      backgroundX: -84px,
      backgroundY: 0px
    ),
    youtube-simple: (
      width: 32px - 1px,
      height: 32px - 1px,
      backgroundX: -42px,
      backgroundY: 0px
    ),
    youtube-vert: (
      width: 24px - 1px,
      height: 28px - 1px,
      backgroundX: -74px,
      backgroundY: -188.61px
    ),
);