$svg-icons: (
  sprite: (width: 42px, height: 782px, svgPath: '/PublishedContent/Images/sprites/svg-sprite.svg'),
    book: (
      width: 32px - 1px,
      height: 23.52941px - 1px,
      backgroundX: 0px,
      backgroundY: 0px
    ),
    chevron-black: (
      width: 18px - 1px,
      height: 11px - 1px,
      backgroundX: 0px,
      backgroundY: -34px
    ),
    chevron-circle-dk-blue: (
      width: 21px - 1px,
      height: 21px - 1px,
      backgroundX: 0px,
      backgroundY: -55px
    ),
    chevron-circle-lt-blue: (
      width: 21px - 1px,
      height: 21px - 1px,
      backgroundX: 0px,
      backgroundY: -86px
    ),
    chevron-circle-red: (
      width: 21px - 1px,
      height: 21px - 1px,
      backgroundX: 0px,
      backgroundY: -117px
    ),
    chevron-circle-white: (
      width: 21px - 1px,
      height: 21px - 1px,
      backgroundX: 0px,
      backgroundY: -148px
    ),
    chevron-circle-white-gradient: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: 0px,
      backgroundY: -179px
    ),
    chevron-white: (
      width: 18px - 1px,
      height: 11px - 1px,
      backgroundX: 0px,
      backgroundY: -209px
    ),
    disc-blue: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: 0px,
      backgroundY: -230px
    ),
    facebook-blue: (
      width: 8px - 1px,
      height: 17px - 1px,
      backgroundX: 0px,
      backgroundY: -260px
    ),
    facebook-white: (
      width: 8px - 1px,
      height: 17px - 1px,
      backgroundX: 0px,
      backgroundY: -287px
    ),
    google-plus-old-blue: (
      width: 19px - 1px,
      height: 18px - 1px,
      backgroundX: 0px,
      backgroundY: -314px
    ),
    google-plus-old-white: (
      width: 19px - 1px,
      height: 18px - 1px,
      backgroundX: 0px,
      backgroundY: -342px
    ),
    info: (
      width: 25px - 1px,
      height: 25px - 1px,
      backgroundX: 0px,
      backgroundY: -370px
    ),
    live-help-logo: (
      width: 32px - 1px,
      height: 10.6101px - 1px,
      backgroundX: 0px,
      backgroundY: -405px
    ),
    mail-envelope-closed-blue: (
      width: 23px - 1px,
      height: 14px - 1px,
      backgroundX: 0px,
      backgroundY: -426px
    ),
    mail-envelope-closed-white: (
      width: 23px - 1px,
      height: 14px - 1px,
      backgroundX: 0px,
      backgroundY: -450px
    ),
    menu: (
      width: 25px - 1px,
      height: 18px - 1px,
      backgroundX: 0px,
      backgroundY: -474px
    ),
    pinterest: (
      width: 15px - 1px,
      height: 20px - 1px,
      backgroundX: 0px,
      backgroundY: -502px
    ),
    pinterest-blue: (
      width: 15px - 1px,
      height: 20px - 1px,
      backgroundX: 0px,
      backgroundY: -532px
    ),
    pinterest-white: (
      width: 14px - 1px,
      height: 18px - 1px,
      backgroundX: 0px,
      backgroundY: -562px
    ),
    printer-blue: (
      width: 23px - 1px,
      height: 19px - 1px,
      backgroundX: 0px,
      backgroundY: -590px
    ),
    printer-white: (
      width: 23px - 1px,
      height: 19px - 1px,
      backgroundX: 0px,
      backgroundY: -619px
    ),
    ring-blue: (
      width: 20px - 1px,
      height: 20px - 1px,
      backgroundX: 0px,
      backgroundY: -648px
    ),
    search: (
      width: 16px - 1px,
      height: 16px - 1px,
      backgroundX: 0px,
      backgroundY: -678px
    ),
    twitter: (
      width: 19px - 1px,
      height: 16px - 1px,
      backgroundX: 0px,
      backgroundY: -704px
    ),
    twitter-blue: (
      width: 19px - 1px,
      height: 16px - 1px,
      backgroundX: 0px,
      backgroundY: -730px
    ),
    twitter-white: (
      width: 19px - 1px,
      height: 16px - 1px,
      backgroundX: 0px,
      backgroundY: -756px
    ),
);