$svg-icons: (
  //sprite.svg needs fingerprint
  sprite: (width: {{spriteWidth}}px, height: {{spriteHeight}}px, svgPath: '/publishedcontent/images/images/design-elements/sprites/svg-sprite.svg'),
  {{#shapes}}
    {{base}}: (
      width: {{width.inner}}px,
      height: {{height.inner}}px,
      backgroundX: {{position.relative.x}}%,
      backgroundY: {{position.relative.y}}%
    ),
  {{/shapes}}
);