/* 6.6 Additions */
<<<<<<< .working

/* images using the HTML5 figure and figcaption elements */
/* add block level style to HTML5 elements, for IE */	
header,nav,article,footer,section,aside,figure,figcaption {
	display:block;
}
figure {
	margin-bottom: 10px;
}
/* image right 25% width */
figure.image-right-small {
    float: right;
    width: 25%;
    margin: 0 0 1em 1em;
}
/* image right 40% width */
figure.image-right-medium {
    float: right;
    width: 40%;
    margin: 0 0 1em 1em;
}
/* image left 25% width */
figure.image-left-small {
    float: left;
    width: 25%;
    margin: 0 1em 1em 0;
}
/* image left 40% width */
figure.image-left-medium {
    float: left;
    width: 40%;
    margin: 0 1em 1em 0;
}
/* image center 75% width */
figure.image-center {
    width: 75%;
    margin: 0 auto 1em auto;
}
/* image center 100% width */
figure.image-center-full {
    width: 100%;
    margin: 0 auto 1em auto;
}
/* contain image inside fig */
figure img {
    max-width: 100%;
	/* remove white space under image */
	display: block;
}
/* center images using the centered templates */
figure.image-center img,
figure.image-center-full img {
	margin: 0 auto;
}
/* make enlarge link block level for display purposes */
a.article-image-enlarge {
	display: block;
	text-align: right;
}
/* style all figcaption elements the same */
figcaption {
	margin-top: 5px;
	border-top: 1px solid #BDBDBD;
}
figcaption .caption-container {
	display: block;
	color: #666;
	background: #DDDDDD;
	padding: 10px;
	margin-top: 5px;
	font-size: 12px;
	line-height: 1.2em;
}
/* remove default spacing of p tags as this adds extra spacing around caption content */
figcaption p:first-child {
    margin-top: 0;
}
figcaption p:last-child {
    margin-bottom: 0;
	padding-bottom: 0;
}
/* end images using the HTML5 figure and figcaption elements */
/* Cancer Centers */
div.rcc {
	background: transparent url(/publishedcontent/images/images/researchcancercenter_icon.png) 0 3px no-repeat; 
}

=======
>>>>>>> .merge-right.r7655
/*  6.5.1 Additions  */
/* Active Navigation States when in Subsections of Microsites */
/* End left nav */
/* 6.2 Additions */
/* 6.4 Additions */
/*div.first-SI h3.list-title {margin-top: 0;}
div.first-SI > p:first-child {margin-top: 0;}
div.only-SI h3.list-title {margin-top: 0;}
div.only-SI > p:first-child {margin-top: 0;}*/
	

