/*  6.5 Additions  */

/* spacing for audio image */
div.audioPronounceLink a.CDR_audiofile img {
	margin: 0 0 0 4px;
	vertical-align: sub;
}

/* Genetics Terms Dictionary background */
div#genetics-terms-dictionary {
background: url(/PublishedContent/Images/images/genetics-terms-dictionary.jpg) no-repeat;
border-right: none;
}

#CT-results-print-banner{
	border-bottom: 3px solid #000000;
	padding-top:30px;
    height: 40px;
    margin-bottom: 30px;
	}
	
#CT-results-print-banner h1{
	display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    margin: 0;
	}
	
#CT-results-print-banner h2{
	color: #000000;
    display: block;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
	}		

/* This was put in for cancer.gov search results to try and handle issue with text going beyond content area. 
But it caused problems in IE with words breaking to two lines, please comment out or remove after 6.5.1 goes live 
with the fix for this page */
.sw-search-results{
	word-break:break-all;
}

.sw-search-results-pager{
	word-break:normal;
}


/* Boletin Content Header */
.boletin-content-header{
	background: none repeat scroll 0 0 #E1E0DE;
    color: #7b8701;
    font-size: 22px;
    font-weight: bold;
    padding: 18px 20px;
	}

/* Fact sheets */
h2.factsheet-banner{ background: url("/PublishedContent/Images/images/fact-sheet-header2010.jpg") no-repeat scroll 0 0 transparent; text-indent:-9999px; height:60px;margin-bottom: 0;}

h2.factsheet-banner-es{ background: url("/PublishedContent/Images/images/fact-sheet-spanheader2010.jpg") no-repeat scroll 0 0 transparent; text-indent:-9999px; height:60px;margin-bottom: 0;}

/* Englarge Link Right Aligned */
a.right{ float:right;}

/* jQuery expand/collapse  */
.ui-widget {
    font-size: 14px !important;
	color:#333 !important;
}

.ui-widget-content {
	color:#333 !important;
}

.pr-large-feature{ 
     width:691px; 
} 
.pr-small-feature{ 
     width:320px; 
} 
.pr-thumbnail{ 
     width:142px; 
}  


/* News Center Social Media Box */

h3.newscenter-block-title{ font-size:13px;}

ul.newscenter-media-icons{
	margin-bottom: 8px;
	text-align: center;
}

ul.newscenter-media-icons li{
	display: inline;
	padding-right: 5px;
}

ul.newscenter-media-icons li.last{
	padding-right: 0;
}

/* News Ticker */
.dynamic-list-ticker-wrapper{
	width:691px;
	background-color:#e8e8e8;
	color:#000;
	margin-bottom:15px;
	padding:4px;
	border:#fff thin solid;	
}

.dynamic-list-ticker-wrapper:hover{
	border:#bfbfbf thin solid;
}

.dynamic-list-ticker-wrapper a.prev {
	background-image:url('/publishedcontent/images/images/ticker-left-arrow.gif');
	background-repeat:no-repeat;
	background-position: center;
	padding:8px;
	width:20px;
	height:20px;
	ext-indent: -9999px;
	text-decoration:none;
	}

.dynamic-list-ticker-wrapper a.next {
	background-image:url('/publishedcontent/images/images/ticker-right-arrow.gif');
	background-repeat:no-repeat;
	background-position: center;
	padding:8px;
	width:20px;
	height:20px;
	ext-indent: -9999px;
	text-decoration:none;
	}
	
.ticker-list{
	width:100%;
}

.ticker-list a, .ticker-list a:hover{
	color:#000;
	text-decoration:none;
}

ul.ticker-list{
	padding-left:0;
	margin:0;
	}
	
ul.ticker-list li{
	list-style-type:none;
	display:inline;
	vertical-align:top;
	}

.dynamic-list-ticker-title{
	font-weight:bold;
	word-break:
	}

.ticker-item-container{
	display: inline-block !important;
    width: 525px;
	vertical-align:inherit;
	}
	
.ticker-item{}

/* Tag Cloud */

.tag-cloud-wrapper {
	border:#bfbfbf thin solid;
}

.tag-cloud-title{
	padding:5px 10px;
	background-color:#e6e6e6;
}

.tag-cloud-title a, .tag-cloud-title a:visited{
	color:#000;
	text-decoration:none;
	font-weight:bold;
}

.tag-cloud-title a:hover{
	text-decoration:underline;
}

.tag-cloud-container{
	padding:15px;
}

.tag-cloud-container a, .tag-cloud-container a:visited{
	color:#6e6e6e;
	text-decoration:none;
}

.tag-cloud-container a:hover{
	text-decoration:underline;
}


.tagSize1 {
	font-size: 16pt;
	font-weight:bold;
	}

.tagSize2 {
	font-size: 13pt;
	font-weight:bold;
	}

.tagSize3 {
	font-size: 14pt;
	font-weight:bold;
	}

.tagSize4 {
	font-size: 10pt;
	font-weight:bold;
	}

/* Feature Headline*/

.feature-headline-wrapper{
	width:691px;
	margin-bottom:40px;
}

.feature-headline-text{
	padding: 10px 15px 0 10px;
	
	}
	
.feature-headline-text h2{
	margin:0 0 10px;
	}
	
.feature-headline-date{
	margin:0 0 10px;
	}	

/* Feature News Carousel Dynamic List*/

.featured-dynamic-list {width:691px; clear:both;}

.featured-dynamic-list-title{
	background-color:#e6e6e6;
	padding:5px 10px;
	font-weight:bold;
	color:#000;
}
.featured-item{
	width:350px;
	float:left;
	padding-right:10px;
	padding-left:10px;
	margin-top:20px;
	margin-bottom:10px;
	border-right:thin solid #d3d3d3;
}

.featured-item h3 {
	margin-bottom:10x;
	
	margin-top:0px;
	}

.featured-item img {
	float:left;
	padding: 0 18px 10px 0;
	}

.dynamic-list{
	margin-top:20px;
	padding:0 10px 10px 20px;
	width:290px;
	float:right;
}

.dynamic-list ul{
	padding-left:0;
	margin-top:0;

}

.dynamic-list ul li{
	padding-bottom:20px;
}

.dynamic-list ul li a{
	color:#000;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
}

.dynamic-list ul li a:hover{
	text-decoration:underline;
}

.dynamic-list-date{margin-top:5px;}

/* Feature News Carousel*/

.list-item-with-image{ padding-left:152px;} 

.feature-news-carousel-wrapper{
			clear:both; 
			width:691px;
			margin-bottom:20px;
			}

.feature-news-carousel-header {
			background-color:#e6e6e6;
			padding:5px 10px;
			clear:both;
			color:#000;
			overflow: hidden;
		}
		
.feature-news-container {
			padding: 10px;
			height: 265px;
	}
	
.feature-news-item { width: 680px;}

.feature-news-item img{ padding-right:10px;}

p.full-article { 
			text-align:right;
			padding-right:15px;
			margin-right:15px;
			background-image: url("/publishedcontent/images/images/read-full-article-arrow.gif");
			background-position:right center;
    		background-repeat: no-repeat;

}

.feature-news-item h3{ margin: 10px 0; font-size:16px;}

.feature-news-carousel-title {
			float: left;
			font-weight:bold;
		}
		
.feature-news-carousel-pager {
			float: right;
		}
		
.feature-news-carousel-container {
			display: none;
		}
		
	
		
.feature-news-carousel-pager ul.pagination {
			padding-left:0;
			}
		
.feature-news-carousel-pager a.prev{
			background-image:url('/publishedcontent/images/images/tile-arrow-prev.gif');
			background-repeat:no-repeat;
			background-position: center;
			width:7px;
			height:9px;
			text-indent: -9999px;
			text-decoration:none;
			}
.feature-news-carousel-pager a.next{
			background-image:url('/publishedcontent/images/images/tile-arrow-next.gif');
			background-repeat:no-repeat;
			background-position: center;
			width:7px;
			height:9px;
			text-indent: -9999px;			
			text-decoration:none;
			}
		
		
.feature-news-carousel-pager li {
			display: inline;
			list-style: none;
		}
.feature-news-carousel-container {
			display: none;
		}
.feature-news-carousel-container,
		.feature-news-carousel-container .slides_control
		{
			width: 100%;
		}
		.feature-news-carousel-pager ul.pagination li{
			display: none;
			list-style: none;
		}
		.feature-news-carousel-pager ul.pagination li.current {
			display: inline;
			background: none;
		}

/* Four Tile Carousel*/
.four-tile-carousel-wrapper{ border: solid thin #d4d4d4; clear:both; width:691px; margin-top:40px;}
.cgv-tile-with-subtitle {
			background-color:#f4f2f3;
			border: solid thin #d4d4d4;
			float: left;
			padding: 5px;
			margin: 4px 3px;
			width: 155px;
			height:190px;
		}
		.tile-title{
			font-weight: bold;
			padding-top:10px;
			line-height:1.2em;
			font-size:15px;
		}
		.tile-title,
		.tile-subtitle {
			
		}
		

		.tile-subtitle  {
			font-size:11px;
		}
		.tile-slide-page {
			overflow:hidden;
			width: 705px;
			height: 210px;
		}
		.slider-carousel-header {
			background-color:#e6e6e6;
			padding:5px 10px;
			clear:both;
			color:#000;
			overflow: hidden;
		}
		.slider-carousel-title {
			float: left;
			font-weight:bold;
		}
		.slider-carousel-pager {
			float: right;
		}
		
		.slider-carousel-pager ul.pagination {
			padding-left:0;}
		
		.slider-carousel-pager a.prev{
			background-image:url('/publishedcontent/images/images/tile-arrow-prev.gif');
			background-repeat:no-repeat;
			background-position: center;
			width:7px;
			height:9px;
			text-indent: -9999px;
			text-decoration:none;
			}
		.slider-carousel-pager a.next{
			background-image:url('/publishedcontent/images/images/tile-arrow-next.gif');
			background-repeat:no-repeat;
			background-position: center;
			width:7px;
			height:9px;
			text-indent: -9999px;			
			text-decoration:none;
			}
		
		
		.slider-carousel-pager li {
			display: inline;
			list-style: none;
		}
		.slider-carousel-container {
			display: none;
		}
		.slider-carousel-container,
		.slider-carousel-container .slides_control
		{
			width: 100%;
		}
		.slider-carousel-pager ul.pagination li{
			display: none;
			list-style: none;
		}
		.slider-carousel-pager ul.pagination li.current {
			display: inline;
			background: none;
		}


/* Cancer Centers */

div.institution-grouping {
                clear: both;
}


div.institution-sidebar {
                background: #eaebe6; 
                overflow: hidden; 
                float: right; 
                border: 1px solid #939695; 
                width: 215px; 
                margin: 0 0 12px 12px;
}
div.institution-sidebar div.institution-sidebar-content {
                padding: 0 8px 8px 8px;
}
div.institution {
                border-top: 1px solid #BDBDBD; 
                clear: both; 
                padding: 15px 0 0;
}
div.institution-legend {
                border-bottom: 1px dashed #BDBDBD; 
                padding: 4px 0 19px 0;
}
.institution-header {
                color: #4D4D4D;
				margin-bottom: 23px;
}
h2.institution-title {
	font-size: 16px;
}
div.institution-content {
                width: 280px; 
                margin: 0 0 10px 0; 
                float: left; 
                padding: 0 0 0 33px;
}
div.institution-grouping > div div:first-child {
	margin-right: 15px;
}
div.institution-content p {
	margin-top: 20px;
}
div.cc {
                background: transparent url(/publishedcontent/images/images/cancercenter_icon.png) 0 3px no-repeat; 
}
div.ccc { 
                background: transparent url(/publishedcontent/images/images/comprehensivecancercenter_icon.png) 0 3px no-repeat; 
}
img.institution-map {
                display: block; 
                margin: 0 auto;
}
span.institution-legend-text {
                margin-right: 30px;
}

div.cc-main-pages {
                border-bottom: 1px solid #BDBDBD;
                padding: 10px 0 10px 10px;
}
div.cc-main-pages a.cc-main-pages-image {
                margin-right: 10px;
                float: left;
}
div.cc-main-pages div.title-red-arrow {
                float: left;
                width: 500px;
}
div.cc-main-pages-slim {
                width: 300px; 
                float: left; 
                border-bottom: 0;
                padding: 10px 0 5px 10px;
}
div.cc-main-pages-slim div.title-red-arrow {
                float: right; 
                width: 160px;
}
div.cc-main-pages-slim div.title-red-arrow h3 a {
                font-size: 13px;
                margin-bottom: 10px;
}
div.cc-main-pages-slim div.title-red-arrow h3.without-link {
                padding-left: 21px;
                font-size: 13px;
                margin-bottom: 10px;
                color: #4F4D4D;
}
div.cc-main-pages-slim div.title-red-arrow p {
                margin: 0 0 5px 22px;
}
div.cc-main-pages div.title-red-arrow p {
                margin: 0 0 5px 22px;
}
div.cc-main-pages-slim-left {
                margin-right: 30px;
}
div.slim-bottom-border {
                float:left; 
                width: 300px; 
                height: 2px; 
                border-bottom: 1px solid #BDBDBD;
}
div.slim-bottom-border2 {
                float: right;
}
div.dropDownCCDisplay{ 
	display:none; 
}
div.dropDownCCDisplay span{ 
	font-weight: bold;
}
div#dropDownCCDisplay1 {
	display: block
}
span#dropDownCC {
	margin: 0 0 15px 0;
}
span#dropDownCC span a { 
	margin: 0 5px 0 0;
}
span#dropDownCC span.initialState a {
	text-decoration: none; 
	color: #000;
}
span#dropDownCC span a.active {
	text-decoration: none; 
	color: #000;
	cursor: default;
}
/* map popup styles */
div#map_canvas table td {vertical-align: top;}
div#map_canvas table tr + tr > td:first-child { width: 101px; }
div#map_canvas table h3 { margin-top: 0; margin-bottom: 5px; }
div#map_canvas table h3 a { text-decoration: none; }
div#map_canvas table img { 
	margin: 0 10px 0 0;
	max-width: 91px;
}
div.institution-listing { display:none; }
div#institution-listing2 { display: block}
div#picker {
	margin: 10px 0 30px 0; 
	border-top: 1px solid #BDBDBD; 
	padding-top: 10px;
}
div#picker span a {margin: 0 5px 0 0;}
div#picker span a.active {
	text-decoration: none; 
	color: #000; 
}
div#picker span#picker1, div#picker span#picker2, span#dropDownCC1 { 
	border-right: 2px solid #BDBDBD;
}
span#dropDownCC  span, div#picker span#picker1, div#picker span#picker2, div#picker span#picker3 {
	font-weight: normal;
}
h3#findCCTitle {margin-top:33px; margin-bottom: 8px;}
div#picker h3#findCCTitle {margin-top:16px;}
div#CClegend span { vertical-align: bottom; line-height: 28px; }
div#CClegend img { margin-right: 4px; }
div#CClegend div#CClegend1, div#CClegend div#CClegend2 { float: left; }
div#CClegend1 { margin-right: 39px; margin-left: 7px; }
div#AtoZlistState span, div#AtoZlistName span {
	padding: 0 6px;
	border-right: 1px solid #BDBDBD;
	display: inline-block;
}
div#AtoZlistState span#AtoZlistLast, div#AtoZlistName span#AtoZlistLast {
	border-right: none;
}
div.institution-grouping > div {clear:both;}

/* Left Nav updates for down arrow when item has child */
.leftnav-shaded-box ul li {
/* word-wrap: break-word; */
}
.leftnav-shaded-box ul li.leftnav-on {
                background: #eaebe6 url(/publishedcontent/images/images/arrow-active.gif) no-repeat 5px 10px!important;
                font-weight: 900;
				color: #1A1A1A;
}
/* Turns off bolding on other elements in li unless  specifically declared or on a subpage. Also makes the font-size smaller to prevent longer navs. This can be removed when subsection nav does not display until you are in the subsection. */
                .leftnav-shaded-box ul li.leftnav-on ul li {
                font-weight: normal;
                border-top: none;
}
.leftnav-shaded-box ul ul li.leftnav-on {
                font-weight: 900;
}
.leftnav-shaded-box ul li {
                background: #eaebe6 url(/publishedcontent/images/images/arrow-inactive.gif) no-repeat 5px 10px!important;
                font-size: 13px;
                display: block;
                margin: 0!important;
                padding: 5px 5px 5px 18px;
                border-top: 1px solid #BDBDBD;
}
/* Active Navigation States when in Subsections of Microsites */

/* Bolds the Parent link to the Subsection */
.leftnav-shaded-box ul li.leftnav-open {
                font-weight: normal;
                background: #eaebe6 url(/publishedcontent/images/images/arrow-open.gif) no-repeat 5px 8px!important;
}
.leftnav-shaded-box ul li.leftnav-selected {
				font-weight: 900;
}
/* Removes bold formatting from sub li elements and reduces the font size for shorter lists. */
.leftnav-shaded-box ul li.leftnav-open ul li {
                background: #eaebe6 url(http://www.cancer.gov/images/bullet_sm_css.gif) no-repeat 7px 10px;
                font-weight: normal;
                border-top: none;
}
/* Bolds page you are currently on */
.leftnav-shaded-box ul li.leftnav-open ul li.leftnav-on {
                font-weight: 900;
}
.leftnav-shaded-box {
                margin: 0 0 6px 0;
                padding: 0;
                border: 1px solid #bdbdbd;
}
.leftnav-shaded-box h3 {
                margin: 0;
                padding: 3px 7px 3px 7px;
                color: #000;
                line-height: 14px;
                font-size : 13px;
                background-color: #dadada;
                font-weight : bold;
}
.leftnav-shaded-box ul {
                border: 0;
                margin: 0;
                padding: 0;
}
.leftnav-shaded-box ul li a:link, .leftnav-shaded-box ul li a:visited, .leftnav-shaded-box ul li a:active {
                text-decoration: none;
                color: #1a1a1a;
}
.leftnav-shaded-box ul li a:hover {
                text-decoration: underline;
}
.leftnav-shaded-box ul ul {
                background-color:#eaebe6;
                margin: 0;
                padding: 0;
}
.leftnav-shaded-box ul ul li {
                background: url(/publishedcontent/images/images/bullet-inactive.gif) no-repeat scroll 0px 6px;
                border-top:none;
                padding: 5px 5px 5px 18px;
}
a.leftnav-shaded-box h3, a.leftnav-shaded-box:visited h3, a.leftnav-shaded-box:active h3, .leftnav-shaded-box h3 a:link, .leftnav-shaded-box h3 a:visited, .leftnav-shaded-box h3 a:active h3 {
                color:#1a1a1a;
                text-decoration:none;
}
a.leftnav-shaded-box:hover h3, .leftnav-shaded-box h3 a:hover {
                color:#1a1a1a;
                text-decoration:underline;
}
/* End left nav */

/* 6.2 Additions */


/* Cancer Terms Dictionary Lists */
#cgvBody ul.ac_listbox {
	margin:0px !important;
	padding:0px !important;
}

#cgvBody ul.ac_listbox li {
	background-image:none;
	margin:0px !important;
	padding:0px !important;
}

/* Cancer Terms Related Information Link */
#RelatedInfo {
	padding: 0;
	}

#RelatedInfo h3{
	font-size: 14px;
    font-weight: bold;
	margin:0 0 3px 0;
	}

#RelatedInfo h4{
	font-size: 12px;
	font-weight:normal;
	padding:0px !important;
	margin:0 0 3px 0 !important;
	}	
	
#RelatedInfo ul{
	list-style:none;
	padding: 0;
	margin: 0;
	}

#RelatedInfo ul li{
	list-style-type : none;
	list-style-image : none;
	padding: 0;
	margin-left: 0;
	background-image:none !important;
	}

/*
 * jQuery UI Autocomplete 1.8.13
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete { position:absolute; cursor: default; }	

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.13
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu{
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: right;
	color:#000;
	background-color:#e7e8ed;
	border: #999 thin solid;
	z-index: 9999;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	list-style:none;
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	color:#000;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	color:#fff;
	background:#444444;
}

/* 6.4 Additions */

/* CDR Media Images */

.cdrMediaImage img { 
	width:100%;
	border-bottom: 1px solid #BDBDBD;
    padding-bottom: 5px;
}

.cdrMediaImage .caption{
	margin-top: 5px;
}

.cdrMediaImage.full{margin:0;} 
.cdrMediaImage.three-quarters{margin:0 12% 0 12%;} 
.cdrMediaImage.half{margin:0 25% 0 25%;} 
.cdrMediaImage.third{margin:0 33% 0 33%;} 
.cdrMediaImage.quarter{margin:0 37% 0 37%;} 
.cdrMediaImage.fifth{margin:0 40% 0 40%;} 
.cdrMediaImage.sixth{margin:0 42% 0 42%;} 
.cdrMediaImage.as-is{margin:0;} 

/* Public Archive Banner */

.public-archive-banner{
	background-color:#f9f8ce;
	color:#000;
	font-weight:bold;
	padding: 10px;
	border:#d5d300 solid thin;
	background-image:url('/PublishedContent/Images/images/icon-public-archive.png');
	background-repeat:no-repeat;
	background-position: 10px center ;
	padding-left:60px;
	margin-bottom:20px;
	}
	
	
/* Exit Notification */

.exitNotification{padding:0px !important;}

	
/* List Titles (Removed to correct spacing issues on Cancer Type Home Pages 
div.cancertypecontent h3.list-title {margin-top: 0;}
div.cancertypecontent > p:first-child {margin-top: 0;}
*/
/* Correcting font-size and spacing on Cancer Type Home pages */
div.cancertypecontent h3.list-title {
font-size: 15px;
margin-bottom: 3px;
}

/*div.first-SI h3.list-title {margin-top: 0;}
div.first-SI > p:first-child {margin-top: 0;}
div.only-SI h3.list-title {margin-top: 0;}
div.only-SI > p:first-child {margin-top: 0;}*/
	
/* Video Player */
h3.video50title{padding: 0;font-size:14px;}
h3.video75title{padding: 0;font-size:16px;}
h3.video100title{padding: 0;font-size:18px;}

.videoPlayer{padding: 0px 0 20px 0;}

.size50 .media-caption{font-size:11px;}
.size75 .media-caption{font-size:12px;}
.size100 .media-caption{font-size:13px;}

.size50{width:300px; overflow: auto; margin-left:0 !important;}
.size75{width:450px; overflow: auto; margin-left:0 !important;}
.size100{width:533px; overflow: auto; margin-left:0 !important;}


.media-caption{	display:block;color:#666;background:#DDDDDD;padding:10px;margin-top:5px; font-size:12px; line-height:1.2em;}
	
.caption-line{margin-top:5px;border-top: 1px solid #BDBDBD;}	

.video-carousel-container {padding:0 0 20px 0;float:left;}

.video-carousel-video {}
.video-carousel-caption {
	display: block;
	color: #666;
	background: #DDDDDD;
	text-align: right;
	padding: 10px;
}
.video-carousel-caption img {
	float: right;
	padding-left: 5px;}

.video-carousel-caption .size75{font-size:13pt;}
.video-carousel-caption .size100{font-size:14pt;}


/* Alignment Classes */

div.right {
	float: right;
	border: 0;
	margin-left: 20px;
	margin-bottom: 0px;
}
div.left {
	float:left;
	border: 0;
	margin-right: 20px;
	margin-bottom: 0px;
}

.public-use{padding: 0; margin:30px 0; border-top:#4d4d4d thin solid; font-style:italic;}