/******************************************************/
/*                 PRINT VERSION                      */
/* NEW CLASSES FOR 2011 restyling OF CANCER.GOV       */
/******************************************************/
body {
	background: none;
	margin: 0;
	font-size: 14px;
	color: #000;
	font-family: Georgia, "Times New Roman", arial, verdana, sans-serif;
}
#logoandsearchcontainer {
	background: none;
	border-top: none;
}
#NCILogo {
	float: none;
}
#NCILogo a {
	display: none;
}
#NCILogo h1 {
	display: block;
	color: #a90101;
	font-size: 28px;
	font-weight: normal;
}
#NCILogo h2 {
	display: block;
	color: #a90101;	
	font-size: 18px;
	font-weight: normal;	
}
#cgovContainer {
	width: 700px;
}

#languageToggle, 
#bannerRight, 
.document-title-block span.backtomain,
.document-title-block img,
.genSiteMainNav, 
.version-language, 
.leftzone,
p a.backtotop-link,
#cgvBodyNav,
#footerUtility {
	display: none;
}

.document-title-block {
	background: none !important;
	padding: 0;
}

#cgovContainer {
	background: none;
}
.contentzone {
	width: 100%; margin: 0; float: none;
}
#cgvFooter ul#findHelp li {
    margin: 0 20px;
}
#cgvFooter ul#findHelp, #cgvFooter ul#findHelpEspanol {
    border-bottom: 1px solid #AAAAAA;
    border-top: 1px solid #AAAAAA;
    letter-spacing: 2px;
    margin: 0 0 15px;
    padding: 10px 0;
}
 
