/******************************************************/
/*                 PRINT VERSION                      */
/* NEW CLASSES FOR 2011 restyling OF CANCER.GOV       */
/******************************************************/
body {
	background: none;
	margin: 0;
	font-size: 14px;
	color: #000;
	font-family: "Times New Roman", arial, verdana, sans-serif;
}
.defaultTemplateContentContainer {
	width: 100%;
}
#logoandsearchcontainer {
	background: none;
	border-top: none;
}
#NCILogo {
	float: none;
}
#NCILogo a {
	display: none;
}
#NCILogo h1 {
	display: block;
	color: #a90101;
	font-size: 28px;
	font-weight: normal;
}
#NCILogo h2 {
	display: block;
	color: #a90101;	
	font-size: 18px;
	font-weight: normal;	
}
#cgovContainer {
	width: 700px;
}

#languageToggle, 
#bannerRight, 
.document-title-block span.backtomain,
.document-title-block img,
.genSiteMainNav, 
.version-language, 
.leftzone,
p a.backtotop-link,
#cgvBodyNav,
#footerUtility {
	display: none;
}

.document-title-block {
	background: none !important;
	padding: 0;
}

#cgovContainer {
	background: none;
}
.contentzone {
	width: 100%; margin: 0; float: none;
}
ul li {
	background: none;
	list-style-type: disc;
}
#cgvFooter ul#findHelp li {
    margin: 0 20px;
}
#cgvFooter ul#findHelp, #cgvFooter ul#findHelpEspanol {
    border-bottom: 1px solid #AAAAAA;
    border-top: 1px solid #AAAAAA;
    letter-spacing: 2px;
    margin: 0 0 15px;
    padding: 10px 0;
}
.bulletin-header-bottom-right {
	display: none;
}
.bulletin-header-left {
	width: 390px;
}
h1.guest-commentary {
	background: none;
	color: #000;
}
h1.guest-commentary span {
}
.cancer-bulletin-inside-page h1 {
	height: 77px;
	text-indent: 0;
	font-size: 24px;
}
h1.cancer-bulletin-conversation-with {
	background: none;
}
h1.cancer-bulletin-cancer-center-profile {
	background: none;
}
h1.cancer-bulletin-cancer-gov-update {
	background: none;
}
h1.cancer-bulletin-cancer-research-highlights {
	background: none;
}
h1.cancer-bulletin-cdc-update {
	background: none;
}
h1.cancer-bulletin-closer-look {
	background: none;
}
h1.cancer-bulletin-cms-update {
	background: none;
}
h1.cancer-bulletin-community-update {
	background: none;
}
h1.cancer-bulletin-directors-update {
	background: none;
}
h1.cancer-bulletin-fda-update {
	background: none;
}
h1.cancer-bulletin-featured-article {
	background: none;
}
h1.cancer-bulletin-featured-clinical-trial {
	background: none;
}
h1.cancer-bulletin-guest-commentary {
	background: none;
}
h1.cancer-bulletin-guest-directors-update {
	background: none;
}
h1.cancer-bulletin-hhs-update {
	background: none;
}
h1.cancer-bulletin-legislative-update {
	background: none;
}
h1.cancer-bulletin-nih-update {
	background: none;
}
h1.cancer-bulletin-notes {
	background: none;
}
h1.cancer-bulletin-profiles-cancer-research {
	background: none;
}
h1.cancer-bulletin-sr-adolescent {
	background: none;
}
h1.cancer-bulletin-sr-bioinformatics {
	background: none;
}
h1.cancer-bulletin-sr-crt {
	background: none;
}
h1.cancer-bulletin-sr-gc {
	background: none;
}
h1.cancer-bulletin-sr-cte {
	background: none;
}
h1.cancer-bulletin-special-report {
	background: none;
}
h1.cancer-bulletin-spotlight {
	background: none;
}
 
