html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, .legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
	font-family: 'Noto Sans', Arial, sans-serif;
	line-height: 1.375em;
	color: #2e2e2e;
	font-size: 14px;
}
/* Helpful Typography Defaults */

em,
i {
	font-style: italic;
	line-height: inherit;
}

strong,
b {
	font-weight: bold;
	line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', Arial, sans-serif;
	color: #606060;
}

h1 {
	margin: 0 0 0.5em;
	line-height: 1.1em;
	font-size: 1.5em;
}

p {
	margin: 0.5em 0;
	line-height: 1.5em;
	font-size: inherit;
}

#container {
	border: thin solid #ebebea;
	border-top: 3px solid #00b1b9;
	overflow: hidden;
	max-width: 400px;
	padding: 10px;
}

a,
a:active,
a:visited,
a:hover,
a:focus {
	color: #2b7bba;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

.header {
	margin-bottom: 10px;
}

.header img {
	max-width: 100%;
}

.content {
	margin-top: 10px;
}

.footer {
	font-size: 13px;
	color: #2b7bba;
}

.hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
/* textbox for search */

#search {
	background: #f2f2f4 url("/PublishedContent/images/images/design-elements/icons/dictionary-widget-magnify.png") no-repeat 98% center;
}
/* button for search */

#Go {
	display: block;
	width: 100%;
}

#output {
	overflow: auto;
}

#output ul {
	padding-left: 0;
}

#output ul li:first-child {
	list-style: none;
	padding-bottom: 10px;
}

#output ul li {
	list-style: none;
	padding: 5px;
}

#disclaimer {
	background-color: #fff;
	top: 15px;
	left: 15px;
	padding: 10px;
	border: thin solid #999999;
	visibility: hidden;
	position: absolute;
}

#disclaimer p {
	margin: 0;
}

#disclaimer input {
	margin-top: 10px;
	border: 1px solid #4d4d4d;
	background: #696559;
	color: #fff;
}
/* common; from nvcg.css */

form button,
.button {
	border-style: none;
	border-width: 0;
	cursor: pointer;
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: bold;
	line-height: normal;
	margin: 0 0 1.25em;
	position: relative;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 0.375em;
	padding-right: 0.75em;
	padding-bottom: 0.4375em;
	padding-left: 0.75em;
	font-size: 1em;
	background-color: #2ba6cb;
	border-color: #2284a1;
	color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

form button:hover,
form button:focus,
.button:hover,
.button:focus {
	background-color: #2284a1;
}

form button:hover,
form button:focus,
.button:hover,
.button:focus {
	color: #fff;
}

form button[type=submit],
form button.submit,
.button[type=submit],
.button.submit {
	background-color: #0eb5bb;
	border-color: #0a878c;
	color: #fff;
}

form button[type=submit]:hover,
form button[type=submit]:focus,
form button.submit:hover,
form button.submit:focus,
.button[type=submit]:hover,
.button[type=submit]:focus,
.button.submit:hover,
.button.submit:focus {
	background-color: #0a878c;
}

form button[type=submit]:hover,
form button[type=submit]:focus,
form button.submit:hover,
form button.submit:focus,
.button[type=submit]:hover,
.button[type=submit]:focus,
.button.submit:hover,
.button.submit:focus {
	color: #fff;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	background-color: #f2f2f3;
	font-family: inherit;
	border: 1px solid #bdbdc2;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(242, 242, 243, 0.05) inset;
	box-shadow: 0px 2px 4px 0px rgba(242, 242, 243, 0.05) inset;
	color: #2e2e2e;
	display: block;
	font-size: 1em;
	margin: 0 0 1em 0;
	padding: 0.5em;
	height: 2.4375em;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
	-webkit-box-shadow: 0 0 5px #999999;
	-moz-box-shadow: 0 0 5px #999999;
	box-shadow: 0 0 5px #999999;
	border-color: #999999;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
	background: #ededee;
	border-color: #888891;
	outline: none;
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="month"][disabled],
input[type="week"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
textarea[disabled] {
	background-color: #ddd;
}
/* Disable box shadow effect on forms */

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input[type="text"]::-ms-clear {
	width: 0;
	height: 0;
	visibility: hidden;
}

input::-webkit-input-placeholder {
	font-family: inherit;
	color: #7b7b7b;
	font-size: inherit;
	font-style: italic;
	opacity: 1;
}

input:-moz-placeholder {
	font-family: inherit;
	color: #7b7b7b;
	font-size: inherit;
	font-style: italic;
	opacity: 1;
}

input::-moz-placeholder {
	font-family: inherit;
	color: #7b7b7b;
	font-size: inherit;
	font-style: italic;
	opacity: 1;
}

input:-ms-input-placeholder {
	font-family: inherit;
	color: #7b7b7b;
	font-size: inherit;
	font-style: italic;
	opacity: 1;
}
/*! jQuery UI - v1.11.1 - 2014-08-13
* http://jqueryui.com
* Includes: core.css, accordion.css, autocomplete.css, button.css, datepicker.css, dialog.css, draggable.css, menu.css, progressbar.css, resizable.css, selectable.css, selectmenu.css, slider.css, sortable.css, spinner.css, tabs.css, tooltip.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
----------------------------------*/

.ui-helper-hidden {
	display: none;
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}

.ui-helper-clearfix:after {
	clear: both;
}

.ui-helper-clearfix {
	min-height: 0;
	/* support: IE7 */
}

.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter: Alpha(Opacity=0);
	/* support: IE8 */
}

.ui-front {
	z-index: 100;
}
/* Interaction Cues
----------------------------------*/

.ui-state-disabled {
	cursor: default !important;
}
/* Misc visuals
----------------------------------*/
/* Overlays */

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}

.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
}

.ui-menu .ui-menu {
	position: absolute;
}

.ui-menu .ui-menu-item {
	position: relative;
	margin: 0;
	padding: 3px 1em 3px .4em;
	cursor: pointer;
	min-height: 0;
	/* support: IE7 */
	/* support: IE10, see #8844 */
	
	list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}

.ui-menu .ui-menu-divider {
	margin: 5px 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}

.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	margin: -1px;
}
/* icon support */

.ui-menu-icons {
	position: relative;
}

.ui-menu-icons .ui-menu-item {
	padding-left: 2em;
}
/* left-aligned */

.ui-menu .ui-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: .2em;
	margin: auto 0;
}
/* right-aligned */

.ui-menu .ui-menu-icon {
	left: auto;
	right: 0;
}
/* Component containers
----------------------------------*/

.ui-widget {
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.1em;
}

.ui-widget .ui-widget {
	font-size: 1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
}

.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
	color: #222222;
}

.ui-widget-content a {
	color: #222222;
}

.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #cccccc url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
}

.ui-widget-header a {
	color: #222222;
}
/* Interaction states
----------------------------------*/

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: #dadada url("images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #212121;
	text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #ffffff url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #212121;
	text-decoration: none;
}
/* Interaction Cues
----------------------------------*/

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #fbf9ee url("images/ui-bg_glass_55_fbf9ee_1x400.png") 50% 50% repeat-x;
	color: #363636;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #363636;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #fef1ec url("images/ui-bg_glass_95_fef1ec_1x400.png") 50% 50% repeat-x;
	color: #cd0a0a;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #cd0a0a;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #cd0a0a;
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter: Alpha(Opacity=70);
	/* support: IE8 */
	
	font-weight: normal;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter: Alpha(Opacity=35);
	/* support: IE8 */
	
	background-image: none;
}

.ui-state-disabled .ui-icon {
	filter: Alpha(Opacity=35);
	/* support: IE8 - See #6059 */
}


/*
 * jQuery UI Overrides
 */
/* general */
.ui-widget {
	font-family: inherit;
	/* jquery-ui.css:832 sets this to 'Verdana,Arial,sans-serif' */
	
	font-size: inherit;
	/* jquery-ui.css:832 sets this to '1.1em' */
}

/* autocomplete */
.ui-autocomplete .ui-menu-item {
	background-color: #FEFEFD;
	background-color: rgba(254, 254, 253, 0.9);
	color: #2e2e2e;
	list-style: none;
}

.ui-autocomplete .ui-menu-item:before {
	content: none;
	display: none;
}

.ui-autocomplete .ui-state-focus {
	color: #fff;
	background: #BB0E3D;
}