<script src="/PublishedContent/js/BasicCTSCommon.js" type="text/javascript"></script>
<script src="/PublishedContent/js/BasicCTSResultsPage.js" type="text/javascript"></script>

#macro(DrawLocationInformationV2 $trial)##
#set ($allLocations = $SearchResults.TrialTools.GetAllSortedLocations($trial)) 
<strong>Location: </strong>##

#if ($SearchResults.TrialTools.GetLocCount($allLocations.USA) == 1)##
#foreach($state in $allLocations.USA)
#each
#foreach($loc in $state.Value)
#each
$loc.Name, $loc.City, $loc.StateOrProvince##
#end
#end
#elseif ($SearchResults.TrialTools.GetLocCount($allLocations.USA) == 0)##
#if($resultItem.CurrentTrialStatus.toLower == "not yet active" || $resultItem.CurrentTrialStatus.toLower == "in review" || $resultItem.CurrentTrialStatus.toLower == "approved")##
Location information is not yet available.##
#else##
See <a href="https://www.clinicaltrials.gov/show/$trial.NCTID" target="_blank">Clinical Trials.gov</a>##
#end##
#else##
$SearchResults.TrialTools.GetLocCount($allLocations.USA) locations##
#if ($SearchResults.Control.HasZip())##
, including $SearchResults.TrialTools.GetFilteredLocations($trial, $SearchResults.Control.SearchParams.ZipLookup.GeoCode, $SearchResults.Control.SearchParams.ZipRadius).length near you##
#end##
#end##
#end##

#macro(DrawNoResultsTextV2)
  <div>
    No results were found matching your criteria.
  <ul>
    <li>Please check if your spelling is correct.</li>
    <li>Please check if your zip code and age are valid.</li>
  <ul>
    <p>For assistance, please contact our Cancer Information Service. You can <a href="/contact" class="live-help-link">chat online</a> or call 1-800-4-CANCER (1-800-422-6237).</p>
    <p><a href="/about-cancer/treatment/clinical-trials/search">Try a new search</a></p>
  </div>
#end

#macro(DrawResultsV2 $SearchResults)
  <div class="cts-results-container">
    #foreach($resultItem in $SearchResults.Results.Trials)
      #each
        ## Attach Onclick for Analytics elsewhere
        <a href="$SearchResults.Control.GetDetailedViewUrl($resultItem.NCIID)" class="protocol-abstract-link">$resultItem.BriefTitle</a>
        <div class="cts-result-item">
          <strong>Status: </strong>$resultItem.CurrentTrialStatus<br>
          <strong>Age: </strong>$SearchResults.TrialTools.GetAgeString($resultItem)<br>
          <strong>Gender: </strong>$SearchResults.TrialTools.GetGenderString($resultItem)<br>
          #DrawLocationInformationV2($resultItem)
        </div>
      #before
        <div class="row collapse">
          <div class="medium-12 columns clinical-trial-individual-result cts-with-checkbox" data-nciid="$resultItem.NCIID">
      #after
          </div>
        </div>
      #nodata
        #DrawNoResultsTextV2()
    #end
  </div>
  
  ## If there are results then draw the pager
  ##<div class="pager ct-listing-pager">
    ## Get the current page
    ## Show up to the next 2 and previous 2 numbers from the current page
    ## First / last pages always show by default
    #foreach($pagerItem in $SearchResults.Control.GetPagerItems(2,2,$SearchResults.Results.TotalResults))
      #each
        #if($pagerItem.Text == $SearchResults.Control.SearchParams.Page.ToString())
          <span class="pager-current">$pagerItem.Text</span>
        #elseif($pagerItem.IsLink == false)
          <span class="pager-text-only">$pagerItem.Text</span>
        #else
          <a class="pager-link" href="$pagerItem.PageUrl">$pagerItem.Text</a>
        #end
	  #beforeall
	    <div class="pager ct-listing-pager">
	  #afterall
	    </div>
      ## end 'each'
    #end
  ##</div>

  
#end

#macro(DrawSearchParamsV2 $SearchResults)
  #set($plist = $Tools.CreateEmptyStringList())
  #if(!$Tools.IsNullOrWhitespace($SearchResults.Control.GetCancerType()))
  $plist.Add("type")
  #end
  #if(!$Tools.IsNullOrWhitespace($SearchResults.Control.GetPhrase()))
    $plist.Add("phrase")
  #end
  #if($SearchResults.Control.HasZip())
    $plist.Add("zip")
  #end
  #if($SearchResults.Control.SearchParams.Age > 0)
    $plist.Add("age")
  #end
  #if(($SearchResults.Control.Gender == "Female") || ($SearchResults.Control.Gender == "Male"))
    $plist.Add("gender")
  #end
  #if($SearchResults.Control.SearchParams.Country != "")
    $plist.Add("country")
  #end
  #if($SearchResults.Control.SearchParams.City != "")
    $plist.Add("city")
  #end
  #if($SearchResults.Control.SearchParams.State != "")
    $plist.Add("state")
  #end
  #if($SearchResults.Control.SearchParams.HospitalOrInstitution != "")
    $plist.Add("hospital or institution")
  #end
  #if($SearchResults.Control.SearchParams.AtNIH_IsSet)
    $plist.Add("at nih")
  #end
  #if($SearchResults.Control.SearchParams.TrialType != "")
    $plist.Add("trial type")
  #end
  #if($SearchResults.Control.SearchParams.DrugIDsString != "")
    $plist.Add("drug id")
  #end
  #if($SearchResults.Control.SearchParams.DrugName != "")
    $plist.Add("drug name")
  #end
  #if($SearchResults.Control.SearchParams.TreatmentInterventionCodeString != "")
    $plist.Add("treatment intervention code")
  #end
  #if($SearchResults.Control.SearchParams.TreatmentInterventionTerm != "")
    $plist.Add("treatment intervention term")
  #end
  #if($SearchResults.Control.SearchParams.TrialPhase != "")
    $plist.Add("trial phase")
  #end
  #if($SearchResults.Control.SearchParams.NewTrialsOnly_IsSet)
    $plist.Add("new trials only")
  #end
  #if($SearchResults.Control.SearchParams.PrincipalInvestigator != "")
    $plist.Add("principal investigator")
  #end
  #if($SearchResults.Control.SearchParams.LeadOrganization != "")
    $plist.Add("lead organization")
  #end

#foreach($param in $plist)##
#each
#if($param == "type")##
Type/Condition: "<span data-basiccts-searchparam='t'>$SearchResults.Control.GetCancerType()</span>"##
#elseif($param == "phrase")##
#if($SearchResults.Control.HasBrokenCTSearchParam())##
Type/Condition: "<span data-basiccts-searchparam='q'>$Tools.Replace($SearchResults.Control.GetPhrase(), '"', '')</span>"##
#else##
Keyword: "<span data-basiccts-searchparam='q'>$Tools.Replace($SearchResults.Control.GetPhrase(), '"', '')</span>"##
#end##
#elseif($param == "zip")##
within $SearchResults.Control.SearchParams.ZipRadius miles of ZIP: "<span data-basiccts-searchparam='z'>$SearchResults.Control.SearchParams.ZipLookup.PostalCode_ZIP</span>"##
#elseif($param == "age")##
Age: "<span data-basiccts-searchparam='a'>$SearchResults.Control.SearchParams.Age</span>"##
#elseif($param == "gender")##
Gender: "<span data-basiccts-searchparam='g'>$SearchResults.Control.SearchParams.Gender</span>"##
#elseif($param == "country")##
Country: $SearchResults.Control.SearchParams.Country##
#elseif($param == "city")##
City: $SearchResults.Control.SearchParams.City##
#elseif($param == "state")##
State: $SearchResults.Control.SearchParams.State##
#elseif($param == "hospital or institution")##
Hospital/Institution: $SearchResults.Control.SearchParams.HospitalOrInstitution##
#elseif($param == "at nih")##
At NIH: $SearchResults.Control.SearchParams.AtNIH##
#elseif($param == "trial type")##
Trial Type: $SearchResults.Control.SearchParams.TrialType##
#elseif($param == "drug id")##
Drug ID: $SearchResults.Control.SearchParams.DrugIDsString##
#elseif($param == "drug name")##
Drug Name: $SearchResults.Control.SearchParams.DrugName##
#elseif($param == "treatment intervention code")##
Treatment/Intervention Code: $SearchResults.Control.SearchParams.TreatmentInterventionCodeString##
#elseif($param == "treatment intervention term")##
Treatment/Intervention Term: $SearchResults.Control.SearchParams.TreatmentInterventionTerm##
#elseif($param == "trial phase")##
Trial Phase: $SearchResults.Control.SearchParams.TrialPhase##
#elseif($param == "new trials only")##
New Trials Only: $SearchResults.Control.SearchParams.NewTrialsOnly##
#elseif($param == "principal investigator")##
Principal Investigator: $SearchResults.Control.SearchParams.PrincipalInvestigator##
#elseif($param == "lead organization")##
Lead Organization: $SearchResults.Control.SearchParams.LeadOrganization##
#else##
## do nothing
#end##
#between
, ##
#end##
#end##

<div class="row">
  #if($SearchResults.Results.TotalResults > 0)
    #if($SearchResults.Control.HasInvalidParams() == false)
      #if($SearchResults.Control.OutOfBounds($SearchResults.Results.TotalResults) == false)
	    <div class="cts-results-title">
	      Results $SearchResults.Control.GetStartItemNum()-$SearchResults.Control.GetEndItemNum($SearchResults.Results.TotalResults) of <span data-basiccts-searchparam='n'>$SearchResults.Results.TotalResults</span> for: #DrawSearchParamsV2($SearchResults)
		  | <span class="cts-start-over"><a href="/about-cancer/treatment/clinical-trials/search">Start Over</a></span>
	    </div>
      #else
	    ## Draw no title here
      #end
	  <div class="medium-9 columns collapse">
	    #DrawResultsV2($SearchResults)
	  </div>
    #else
	  <div class="medium-9 columns collapse">
	    #DrawNoResultsTextV2()
	  </div>
    #end
  ## If there are no results, then we need to show a different message
  #else
    <div class="medium-9 columns collapse">
      <div>
	    No clinical trials matched your search for #DrawSearchParamsV2($SearchResults).
	    <p>For assistance, please contact our Cancer Information Service. You can <a href="/contact" class="live-help-link">chat online</a> or call 1-800-4-CANCER (1-800-422-6237).</p>
        <p><a href="/about-cancer/treatment/clinical-trials/search">Try a new search</a><p>
      </div>
	</div>
  #end
  

  ## Begin "Delighter" section ##
  <div class="delighter-rail medium-3 columns">
  	<!--(bake LiveHelpDelighter.inc)-->
	<!--(bake NextStepDelighter.inc)-->
  </div>
</div>
