<!--
Reusing HTML from AdvCTSSearch.vm
TODO: Verify Javascript
-->
<div class="medium-9 columns">
#if ($SearchResults.Control.Redirected)
    <div style="padding: 12px; margin: 10px 0px; background-color: #feefb3;">
        <p style="margin: 10px 22px; vertical-align: middle;">We recently updated our clinical trials information. To get the most accurate results, you should rerun your search.</i></p>
        <p style="margin: 10px 22px; vertical-align: middle;">We apologize for any inconvenience. If you have any questions, please contact our Cancer Information Service at 1-800-4-CANCER.</p>
    </div>
#end
    <form id="form--cts-basic" class="clinical-trials-search-form basic-search adv-search" action="$SearchResults.ResultsPagePrettyUrl" method="get">
        <!-- BEGIN select2 (cancer type) module -->
<!--(bake CTSSearchDiseases.inc)-->
        <!-- END select2 (cancer type) module -->

        <!-- BEGIN age/keyword divs -->
        <div class="row" data-match-height>
            <fieldset id="fieldset--age" class="large-6 columns gutter equalheight">
                <div class="adv-fieldset-header">
                    <h4>AGE
                        <a href="/about-cancer/treatment/clinical-trials/search/help#2" class="text-icon-help right" target="_blank" aria-label="Help">?</a>
                    </h4>
                </div>
                <div class="adv-fieldset-body">
                    <div class="row">
                        <div>Enter the age of the participant</div>
                    </div>
                    <div class="row">
                        <div>
                            <input id="a" name="a" maxlength="3" autocomplete="off" aria-labelledby="legend--age" placeholder="" type="text" error-msg="Please enter a number between 1 and 120.">
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset id="fieldset--keyword" class="large-6 columns gutter equalheight">
                <div class="adv-fieldset-header">
                    <h4>KEYWORDS/PHRASES
                        <a href="/about-cancer/treatment/clinical-trials/search/help#4" class="text-icon-help right" target="_blank" aria-label="Help">?</a>
                    </h4>
                </div>
                <div class="adv-fieldset-body">
                    <div class="row">
                        <div>Search by word or phrase (use quotation marks with phrases)</div>
                    </div>
                    <div class="row">
                        <div>
                            <input id="q" name="q" aria-labelledby="legend--keyword" placeholder="Examples: PSA, &quot;Paget disease&quot;" type="text">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <!-- END age/keyword divs -->

        <!-- BEGIN location fieldsets -->
        <fieldset id="fieldset--location">
            <div class="adv-fieldset-header">
                <h4>LOCATION
                    <a href="/about-cancer/treatment/clinical-trials/search/help#2" class="text-icon-help right" target="_blank" aria-label="Help">?</a>
                </h4>
            </div>
            <div class="adv-fieldset-body">
                <div class="row">
                    Search for trials near a specific zip code. By default, searches are within a 100 mile radius. Use the drop-down to change this distance.
                </div>
                <div class="row">
                    <fieldset id="fieldset--your-location">
                        <div class="row">
                            <div class="z-input large-6 columns gutter">
                                <label for="z">U.S. ZIP Code: </label>
                                <input id="z" name="z" maxlength="5" type="text" error-msg="Please enter a valid 5 digit ZIP code.">
                            </div>
                            <div class="zp-input large-6 columns">
                                <label for="zp">Radius: </label>
                                <select id="zp" name="zp" class="fullwidth">
                                    <option value="20">20 miles</option>
                                    <option value="50">50 miles</option>
                                    <option selected="selected" value="100">100 miles</option>
                                    <option value="200">200 miles</option>
                                    <option value="500">500 miles</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </fieldset>
        <!-- END location fieldsets -->
        <!-- Hidden input for passing originating search form -->
		<input name="rl" value="1" type="hidden" id="rl">
        <div class="row">
            <div class="large-12">
                <input type="submit" class="submit button" value="Search">
            </div>
        </div>
    </form>
</div>
## Begin "Delighter" section ##
<div class="delighter-rail medium-3 columns">
	<!--(bake LiveHelpDelighter.inc)-->
	<!--(bake WhichTrialsDelighter.inc)-->
	<!--(bake WhatAreTrialsDelighter.inc)-->
</div>
## Begin section for referencing API instructions page ##
<div class="api-reference-section api-ref-advanced">
	<!--(bake APIReferenceSection.inc)-->
</div>
