<script src="/PublishedContent/js/BasicCTSViewPage.js" type="text/javascript"></script>

## Draws a Single Location Item

#macro(DrawLocationV2 $loc)
<div itemprop="location" itemscope="" itemtype="http://schema.org/Place">
  <strong itemprop="name">$loc.Name</strong>
  <br>Status: $SearchResults.TrialTools.GetFormattedString($loc.RecruitmentStatus)##
  <br>
  <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
    <meta itemprop="addressCountry" content="$loc.Country" />
    <span itemprop="addressLocality">$loc.City</span>##
#if (!$Tools.IsNullOrWhitespace($loc.StateOrProvince))##
, <span itemprop="addressRegion">$loc.StateOrProvince</span>
#end
#if (!$Tools.IsNullOrWhitespace($loc.ContactName))##
<br>Contact: $loc.ContactName
#else
<br>Name Not Available
#end
#if (!$Tools.IsNullOrWhitespace($loc.ContactPhone))##
<br>Phone: $loc.ContactPhone
#end
#if (!$Tools.IsNullOrWhitespace($loc.ContactEmail))
Email: <a href="mailto:$loc.ContactEmail">$loc.ContactEmail</a>
#end
  </span>
</div>
#end

#macro(DrawLocationsV2)
#if($SearchResults.Control.GetShowAll() > 0)
#DrawFilterableLocationsV2()
#elseif($SearchResults.Control.HasZip())
#DrawProximityLocationsV2()
#else
#DrawFilterableLocationsV2()
#end
#end

#macro(DrawNoLocationsV2)
#if($SearchResults.Trial.CurrentTrialStatus.toLower == "not yet active" || $SearchResults.Trial.CurrentTrialStatus.toLower == "in review" || $SearchResults.Trial.CurrentTrialStatus.toLower == "approved")
Location information is not yet available.
#else
See trial information on <a href="https://www.clinicaltrials.gov/show/$SearchResults.Trial.NCTID" target="_blank">ClinicalTrials.gov</a> for a list of participating sites.
#end
#end

## This is used to draw all study sites with filters.
#macro(DrawFilterableLocationsV2)
<div id="filterable-trialslist">
  #set ($allLocations = $SearchResults.TrialTools.GetAllSortedLocations($SearchResults.Trial)) 
  #if ($SearchResults.TrialTools.GetLocCount($allLocations.USA) == 0 && $SearchResults.TrialTools.GetLocCount($allLocations.Canada) == 0 && $SearchResults.TrialTools.GetLocCount($allLocations.Other) == 0)
  #DrawNoLocationsV2()##
  #else
  <div>
    #if($SearchResults.Control.GetShowAll() > 0)
    <span class="right location-link">
      <a href="$SearchResults.Control.PageInstruction.GetUrl("ShowNearbyUrl")#trial-location">Show locations near me</a>
    </span>
    #end

    #if ($SearchResults.TrialTools.GetLocCount($allLocations.USA) > 0)
    <div data-basiccts-countrygroup="U.S.A.">
      #foreach($state in $allLocations.USA)
      #each
      <div data-basiccts-psunitgroup="$state.key">
        <h3>$state.key</h3>
        #foreach($loc in $state.Value)
        #each
        #DrawLocationV2($loc)
        #end
      </div>
      #end
    </div>
    #end
    #if ($SearchResults.TrialTools.GetLocCount($allLocations.Canada) > 0)
    <div data-basiccts-countrygroup="Canada">
      #foreach($state in $allLocations.Canada)
      #each
      <div data-basiccts-psunitgroup="$state.key">
        <h3>$state.key</h3>
        #foreach($loc in $state.Value)
        #each
        #DrawLocationV2($loc)
        #end
      </div>
      #end
    </div>
    #end
    #if ($SearchResults.TrialTools.GetLocCount($allLocations.Other) > 0)
    <div data-basiccts-countrygroup="Other">
      #foreach($country in $allLocations.Other)
      #each
      <div data-basiccts-psunitgroup="$country.key">
        <h3>$country.key</h3>
        #foreach($loc in $country.value)
        #each
        #DrawLocationV2($loc)
        #end
      </div>
      #end
    </div>
  </div>
  #end
  #end
</div>
#end

## This is used to draw the closest sites when viewing by proximity
#macro(DrawProximityLocationsV2)
<div id="proximity-trialslist">
  #if($SearchResults.TrialTools.GetFilteredLocations($SearchResults.Trial,$SearchResults.Control.SearchParams.ZipLookup.GeoCode,$SearchResults.Control.SearchParams.ZipRadius).Length == 0)
  #DrawNoLocationsV2()##
  #else

  <span class="location-text">Locations within $SearchResults.Control.SearchParams.ZipRadius miles of ZIP code "$SearchResults.Control.SearchParams.ZipLookup.PostalCode_ZIP"</span>
  <span class="right location-link">
    <a href="$SearchResults.Control.PageInstruction.GetUrl("ShowAllUrl")#trial-location">Show all locations</a>
  </span>
    #foreach($loc in $SearchResults.TrialTools.GetFilteredLocations($SearchResults.Trial,$SearchResults.Control.SearchParams.ZipLookup.GeoCode,$SearchResults.Control.SearchParams.ZipRadius))
    #each
      #DrawLocationV2($loc)
    #end
    #end
</div>
#end

#macro(DrawMatchingParamsV2 $SearchResults)
  #set($plist = $Tools.CreateEmptyStringList())
  #if(!$Tools.IsNullOrWhitespace($SearchResults.Control.GetCancerType()))
    $plist.Add("type")
  #end
  #if(!$Tools.IsNullOrWhitespace($SearchResults.Control.GetPhrase()))
    $plist.Add("phrase")
  #end
  #if($SearchResults.Control.HasZip())
    $plist.Add("zip")
  #end
  #if($SearchResults.Control.SearchParams.Age > 0)
    $plist.Add("age")
  #end
  #if(($SearchResults.Control.Gender == "Female") || ($SearchResults.Control.Gender == "Male"))
    $plist.Add("gender")
  #end
  #if($SearchResults.Control.GetSearchForAllTrials == true)
    $plist.Add("all trials")
  #end

#foreach($param in $plist)##
#each
#if($param == "type")##
"<span data-basiccts-searchparam='t'>$SearchResults.Control.GetCancerType()</span>"##
#elseif($param == "phrase")##
"<span data-basiccts-searchparam='q'>$Tools.Replace($SearchResults.Control.GetPhrase(), '"', '')</span>"##
#elseif($param == "zip")##
within $SearchResults.Control.SearchParams.ZipRadius miles of ZIP code "<span data-basiccts-searchparam='z'>$SearchResults.Control.SearchParams.ZipLookup.PostalCode_ZIP</span>"##
#elseif($param == "age")##
taking patients age <span data-basiccts-searchparam='a'>$SearchResults.Control.SearchParams.Age</span>##
#elseif($param == "gender")##
Gender: "<span data-basiccts-searchparam='g'>$SearchResults.Control.SearchParams.Gender</span>"##
#elseif($param == "all trials")##
"all trials"##
#else##
## do nothing
#end##
#between
; ##
#end##
#end##

#set($resultsUrl = $SearchResults.Control.PageInstruction.GetUrl("ResultsUrl"))##
<span class="cts-results-info">
  <a href="$resultsUrl">&lt; Back to search results</a>
  <p>
    This clinical trial matches: #DrawMatchingParamsV2($SearchResults).
  </p>
</span>
<div class="row">
  <div class="medium-9 columns">
    #if ($SearchResults.Trial.CurrentTrialStatus.toLower == "active")
      #set($statusClass = "active")
    #elseif($SearchResults.Trial.CurrentTrialStatus.toLower == "enrolling by invitation")
      #set($statusClass = "invite")
    #elseif($SearchResults.Trial.CurrentTrialStatus.toLower == "temporarily closed" || $SearchResults.Trial.CurrentTrialStatus.toLower == "temporarily closed to accrual" || $SearchResults.Trial.CurrentTrialStatus.toLower == "temporarily closed to accrual and intervention")
      #set($statusClass = "closed")
    #elseif($SearchResults.Trial.CurrentTrialStatus.toLower == "not yet active" || $SearchResults.Trial.CurrentTrialStatus.toLower == "in review" || $SearchResults.Trial.CurrentTrialStatus.toLower == "approved")
  	  #set($statusClass = "not-active")
    #else
      #set($statusClass = "")
    #end
    <div class="status $statusClass">
      Status: $SearchResults.Trial.CurrentTrialStatus
    </div>
    <div class="accordion desktop" id="clinical_trial">
      #if (!$Tools.IsNullOrWhitespace($SearchResults.Trial.BriefSummary))
        <section id="trial-description">
          <h2>Description</h2>
          <div>
		    <p class="ctrp">##
              $Tools.Enc($SearchResults.Trial.BriefSummary)
			</p>
          </div>
        </section>
      #end

      #if ($SearchResults.TrialTools.HasEligibilityCriteria($SearchResults.Trial))
        <section id="trial-criteria">
          <h2>Eligibility Criteria</h2>
          <div>
            #foreach($criterion in $SearchResults.TrialTools.GetInclusionCriteria($SearchResults.Trial))##
              #beforeall
              <h3>Inclusion Criteria</h3>
              <ul>
              ##end
              #each
                <li>$Tools.Enc($criterion)</li>
              ##end
              #afterall
              </ul>
              ##end
            #end
            #foreach($criterion in $SearchResults.TrialTools.GetExclusionCriteria($SearchResults.Trial))##
              #beforeall
              <h3>Exclusion Criteria</h3>
              <ul>
              ##end
              #each
                <li>$Tools.Enc($criterion)</li>
              ##end
              #afterall
              </ul>
              ##end
            #end
          </div>
        </section>
      #end


      <section id="trial-location">
        <h2>Locations & Contacts</h2>
        #DrawLocationsV2()
      </section>

      #if (!$Tools.IsNullOrWhitespace($SearchResults.Trial.DetailedDescription))
      <section id="trial-outline">
        <h2>Trial Objectives and Outline</h2>
        <div>
          $SearchResults.TrialTools.GetPrettyDescription($SearchResults.Trial)
        </div>
      </section>
      #end

      <section id="trial-phase">
        <h2>Trial Phase & Type</h2>
        <div>
          <div class="row">
            <div class="medium-6 columns">
              <strong>Trial Phase</strong>
			  <p>$SearchResults.TrialTools.GetGlossifiedPhase($SearchResults.Trial)</p>
            </div>
            <div class="medium-6 columns">
              <strong>Trial Type</strong>
              <p>$SearchResults.TrialTools.GetTrialType($SearchResults.Trial)</p>
            </div>
          </div>
        </div>
      </section>

      <section id="trial-organization">
        <h2>Lead Organization</h2>
        <div>
		<p>
          <strong>Lead Organization</strong>
          <br>
          $SearchResults.TrialTools.GetLeadSponsor($SearchResults.Trial)
		</p>
#set($principals = $SearchResults.TrialTools.GetPrincipalArray($SearchResults.Trial))
#if($principals.length > 0)
		<p>
#if($principals.length > 1)
              Principal Investigators<br>
#else
              Principal Investigator<br>
#end
#foreach($principal in $principals)
#each
                $principal
#end
		</p>
#end
        </div>
      </section>

      <section id="trial-ids">
        <h2>Trial IDs</h2>
        <div>
          <strong>Primary ID</strong> $SearchResults.Trial.ProtocolID <br>
          <strong>Secondary IDs</strong> $SearchResults.TrialTools.GetSecondaryIDsString($SearchResults.Trial) <br>
          <strong>Clinicaltrials.gov ID</strong> <a href="http://clinicaltrials.gov/show/$SearchResults.Trial.NCTID" target="_blank">$SearchResults.Trial.NCTID</a> <br>
        </div>
      </section>
    </div>
  </div>

  <div class="delighter-rail medium-3 columns">
    <!--(bake LiveHelpDelighter.inc)-->
    <!--(bake NextStepDelighter.inc)-->
    <div class="no-resize cts-share">
      <div class="share-text">Share this clinical trial with your doctor:</div>
      <a class="print" title="Print" href="#">
        <span class="icon icon-print"></span>
        <span class="text">Print</span>
      </a>
      #set($emailUrl = $SearchResults.Control.PageInstruction.GetUrl("email"))##
      <a class="email" title="Email" href="$emailUrl">
        <span class="icon icon-email"></span>
        <span class="text">Email</span>
      </a>
    </div>
  </div>
</div>
