<script src="/PublishedContent/js/BasicCTSSearchPage.js" type="text/javascript"></script>

<div class="medium-9 columns">

#if ($SearchResults.Control.Redirected)
	<div style="padding: 12px; margin: 10px 0px; background-color: #feefb3;">
		<p style="margin: 10px 22px; vertical-align: middle;">We recently updated our clinical trials information. To get the most accurate results, you should rerun your search.</i></p>
		<p style="margin: 10px 22px; vertical-align: middle;">We apologize for any inconvenience. If you have any questions, please contact our Cancer Information Service at 1-800-4-CANCER.</p>
	</div>
#end

  <form class="clinical-trials-search-form basic-search basic-cts-v2" action="$SearchResults.ResultsPagePrettyUrl" method="get">

    <fieldset id="fieldset-type" aria-labelledby="legend-type">
      <div class="row">
        <div class="large-4 small-11 columns legend" id="legend-type"><label class="bold" for="q">Cancer Type/Keyword</label></div>
        <div class="large-8 columns">
          <div class="row">
            <input placeholder="Start typing to select a cancer type" type="text" id="q" maxlength="100" name="q" autocomplete="off">
          </div>
          <div class="row"></div>
        </div>
      </div>
    </fieldset>

    <fieldset id="fieldset-keyword" aria-labelledby="legend-keyword" style="display: none;">
      <div class="row">
        <div class="large-4 small-11 columns legend" id="legend-keyword"><label class="bold" for="">Keyword</label></div>
        <div class="large-8 columns">
          <div class="row">
            <input type="text" id="" maxlength="100" name="" placeholder="Examples: PSA, HER-2, &quot;Paget disease&quot;" autocomplete="off">
          </div>
          <div class="row">
            <a class="basiccts-cancertype-toggle" href="#">Search by cancer type</a> instead.
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset aria-labelledby="legend-zip">
      <div class="row">
        <div class="large-4 small-11 columns legend" id="legend-zip"><label class="bold" for="z">U.S. ZIP Code</label></div>
        <div class="large-8 columns">
          <div class="row">
            <input id="z" type="text" maxlength="5" name="z" autocomplete="off">
          </div>
          <div class="row">Show trials near this U.S. ZIP code.</div>
        </div>
      </div>
    </fieldset>

    <fieldset aria-labelledby="legend-age">
      <div class="row">
        <div class="large-4 small-11 columns legend" id="legend-age"><label class="bold" for="a">Age</label></div>
        <div class="large-8 columns">
          <div class="row">
            <input class="small-3" type="text" id="a" maxlength="3" name="a" autocomplete="off">
          </div>
          <div class="row">Your age helps determine which trials are right for you.</div>
        </div>
      </div>
    </fieldset>

    <div class="row">
      <div class="large-8 columns right">
        <input type="submit" class="submit button" value="Search">
        </div>
    </div>
  </form>
</div>
## Begin "Delighter" section ##
<div class="delighter-rail medium-3 columns">
	<!--(bake LiveHelpDelighter.inc)-->
	<!--(bake WhichTrialsDelighter.inc)-->
	<!--(bake WhatAreTrialsDelighter.inc)-->
</div>
## Begin section for referencing API instructions page ##
<div class="api-reference-section">
	<!--(bake APIReferenceSection.inc)-->
</div>