
##Begin DrawSearchParamsV2
<!--(bake DrawSearchParamsV2.inc)-->
##End DrawSearchParamsV2

##Begin Common Location Drawing
<!--(bake CTSDrawLocations.inc)-->
##End Common Location Drawing

## Main Location Drawing Function
#macro(DrawLocationsV2)
  #set($filteredLocations = $SearchResults.TrialTools.GetFilteredLocations($SearchResults.Trial,$SearchResults.Parameters))
  #if($filteredLocations.Length == 0)
    #DrawNoLocationsV2()
  #elseif($SearchResults.Control.ShowingAll != true && ($SearchResults.Parameters.Location == "CountryCityState" || $SearchResults.Parameters.Location == "Zip" || $SearchResults.Parameters.Location == "AtNIH"))
    #DrawProximityLocationsV2($filteredLocations)
  #else
    #DrawFilterableLocationsV2()
  #end
#end

## Used when no study sites
#macro(DrawNoLocationsV2)
<div id="filterable-trialslist">
  #if($SearchResults.Trial.CurrentTrialStatus.toLower == "not yet active" || $SearchResults.Trial.CurrentTrialStatus.toLower == "in review" || $SearchResults.Trial.CurrentTrialStatus.toLower == "approved")
    Location information is not yet available.
  #else
    See trial information on <a href="https://www.clinicaltrials.gov/show/$SearchResults.Trial.NCTID" target="_blank">ClinicalTrials.gov</a> for a list of participating sites.
  #end
</div>
#end

## This is used to draw all study sites with dropdown filters.
#macro(DrawFilterableLocationsV2)
<div id="filterable-trialslist">
  <div>
    ## Show locations near me if filterable.
    #if($SearchResults.Parameters.Location == "CountryCityState" || $SearchResults.Parameters.Location == "Zip" || $SearchResults.Parameters.Location == "AtNIH")
      <span class="right location-link">
        <a href="$SearchResults.Control.GetShowNearbyUrl()#trial-location">Show locations near me</a>
      </span>
    #end
    ## Draw Results.
    #set($sites = $SearchResults.Trial.Sites)
    #DrawSitesForUXFilter($sites)
</div>
#end

## This is used to draw the closest sites when viewing by proximity
#macro(DrawProximityLocationsV2 $filteredLocations)
<div id="proximity-trialslist">
  #if($filteredLocations.Length == 0)
    #DrawNoLocationsV2()##
  #else
	<span class="location-text">Locations matching your search criteria</span>
    ## do not draw toggle if the number of filtered sites is the same as all site.
    #if($SearchResults.Trial.Sites.Count != $filteredLocations.Length)
	    <span class="right location-link">
        <a href="$SearchResults.Control.GetShowAllUrl()#trial-location">Show all locations</a>
      </span>
	  #end
    ##Now actually draw the filtered sites.  This may be different between Zip and Other Locations
    #DrawSitesForUXFilter($filteredLocations)
  #end
</div>
#end

#set($resultsUrl = $SearchResults.Control.GetBackToResultsUrl())##
#if(!$Tools.IsNull($SearchResults.Parameters))##
<span class="cts-results-info">
  <a href="$resultsUrl">&lt; Back to search results</a>
</span>

<div class="row medium-12 cts-results-title">
#if($SearchResults.Parameters.IsEmpty() == true)

  <div class="medium-12 columns collapse">

    <span class="cts-results-label">
    <strong>
    This clinical trial matches: "all trials" |
    </strong>
    <span class="cts-start-over"><a href="$SearchResults.Control.SearchFormUrl">Start Over</a></span>
    </span>

  </div>
#else

<div class="medium-9 columns collapse">

  <span class="cts-results-label">
  <strong>
  This clinical trial matches:
  </strong>
  </span>

  #DrawSearchParamsV2($SearchResults)
</div>

<div class="medium-3 columns">
  <span class="cts-start-over"><a href="$SearchResults.Control.SearchFormUrl">Start Over</a></span>
</div>
#end##
</div>
#end##

<div class="row">
  <div class="medium-9 columns">
    #if ($SearchResults.Trial.CurrentTrialStatus.toLower == "active")
      #set($statusClass = "active")
    #elseif($SearchResults.Trial.CurrentTrialStatus.toLower == "enrolling by invitation")
      #set($statusClass = "invite")
    #elseif($SearchResults.Trial.CurrentTrialStatus.toLower == "temporarily closed" || $SearchResults.Trial.CurrentTrialStatus.toLower == "temporarily closed to accrual" || $SearchResults.Trial.CurrentTrialStatus.toLower == "temporarily closed to accrual and intervention")
      #set($statusClass = "closed")
    #elseif($SearchResults.Trial.CurrentTrialStatus.toLower == "not yet active" || $SearchResults.Trial.CurrentTrialStatus.toLower == "in review" || $SearchResults.Trial.CurrentTrialStatus.toLower == "approved")
  	  #set($statusClass = "not-active")
    #else
      #set($statusClass = "")
    #end
    <div class="status $statusClass">
      Status: $SearchResults.Trial.CurrentTrialStatus
    </div>
    <div class="accordion desktop" id="clinical_trial">
      #if (!$Tools.IsNullOrWhitespace($SearchResults.Trial.BriefSummary))
        <section id="trial-description">
          <h2>Description</h2>
          <div>
		    <p class="ctrp">##
              $Tools.Enc($SearchResults.Trial.BriefSummary)
			</p>
          </div>
        </section>
      #end

      #if ($SearchResults.TrialTools.HasEligibilityCriteria($SearchResults.Trial))
        <section id="trial-criteria">
          <h2>Eligibility Criteria</h2>
          <div>
            #foreach($criterion in $SearchResults.TrialTools.GetInclusionCriteria($SearchResults.Trial))##
              #beforeall
              <h3>Inclusion Criteria</h3>
              <ul>
              ##end
              #each
                <li>$Tools.Enc($criterion)</li>
              ##end
              #afterall
              </ul>
              ##end
            #end
            #foreach($criterion in $SearchResults.TrialTools.GetExclusionCriteria($SearchResults.Trial))##
              #beforeall
              <h3>Exclusion Criteria</h3>
              <ul>
              ##end
              #each
                <li>$Tools.Enc($criterion)</li>
              ##end
              #afterall
              </ul>
              ##end
            #end
          </div>
        </section>
      #end


      <section id="trial-location">
        <h2>Locations & Contacts</h2>
        #DrawLocationsV2()
      </section>

      #if (!$Tools.IsNullOrWhitespace($SearchResults.Trial.DetailedDescription))
      <section id="trial-outline">
        <h2>Trial Objectives and Outline</h2>
        <div>
          $SearchResults.TrialTools.GetPrettyDescription($SearchResults.Trial)
        </div>
      </section>
      #end

      <section id="trial-phase">
        <h2>Trial Phase & Type</h2>
        <div>
          <div class="row">
            <div class="medium-6 columns">
              <strong>Trial Phase</strong>
			  <p>$SearchResults.TrialTools.GetGlossifiedPhase($SearchResults.Trial)</p>
            </div>
            <div class="medium-6 columns">
              <strong>Trial Type</strong>
              <p>$SearchResults.TrialTools.GetTrialType($SearchResults.Trial)</p>
            </div>
          </div>
        </div>
      </section>

      <section id="trial-organization">
        <h2>Lead Organization</h2>
        <div>
		<p>
          <strong>Lead Organization</strong>
          <br>
          $SearchResults.TrialTools.GetLeadSponsor($SearchResults.Trial)
		</p>
#set($principals = $SearchResults.TrialTools.GetPrincipalArray($SearchResults.Trial))
#if($principals.length > 0)
		<p>
#if($principals.length > 1)
              Principal Investigators<br>
#else
              Principal Investigator<br>
#end
#foreach($principal in $principals)
#each
                $principal
#end
		</p>
#end
        </div>
      </section>

      <section id="trial-ids">
        <h2>Trial IDs</h2>
        <div>
          <strong>Primary ID</strong> $SearchResults.Trial.ProtocolID <br>
          <strong>Secondary IDs</strong> $SearchResults.TrialTools.GetSecondaryIDsString($SearchResults.Trial) <br>
          <strong>Clinicaltrials.gov ID</strong> <a href="http://clinicaltrials.gov/show/$SearchResults.Trial.NCTID" target="_blank">$SearchResults.Trial.NCTID</a> <br>
        </div>
      </section>
    </div>
  </div>

  <div class="delighter-rail view-delighter-rail medium-3 columns">
    <!--(bake LiveHelpDelighter.inc)-->
    <!--(bake WhichTrialsDelighter.inc)-->
    <div class="no-resize cts-share view-delighter-share">
      <div class="share-text">Share this clinical trial with your doctor:</div>
      <a class="print" title="Print" href="#">
        <span class="icon icon-print"></span>
        <span class="text">Print</span>
      </a>
      ## This is the only place where GetUrl should be used.  All other places are specific only to this template.
      #set($emailUrl = $SearchResults.Control.PageInstruction.GetUrl("email"))##
      <a class="email" title="Email" href="$emailUrl">
        <span class="icon icon-email"></span>
        <span class="text">Email</span>
      </a>
    </div>
  </div>
</div>
