##Begin DrawSearchParamsV2
<!--(bake DrawSearchParamsV2.inc)-->
##End DrawSearchParamsV2

#macro(DrawLocationInformationV2 $trial)##
#if(($SearchResults.Parameters.Location == "CountryCityState") && ($SearchResults.Parameters.LocationParams.Country != "United States"))
  #set ($usSites = $trial.Sites.ToArray())
#else
  #set ($usSites = $SearchResults.TrialTools.GetUSASites($trial))
#end
<strong>Location: </strong>##

#if ($usSites.length == 1)##
#foreach($loc in $usSites)
#each
$loc.Name, $loc.City, $loc.StateOrProvince##
#end
#elseif ($usSites.length == 0)##
#if($resultItem.CurrentTrialStatus.toLower == "not yet active" || $resultItem.CurrentTrialStatus.toLower == "in review" || $resultItem.CurrentTrialStatus.toLower == "approved")##
Location information is not yet available.##
#else##
See <a href="https://www.clinicaltrials.gov/show/$trial.NCTID" target="_blank">Clinical Trials.gov</a>##
#end##
#else##
$usSites.length locations##
#if (($SearchResults.Parameters.Location == "CountryCityState" || $SearchResults.Parameters.Location == "Zip" || $SearchResults.Parameters.Location == "AtNIH"))##
#set($filteredUSSites = $SearchResults.TrialTools.GetFilteredLocations($usSites, $SearchResults.Parameters))##
#if($filteredUSSites.length > 0)##
, including $filteredUSSites.length near you##
#end##
#end##
#end##
#end##

#macro(DrawNoResultsMessage)
  <div class="medium-9 columns collapse">
    <div>
      No clinical trials matched your search for #DrawSearchParamsV2($SearchResults).
      <p>For assistance, please contact the NCI Contact Center. You can <a href="/contact" class="live-help-link">chat online</a> or call 1-800-4-CANCER (1-800-422-6237).</p>
      <p><a href="$SearchResults.Control.SearchFormUrl">Try a new search</a><p>
    </div>
  </div>
#end

#macro(DrawErrorMessage)
  <div class="medium-9 columns collapse">
    <div>
      <p>Sorry, you seem to have entered invalid criteria.  Please check the following, and try your search again:
      ## List invalid fields
      <ul>
      #if($SearchResults.Parameters.IsFieldInvalid("MainType") == true)
        <li>Cancer Type</li>
      #end
      #if($SearchResults.Parameters.IsFieldInvalid("SubTypes") == true)
        <li>Subtypes</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("Stages") == true)
        <li>Stages</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("Findings") == true)
        <li>Findings</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("Age") == true)
        <li>Age</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("Gender") == true)
        <li>Gender</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("Phrase") == true)
        <li>Phrases/Keywords</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("Location") == true)
        <li>Location</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("ZipCode") == true)
        <li>Zip Code</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("ZipRadius") == true)
        <li>Zip Radius</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("Country") == true)
        <li>Country</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("State") == true)
        <li>State</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("City") == true)
        <li>City</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("Hospital") == true)
        <li>Hospital</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("TrialTypes") == true)
        <li>Trial Types</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("Drugs") == true)
        <li>Drugs</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("OtherTreatments") == true)
        <li>Other Treatments</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("TrialPhases") == true)
        <li>Trial Phases</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("TrialIDs") == true)
        <li>Trial IDs</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("Investigator") == true)
        <li>Trial Investigator</li>
      #end##
      #if($SearchResults.Parameters.IsFieldInvalid("LeadOrg") == true)
        <li>Lead Organization</li>
      #end##
      </ul>
      <p>For assistance, please contact the NCI Contact Center. You can <a href="/contact" class="live-help-link">chat online</a> or call 1-800-4-CANCER (1-800-422-6237).</p>
      <p><a href="$SearchResults.Control.SearchFormUrl">Try a new search</a></p>
    </div>
  </div>
#end

#macro(DrawResultsV2 $SearchResults)
  <div class="cts-results-container" data-cts-printparams="$SearchResults.Control.GetSearchParamsForPrint()">
    #foreach($resultItem in $SearchResults.Results.Trials)
      #each
        ## Attach Onclick for Analytics elsewhere
        <a href="$SearchResults.Control.GetDetailedViewUrl($resultItem.NCIID)" class="protocol-abstract-link">$resultItem.BriefTitle</a>
        <div class="cts-result-item">
          <strong>Status: </strong>$resultItem.CurrentTrialStatus<br>
          <strong>Age: </strong>$SearchResults.TrialTools.GetAgeString($resultItem)<br>
          <strong>Gender: </strong>$SearchResults.TrialTools.GetGenderString($resultItem)<br>
          #DrawLocationInformationV2($resultItem)
        </div>
      #before
        <div class="row collapse">
          <div class="medium-12 columns clinical-trial-individual-result cts-with-checkbox" data-nciid="$resultItem.NCIID">
      #after
          </div>
        </div>
    #end
  </div>

  ## If there are results then draw the pager
  ##<div class="pager ct-listing-pager">
    ## Get the current page
    ## Show up to the next 2 and previous 2 numbers from the current page
    ## First / last pages always show by default
    #foreach($pagerItem in $SearchResults.Control.GetPagerItems(2,2,$SearchResults.PageInfo.MaxPage,$SearchResults.Results.TotalResults))
      #each
        #if($pagerItem.Text == $SearchResults.PageInfo.CurrentPage.ToString())
          <span class="pager-current">$pagerItem.Text</span>
        #elseif($pagerItem.IsLink == false)
          <span class="pager-text-only">$pagerItem.Text</span>
        #else
          <a class="pager-link" href="$pagerItem.PageUrl">$pagerItem.Text</a>
        #end
	  #beforeall
	    <div class="pager ct-listing-pager">
	  #afterall
	    </div>
      ## end 'each'
    #end
  ##</div>

#end##DrawResultsV2

  #if($SearchResults.Parameters.HasInvalidParams() == true)
    #DrawErrorMessage()
  #elseif(($SearchResults.Results.TotalResults <= 0) || ($SearchResults.Results.Trials.length == 0))
    ##Either our search did not have results, OR, they paged too far and the Trials array is empty.
    #DrawNoResultsMessage()
  #else
    #if($SearchResults.PageInfo.CurrentPage <= $SearchResults.PageInfo.MaxPage) ## Check if out of bounds.
      <div class="row medium-12 cts-results-title">
        #if($SearchResults.Parameters.IsEmpty() == true)

          <div class="medium-12 columns collapse">

          <span class="cts-results-label">
          <strong>
          Results ${SearchResults.PageInfo.StartItemNumber}-${SearchResults.PageInfo.LastItemNumber} of <span data-basiccts-searchparam='n'>$SearchResults.Results.TotalResults</span> for your search for: "all trials" |
          </strong>
          <span class="cts-start-over cts-all-trials"><a href="$SearchResults.Control.SearchFormUrl">Start Over</a></span>
          </span>

          </div>

        #else
          <div class="medium-9 columns collapse">

          <span class="cts-results-label">
          <strong>
          Results ${SearchResults.PageInfo.StartItemNumber}-${SearchResults.PageInfo.LastItemNumber} of <span data-basiccts-searchparam='n'>$SearchResults.Results.TotalResults</span> for your search
          </strong>
          </span>

          #DrawSearchParamsV2($SearchResults)
          </div>

          <div class="medium-3 columns">
          <span class="cts-start-over"><a href="$SearchResults.Control.SearchFormUrl">Start Over</a></span>
          </div>

        #end##
      </div>
      <div class="row">
    #end ## ELSE Draw no title here
    <div class="medium-9 columns collapse">
      #DrawResultsV2($SearchResults)
    </div>
  #end

  ## Begin "Delighter" section ##
  <div class="delighter-rail results-delighter-rail medium-3 columns">
	  <!--(bake LiveHelpDelighter.inc)-->
	  <!--(bake WhichTrialsDelighter.inc)-->
  </div>
</div>
