##SimpleCTSearch is for a simplified searching experience.
<!--
Reusing HTML from AdvCTSSearch.vm
TODO: Verify Javascript
-->
<div class="medium-9 columns">
#if ($SearchResults.Control.Redirected)
    <div style="padding: 12px; margin: 10px 0px; background-color: #feefb3;">
        <p style="margin: 10px 22px; vertical-align: middle;">We recently updated our clinical trials information. To get the most accurate results, you should rerun your search.</i></p>
        <p style="margin: 10px 22px; vertical-align: middle;">We apologize for any inconvenience. If you have any questions, please contact our Cancer Information Service at 1-800-4-CANCER.</p>
    </div>
#end
    <form id="form--cts-basic" class="clinical-trials-search-form basic-search adv-search" action="$SearchResults.ResultsPagePrettyUrl" method="get">
        <fieldset id="fieldset--type" aria-labelledby="legend-type">
            <div class="adv-fieldset-header">
                <h4>Cancer Type/Keyword 
                    <a href="/about-cancer/treatment/clinical-trials/search/help#2" class="text-icon-help right" target="_blank" aria-label="Help">?</a>
                </h4>
            </div>
            <div class="adv-fieldset-body">
            <div class="row">
                <input placeholder="Start typing to select a cancer type" type="text" id="q" maxlength="100" name="q" autocomplete="off">
            </div>
            </div>
        </fieldset>

    <div class="row" data-match-height>
        <fieldset id="fieldset--age" aria-labelledby="legend-age" class="large-6 columns gutter equalheight">
            <div class="adv-fieldset-header">
                <h4>Age 
                    <a href="/about-cancer/treatment/clinical-trials/search/help#2" class="text-icon-help right" target="_blank" aria-label="Help">?</a>
                </h4>
            </div>
            <div class="adv-fieldset-body">
            <div class="row">
                <input id="a" name="a" maxlength="3" autocomplete="off" aria-labelledby="legend--age" placeholder="" type="text" error-msg="Please enter a number between 1 and 120.">
            </div>
            <div class="row">Your age helps determine which trials are right for you.</div>
            </div>
        </fieldset>
    
        <fieldset id="fieldset--zip" aria-labelledby="legend-zip" class="large-6 columns gutter equalheight">
            <div class="adv-fieldset-header">
                <h4>U.S. ZIP Code 
                    <a href="/about-cancer/treatment/clinical-trials/search/help#2" class="text-icon-help right" target="_blank" aria-label="Help">?</a>
                </h4>
            </div>
            <div class="adv-fieldset-body">
            <div class="row">
                <input type="text" id="z" name="z" class="non-empty" maxlength="5" error-msg="Please enter a valid 5 digit ZIP code.">
            </div>
            <div class="row">Show trials near this U.S. ZIP code.</div>
            </div>
        </fieldset>

    </div>
		<input name="rl" value="1" type="hidden" id="rl">
        <div class="row">
            <div class="large-12">
                <input type="submit" class="submit button" value="Search">
            </div>
        </div>

    </form>
</div>
## Begin "Delighter" section ##
<div class="delighter-rail medium-3 columns">
    <!--(bake LiveHelpDelighter.inc)-->
    <!--(bake WhatAreTrialsDelighter.inc)-->
    <!--(bake WhichTrialsDelighter.inc)-->
</div>
## Begin section for referencing API instructions page ##
<div class="api-reference-section api-ref-advanced">
	<!--(bake APIReferenceSection.inc)-->
</div>
