<script src="/PublishedContent/js/BasicCTSResultsPage.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js"></script>

### Draw location info for available trials
#macro(DrawListingPgLocationInfo $trial)##
  #set ($allLocations = $SearchResults.TrialTools.GetAllSortedLocations($trial)) 
  <strong>Location: </strong>##
  #if ($SearchResults.TrialTools.GetLocCount($allLocations.USA) == 1)##
    #foreach($state in $allLocations.USA)
      #each
        #foreach($loc in $state.Value)
          #each
            $loc.Name, $loc.City, $loc.StateOrProvince##
        #end
    #end
  #elseif ($SearchResults.TrialTools.GetLocCount($allLocations.USA) == 0)##
    #if($resultItem.CurrentTrialStatus.toLower == "not yet active" || $resultItem.CurrentTrialStatus.toLower == "in review" || $resultItem.CurrentTrialStatus.toLower == "approved")##
      Location information is not yet available.##
    #else##
      See <a href="https://www.clinicaltrials.gov/show/$trial.NCTID" target="_blank">Clinical Trials.gov</a>##
    #end##
  #else##
    $SearchResults.TrialTools.GetLocCount($allLocations.USA) locations##
  #end##
#end##

### Draw HTML for pages that do not return any trials
#macro(DrawListingPgNoTrials)
  ## Get the "no trials" HTML from the content item
  <div id="listing-no-trials">
  $SearchResults.Control.GetNoTrialsHTML()##
    <picture>
      <source srcset="/publishedcontent/Images/images/clinicaltrials/cts-cis-banner-smartphone.jpg" media="(max-width: 640px)">
      <source srcset="/publishedcontent/Images/images/clinicaltrials/cts-cis-banner-xl.jpg">
      <img srcset="/publishedcontent/Images/images/clinicaltrials/cts-cis-banner-smartphone.jpg" alt="Questions? Chat with an information specialist">
      <a href="#" class="listing-chat-button">Chat Now</a>
    </picture>
  </div>
#end

### Draw the trials list and pager
#macro(DrawListingPgTrials $SearchResults)
  <div class="listing-page-body cts-results-container">
    #foreach($resultItem in $SearchResults.Results.Trials)
      #each
        ## Attach Onclick for Analytics elsewhere
        <a href="$SearchResults.Control.GetDetailedViewUrl($resultItem.NCIID)" class="protocol-abstract-link">$resultItem.BriefTitle</a>
        <div class="cts-result-item">
          $SearchResults.TrialTools.GetBriefSummary($resultItem)<br>
          #DrawListingPgLocationInfo($resultItem)
        </div>
      #before
        <div class="row collapse">
          <div class="medium-12 columns clinical-trial-individual-result">
      #after
          </div>
        </div>
      #nodata
        #DrawListingPgNoTrials()
    #end
  </div>

  ## If there are results, add the lower control (draw the pager)
  <div class="ct-results-lower-control basic">
    <div class="pagination">
      ## Get the current page
      ## Show up to the next 3 and previous 3 numbers from the current page
      #foreach($pagerItem in $SearchResults.Control.GetPagerItems(3,3,$SearchResults.Results.TotalResults))
        #each
          #if($pagerItem.Text == $SearchResults.Control.SearchParams.Page.ToString())
            <span>$pagerItem.Text</span>
          #else
            <a href="$pagerItem.PageUrl">$pagerItem.Text</a>
          #end
        #after
          &nbsp;
      #end
    </div>
  </div>
#end


<div class="row">
  <div class="medium-12 columns collapse">
    #if($SearchResults.Results.TotalResults > 0)
      #if($SearchResults.Control.HasInvalidParams() == false)
        <div class="cts-results-title">
          #if($SearchResults.Results.TotalResults == 1)
            Trial 1 of <span data-basiccts-searchparam='n'>1</span>
          #else
            Trials $SearchResults.Control.GetStartItemNum()-$SearchResults.Control.GetEndItemNum($SearchResults.Results.TotalResults) of <span data-basiccts-searchparam='n'>$SearchResults.Results.TotalResults</span>
          #end
          </div>
        #DrawListingPgTrials($SearchResults)
      #else
        #DrawListingPgNoTrials()
      #end
    #else
      #DrawListingPgNoTrials()
    #end
  </div>
</div>