// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$accordion-blue-diamonds-name: 'accordion-blue-diamonds';
$accordion-blue-diamonds-x: 0px;
$accordion-blue-diamonds-y: 0px;
$accordion-blue-diamonds-offset-x: 0px;
$accordion-blue-diamonds-offset-y: 0px;
$accordion-blue-diamonds-width: 180px;
$accordion-blue-diamonds-height: 52px;
$accordion-blue-diamonds-total-width: 180px;
$accordion-blue-diamonds-total-height: 520px;
$accordion-blue-diamonds-image: '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg';
$accordion-blue-diamonds: (0px, 0px, 0px, 0px, 180px, 52px, 180px, 520px, '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg', 'accordion-blue-diamonds', );
$accordion-blue-gears-name: 'accordion-blue-gears';
$accordion-blue-gears-x: 0px;
$accordion-blue-gears-y: 52px;
$accordion-blue-gears-offset-x: 0px;
$accordion-blue-gears-offset-y: -52px;
$accordion-blue-gears-width: 180px;
$accordion-blue-gears-height: 52px;
$accordion-blue-gears-total-width: 180px;
$accordion-blue-gears-total-height: 520px;
$accordion-blue-gears-image: '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg';
$accordion-blue-gears: (0px, 52px, 0px, -52px, 180px, 52px, 180px, 520px, '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg', 'accordion-blue-gears', );
$accordion-blue-octagons-name: 'accordion-blue-octagons';
$accordion-blue-octagons-x: 0px;
$accordion-blue-octagons-y: 104px;
$accordion-blue-octagons-offset-x: 0px;
$accordion-blue-octagons-offset-y: -104px;
$accordion-blue-octagons-width: 180px;
$accordion-blue-octagons-height: 52px;
$accordion-blue-octagons-total-width: 180px;
$accordion-blue-octagons-total-height: 520px;
$accordion-blue-octagons-image: '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg';
$accordion-blue-octagons: (0px, 104px, 0px, -104px, 180px, 52px, 180px, 520px, '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg', 'accordion-blue-octagons', );
$accordion-blue-purple-circles-name: 'accordion-blue-purple-circles';
$accordion-blue-purple-circles-x: 0px;
$accordion-blue-purple-circles-y: 156px;
$accordion-blue-purple-circles-offset-x: 0px;
$accordion-blue-purple-circles-offset-y: -156px;
$accordion-blue-purple-circles-width: 180px;
$accordion-blue-purple-circles-height: 52px;
$accordion-blue-purple-circles-total-width: 180px;
$accordion-blue-purple-circles-total-height: 520px;
$accordion-blue-purple-circles-image: '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg';
$accordion-blue-purple-circles: (0px, 156px, 0px, -156px, 180px, 52px, 180px, 520px, '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg', 'accordion-blue-purple-circles', );
$accordion-green-waves-name: 'accordion-green-waves';
$accordion-green-waves-x: 0px;
$accordion-green-waves-y: 208px;
$accordion-green-waves-offset-x: 0px;
$accordion-green-waves-offset-y: -208px;
$accordion-green-waves-width: 180px;
$accordion-green-waves-height: 52px;
$accordion-green-waves-total-width: 180px;
$accordion-green-waves-total-height: 520px;
$accordion-green-waves-image: '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg';
$accordion-green-waves: (0px, 208px, 0px, -208px, 180px, 52px, 180px, 520px, '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg', 'accordion-green-waves', );
$accordion-pink-triangles-name: 'accordion-pink-triangles';
$accordion-pink-triangles-x: 0px;
$accordion-pink-triangles-y: 260px;
$accordion-pink-triangles-offset-x: 0px;
$accordion-pink-triangles-offset-y: -260px;
$accordion-pink-triangles-width: 180px;
$accordion-pink-triangles-height: 52px;
$accordion-pink-triangles-total-width: 180px;
$accordion-pink-triangles-total-height: 520px;
$accordion-pink-triangles-image: '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg';
$accordion-pink-triangles: (0px, 260px, 0px, -260px, 180px, 52px, 180px, 520px, '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg', 'accordion-pink-triangles', );
$accordion-purple-squares-name: 'accordion-purple-squares';
$accordion-purple-squares-x: 0px;
$accordion-purple-squares-y: 312px;
$accordion-purple-squares-offset-x: 0px;
$accordion-purple-squares-offset-y: -312px;
$accordion-purple-squares-width: 180px;
$accordion-purple-squares-height: 52px;
$accordion-purple-squares-total-width: 180px;
$accordion-purple-squares-total-height: 520px;
$accordion-purple-squares-image: '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg';
$accordion-purple-squares: (0px, 312px, 0px, -312px, 180px, 52px, 180px, 520px, '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg', 'accordion-purple-squares', );
$accordion-red-triangles-name: 'accordion-red-triangles';
$accordion-red-triangles-x: 0px;
$accordion-red-triangles-y: 364px;
$accordion-red-triangles-offset-x: 0px;
$accordion-red-triangles-offset-y: -364px;
$accordion-red-triangles-width: 180px;
$accordion-red-triangles-height: 52px;
$accordion-red-triangles-total-width: 180px;
$accordion-red-triangles-total-height: 520px;
$accordion-red-triangles-image: '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg';
$accordion-red-triangles: (0px, 364px, 0px, -364px, 180px, 52px, 180px, 520px, '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg', 'accordion-red-triangles', );
$accordion-yellow-hexagons-name: 'accordion-yellow-hexagons';
$accordion-yellow-hexagons-x: 0px;
$accordion-yellow-hexagons-y: 416px;
$accordion-yellow-hexagons-offset-x: 0px;
$accordion-yellow-hexagons-offset-y: -416px;
$accordion-yellow-hexagons-width: 180px;
$accordion-yellow-hexagons-height: 52px;
$accordion-yellow-hexagons-total-width: 180px;
$accordion-yellow-hexagons-total-height: 520px;
$accordion-yellow-hexagons-image: '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg';
$accordion-yellow-hexagons: (0px, 416px, 0px, -416px, 180px, 52px, 180px, 520px, '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg', 'accordion-yellow-hexagons', );
$accordion-yellow-squares-name: 'accordion-yellow-squares';
$accordion-yellow-squares-x: 0px;
$accordion-yellow-squares-y: 468px;
$accordion-yellow-squares-offset-x: 0px;
$accordion-yellow-squares-offset-y: -468px;
$accordion-yellow-squares-width: 180px;
$accordion-yellow-squares-height: 52px;
$accordion-yellow-squares-total-width: 180px;
$accordion-yellow-squares-total-height: 520px;
$accordion-yellow-squares-image: '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg';
$accordion-yellow-squares: (0px, 468px, 0px, -468px, 180px, 52px, 180px, 520px, '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg', 'accordion-yellow-squares', );
$accordion-width: 180px;
$accordion-height: 520px;
$accordion-image: '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg';
$accordion-sprites: ($accordion-blue-diamonds, $accordion-blue-gears, $accordion-blue-octagons, $accordion-blue-purple-circles, $accordion-green-waves, $accordion-pink-triangles, $accordion-purple-squares, $accordion-red-triangles, $accordion-yellow-hexagons, $accordion-yellow-squares, );
$accordion: (180px, 520px, '/publishedcontent/images/images/design-elements/sprites/accordion-bgs.jpg', $accordion-sprites, );


