/* BEGIN Accordion Styles */
// Accordions are styled by jquery-ui. These are override styles

//@import "~StyleSheets/sprites/img-sprites";
//@import "accordion-sprites-bgs";
//@include img-sprites-same-size($accordion-sprites);

// The accordion is having problems with uncleared floats in mobile. This is a fix to clear those floats
// WCMSFEQ-119
// Example pages: /research/areas/clinical-trials, /research/progress/annual-report-nation
@include bp(small) {
	.accordion section {
		clear: both;
	}
}

/* begin CTHP accordion styling rules */
@include bp(small) {

	.cthp-intro-multimedia,
	.cthpCard {
		h2 {
			background-color: transparent;
			// background-image sprite is set in _chtp.scss.
			// No need to set it again even though I already did all this work making an awesome iterator
			// Saving it as a code example for assigning custom sprite backgrounds
			//background-image: url($accordion-image);
		}
	}
	
	$headers: (
		".cthp-intro-multimedia,.cthp-overview": (
		  //sprite: $blue-purple-circles,
		  color: #4c34c3
		),
		".cthp-treatment": (
		  //sprite: $green-waves,
		  color: #119f7d
		),
		".cthp-research": (
		  //sprite: $blue-gears,
		  color: #036eab
		),
		".cthp-causes": (
		  //sprite: $purple-squares,
		  color: #753190
		),
		".cthp-genetics": (
		  //sprite: $blue-diamonds,
		  color: #248f92
		),
		".cthp-screening": (
		  //sprite: $red-triangles,
		  color: #9e2f54
		),
		".cthp-survival": (
		  //sprite: $yellow-squares,
		  color: #b77704
		),
		".cthp-general": (
		  //sprite: $blue-octagons,
		  color: #29768c
		),
		".cthp-pink-feature": (
		  //sprite: $pink-triangles,
		  color: #b9299b
		),
		".cthp-yellow-feature": (
		  //sprite: $yellow-hexagons,
		  color: #cbb218
		)
	);

	@each $selector, $attributes in $headers {
		//$sprite: map-get($attributes, 'sprite');
		$activeColor: map-get($attributes, 'color');

		//@debug($sprite);

		#{$selector} {
			.ui-accordion-header {
				.toggle {
					background-color: $activeColor;
				}
				&.ui-state-active .toggle {
					background-color: #fff;
					color: $activeColor;
				}
			}
		}
	}
}

// accordion hacks for poor markup
// elements inside the .ui-accordion that are not in the header or container element
// (and have no business being inside an accordion at all), get their own margin for gutters
// no need for breakpoint styles since .ui-accordion is destroyed by JavaScript breakpoint
.ui-accordion {
  > *:not(.ui-accordion-header):not(.ui-accordion-content) {
    margin-left: .9375em;
    margin-right: .9375em;
  }
}

/* END Accordion Styles */
