@charset "utf-8";
/*
	====
		dceg.cancer.gov Design Elements
		Usage: Elements specifically used for dceg.cancer.gov
		Last Update: May 2, 2012 by German Martinez
	====
*/



/************** BEGIN Font Declarations ************************/
/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  src: url("/publishedcontent/fonts/Montserrat-regular.eot");
  src: url("/publishedcontent/fonts/Montserrat-regular.eot?#iefix") format('embedded-opentype'), url("/publishedcontent/fonts/Montserrat-regular.woff") format('woff'), url("/publishedcontent/fonts/Montserrat-regular.ttf") format('truetype'), url("/publishedcontent/fonts/Montserrat-regular.svg#Montserrat") format('svg'); }

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  src: url("/publishedcontent/fonts/Montserrat-700.eot");
  src: url("/publishedcontent/fonts/Montserrat-700.eot?#iefix") format('embedded-opentype'), url("/publishedcontent/fonts/Montserrat-700.woff") format('woff'), url("/publishedcontent/fonts/Montserrat-700.ttf") format('truetype'), url("/publishedcontent/fonts/Montserrat-700.svg#Montserrat") format('svg'); }

/********************* END Font Declarations ******************************************/

/**
	Tagline
**/

#genSlotTagline {
	font-family: 'Montserrat', Arial, sans-serif;
	background-color: #606060;
	color: #ffffff;
	font-size: 1.2em;
	line-height: 2.3;
	padding-left: 22px;
	margin-right:-10px;
}





/**
	Site Banner
**/

#genSlotSiteBanner {
	background-image: url('');
	background-repeat: no-repeat;
	background-position: right -39px;
}

/* Site Logo */

h1.genSiteLogo {
	text-indent: -9999px;
}
	h1.genSiteLogo a {
		background-image: url('/publishedcontent/images/images/DCEG-logo.gif');
		background-repeat: no-repeat;
		background-position: bottom;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader('/publishedcontent/images/images/DCEG-logo.gif');
		display: block;
		height: 69px;
		width: 562px;
	}
	
	
/**
	Back to top Links
**/	
.dceg-top{font-size:12px;}

.dceg-top a:link, .dceg-top a:visited, .dceg-top a:active{color: #0054a6; text-decoration: none; /*font-size:12px;*/}

.dceg-top a:hover{ text-decoration: underline;}
	
	
/**
	Site Footer
**/

/* Footer Logos */

ul.genSiteFooterLogos {
		margin: 0 0 0 40%;
}
	ul.genSiteFooterLogos li {
		float: left;
		text-indent: -9999px;
		margin-right: 12px;
	}
		ul.genSiteFooterLogos li a {
			background-repeat: no-repeat;
			display: block;
			height: 34px;
		}
		/* HHS */
		ul.genSiteFooterLogos li a.genSiteFooterLinkHHS {
			background-image: url('/publishedcontent/images/images/footer-logo-hhs.gif');
			width: 34px;
		}
		/* NIH */
		ul.genSiteFooterLogos li a.genSiteFooterLinkNIH {
			background-image: url('/publishedcontent/images/images/footer-logo-nih.gif');
			width: 31px;
		}
		/* NCI */
		ul.genSiteFooterLogos li a.genSiteFooterLinkNCI {
			background-image: url('/publishedcontent/images/images/footer-logo-nci.gif');
			width: 45px;
		}
		/* USA.gov */
		ul.genSiteFooterLogos li a.genSiteFooterLinkUSA {
			background-image: url('/publishedcontent/images/images/footer-logo-usagov.gif');
			width: 83px;
		}
	
/* CONTENT HIGHLIGHTS. Content ID's must be used to target specific slots. These need to be changed depending on the environment you are in. */

.genLanding .contentid-93218.first-SI  /* Current Funding Opportunities on Funding Opps Landing Page */,
.genLanding .contentid-93525.first-SI   /* Leadership Update on eProtein Landing Page */ ,
.genLanding .contentid-93223.only-SI   /* CPTC In The News on News and Events Landing Page */  {
	border-radius: 4px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    background-color: #E6FCFC;
    border: 1px solid #B2B2B2;
    margin: 0 18px 18px 18px;
    padding: 18px 18px 0;
}

/* images using the HTML5 figure and figcaption elements */
/* add block level style to HTML5 elements, for IE */	
header,nav,article,footer,section,aside,figure,figcaption {
	display:block;
}
figure {
	margin-bottom: 10px;
	overflow: hidden;
}
/* image right 25% width */
figure.image-right-small {
    float: right;
    width: 25%;
    margin: 0 0 1em 1em;
}
/* image right 40% width */
figure.image-right-medium {
    float: right;
    width: 40%;
    margin: 0 0 1em 1em;
}
/* image left 25% width */
figure.image-left-small {
    float: left;
    width: 25%;
    margin: 0 1em 1em 0;
}
/* image left 40% width */
figure.image-left-medium {
    float: left;
    width: 40%;
    margin: 0 1em 1em 0;
}
/* image center 75% width */
figure.image-center {
    width: 75%;
    margin: 0 auto 1em auto;
}
/* image center 100% width */
figure.image-center-full {
    width: 100%;
    margin: 0 auto 1em auto;
}
/* contain image inside fig */
figure img {
    max-width: 100%;
	/* remove white space under image */
	display: block;
}
/* make enlarge link block level for display purposes */
a.article-image-enlarge {
	display: block;
	text-align: right;
}
/* style all figcaption elements the same */
figcaption {
	margin-top: 5px;
	border-top: 1px solid #BDBDBD;
}
figcaption .caption-container {
	display: block;
	color: #666;
	background: #DDDDDD;
	padding: 10px;
	margin-top: 5px;
	font-size: 12px;
	line-height: 1.2em;
}
/* remove default spacing of p tags as this adds extra spacing around caption content */
figcaption p:first-child {
    margin-top: 0;
}
figcaption p:last-child {
    margin-bottom: 0;
	padding-bottom: 0;
}

/* media highlight item css (Cheetoh IT1) */
.media-highlight {
    position: relative;
    border: 1px solid #bdbdbd;
}

.media-label {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #464646;
	color: #ffffff;
	line-height: 2.4em;
	font-weight: bold;
	text-transform: uppercase;
	width: 8.5em;
	text-align: center;
	/* firefox 3.5 */
	-moz-transform: rotate(90deg) translateX(8.5em);
	-moz-transform-origin: 100% 0%;
	/* Saf3.1+, Chrome */
	-webkit-transform: rotate(90deg) translateX(8.5em);
	-webkit-transform-origin: 100% 0%;
	/* IE 9+ */
	-ms-transform: rotate(90deg) translateX(8.5em);
	-ms-transform-origin: 100% 0%;
}

.media-label.media-infographic.en-us:before {
    content:"Infographic";
}

.media-label.media-infographic.es-us:before {
    content:"Infografía";
}
/* end images using the HTML5 figure and figcaption elements */

/* Hidden class for elements you wish to hide from sighted users but still be read by screen readers */
.hidden {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

/*Recaptcha */

.recaptchatable #recaptcha_response_field {
	margin: 10px 0 0 0!important;
}

.recaptcha_only_if_privacy {
	margin-top: -5px !important;
}

.recaptcha_only_if_privacy .exitNotification{
	display:none;	
}