@import "../../../../../StyleSheets/breakpoints";
@import "../../../../../StyleSheets/fonts";
@import "../../../../../StyleSheets/colors";
@import "./images/sprites/svg-sprite-purple";

// theme color palette
$iris: #6254a3;
$sangria: #951b81;
$ultra-violet: #6b35a6;
$azure: #1e6fd6;
$sky-blue: #77bcff;
$electric-lilac: #6c81e8;
$plum: #592e6b;
$thistle: #f6eefd;
$raindrop: #cfeaf1; // used in svg for guide card arrow

$slate: #606060;
$purple3: #6264b4;
$purple7: #e9e7f7;

// utility shades
$eggshell: #f2f0ef;
$graphite: #4d4d4d;
$storm: #666666;
$asphalt: #2e2e2e;
$aqua: #c7eae8;
$jade: #97ccc6;
$freeze: #c2e4e0;
$space: #023c5a;
$bronze: #c78005;

// default theme text color
.main-content a,
.main-content .feature-card a,
.feature-card.cgvArticle a h3,
ul.breadcrumbs > * a,
.pullquote,
.desktop #blog-archive-accordion .ui-accordion-header .toggle,
.desktop #blog-archive-accordion .ui-accordion-header.ui-state-active .toggle,
.multimedia .feature-card a h3 {
  color: $ultra-violet;
}

// default theme link color
.main-content p a:hover,
.main-content a:hover,
a .feature-card.cgvArticle a:hover h3,
.main-content a.title:hover,
.card-thumbnail h3 a:focus,
.card-thumbnail h3 a:hover,
.topic-feature a:focus,
.topic-feature a:hover,
.list .title a.title:focus,
.list .title a.title:hover,
.list .title a:focus,
.list .title a:hover,
.feature-card.cgvArticle a:hover h3,
.topic-feature .cgvBlogPost a:hover h3 {
  color: $sangria;
}

// hidden elements
.language-bar,
#microsite-a .utility {
  display: none;
}

#nvcgSlUtilityBar {
  display: block !important;
  background-color: $sky-blue;
}

#microsite-a {
  padding: 10px 0;
  margin: 0;
  .nsdb-title {
    font-family: $montserrat-font-stack;
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
    color: $black;
  }
}

// menu bar
.nav-search-bar {
  background: $iris;
  background: linear-gradient(180deg, $iris, $purple3);
}

// mobile menu
.mobile-menu-bar {
  display: flex;
  justify-content: space-between;

  > a,
  > button {
    margin: 1em 50px !important;
    top: 0;
  }
}

// mega menu
#mega-nav {
  .nav-item.current-page > .nav-item-title > a,
  .nav-item.contains-current > .nav-item-title > a {
    border-bottom-color: $ultra-violet;
  }
  .current-page {
    background-color: $ultra-violet;

    > div .toggle[aria-expanded="true"],
    > div[aria-expanded="true"] .toggle {
      background-color: $white;
      color: $iris;
    }

    > div .toggle[aria-expanded="false"],
    > div[aria-expanded="false"] .toggle {
      background-color: $iris;
      color: $white;
    }
  }
}

// page options
.page-options {
  li {
    background-color: $electric-lilac;
    &:hover {
      background-color: $sangria;
    }
  }
}

// content styles
.main-content {
  background-image: none;
  background-color: #fff;
}
a.arrow-link-white:hover:before,
a.arrow-link:hover:before {
  @include svg-sprite(chevron-circle-purple);
}
a.arrow-link-white:hover:before,
a.arrow-link:hover:before {
  @include svg-sprite(chevron-circle-purple-hover);
}
.pullquote {
  border-left-color: $ultra-violet;
}
.floating-delighter__link:hover,
.floating-deligher:hover a {
  color: #fff !important;
}

.micro-a {
  &.feature-primary {
    .card {
      background-color: $ultra-violet;
    }
  }
  &.multimedia-slot {
    background-color: $electric-lilac;
  }

  .feature-card a,
  .feature-card.cgvArticle a h3,
  .feature-card.cgvArticle a:hover h3 {
    color: $white;
  }
}
.guide-card .card {
  background: #f5f0fd;
}
.main-content .guide-card a.arrow-link:hover,
.multimedia .card:hover h3,
.card-thumbnail .card-thumbnail:hover a {
  color: $sangria;
}
.multimedia-slot {
  background: url(/publishedcontent/images/images/design-elements/background-graphics/multimedia-background-purple.jpg)
    repeat;
}

figure a.article-image-enlarge {
  background-color: $azure;

  &:hover {
    background-color: $sangria;
    color: #fff;
  }
}

.ui-accordion-header.even,
.ui-accordion-header.even.ui-state-active {
  background-color: #d4efff;
}
.ui-accordion-header.odd,
.ui-accordion-header.odd.ui-state-active {
  background-color: #bddeff;
}
.ui-accordion-header.odd .toggle[aria-expanded="false"],
.ui-accordion-header.odd[aria-expanded="false"] .toggle {
  background-color: #77bcff;
}
.ui-accordion-header.even .toggle[aria-expanded="false"],
.ui-accordion-header.even[aria-expanded="false"] .toggle {
  background-color: #afddf8;
}

.main-content .guide-card a.arrow-link,
.main-content .guide-card a.arrow-link-white,
.main-content a.definition,
.multimedia .feature-card a,
.search {
  color: $default-text;
}

// form elements
.radio input[type="radio"]:checked + label:before {
  background-color: $electric-lilac;
}

.radio input[type="radio"] + label:before {
  border-color: $electric-lilac;
}
.ui-selectmenu-button span.ui-icon {
  background-color: $electric-lilac;
}
.button.submit,
.button[type="submit"],
form button.submit,
form button[type="submit"] {
  background-color: $sangria;
  border-color: $plum;
}
.button.submit:focus,
.button.submit:hover,
.button[type="submit"]:focus,
.button[type="submit"]:hover,
form button.submit:focus,
form button.submit:hover,
form button[type="submit"]:focus,
form button[type="submit"]:hover {
  background-color: $plum;
}

// footer
.site-footer {
  background: url(/publishedcontent/images/images/design-elements/background-graphics/hexagon_molecular_structure_footer.png)
      no-repeat 130% 00px,
    linear-gradient(45deg, $ultra-violet, #6251c0);
}

// theme images
.site-footer__icons {
  .icon {
    transform: translateX(1px) translateY(1px);
  }
  .icon.twitter {
    @include svg-sprite(twitter-purple);
  }
  .icon.govdelivery {
    @include svg-sprite(gov-delivery-purple);
  }
}

.icon-exit-notification {
  @include svg-sprite(external-link-purple);
  font-size: 16px;
}

#sitesearch {
  @include svg-sprite(search-purple);
}

@include break(medium) {
  .nci-logo-pages img {
    min-width: 0;
    max-width: 480px;
  }
}

@include bp(medium) {
  .page-options-container #PageOptionsControl1 ul {
    float: none;
  }
}

@include bp(medium-down) {
  #section-menu-button {
    background-color: $iris;
  }
  #mega-nav li.contains-current>div.nav-item-title>a {
    color: $iris;
}
#mega-nav .toggle[aria-expanded=false], #mega-nav[aria-expanded=false] .toggle {
  background-color: $plum;
}
#mega-nav .toggle[aria-expanded=true], #mega-nav[aria-expanded=true] .toggle {
  color: $electric-lilac;
}
.nav-menu a:active {
  background-color: $sangria;
}
.section-nav {
  background: $eggshell;
}
.section-nav .level-0>div {
  background-color: $iris;
}
.section-nav div.current-page {
  background: $ultra-violet;
}
.section-nav div:active {
  background: $sangria;
}
.section-nav .toggle[aria-expanded=false], .section-nav[aria-expanded=false] .toggle {
  background-color: $sangria;
}
.section-nav .toggle[aria-expanded=true], .section-nav[aria-expanded=true] .toggle {
  color: $electric-lilac;
}
}

@include break(large) {
  // header
  header {
    padding-bottom: 1.5em;
  }

  //  main navigation and search
  #swKeyword,
  .search {
    background-color: $white;
    color: $graphite;
  }

  .sub-nav-group-header {
    color: $ultra-violet;

    &:focus,
    &:hover {
      color: $sangria;
    }
  }

  .section-nav {
    .level-0 > div {
      background-color: $iris;
    }
    div.current-page {
      background-color: $ultra-violet;
      &:after {
        border-left-color: $ultra-violet;
      }
    }
    .level-1.contains-current {
      background-color: $purple7;
    }
  }

  .page-options {
    li,
    li:hover {
      background-color: transparent;
    }

    .page-options--resize a:before {
      @include svg-sprite(font-size-purple, mq);
    }

    .page-options--print a:before {
      @include svg-sprite(printer-purple, mq);
    }

    .page-options--email a:before {
      @include svg-sprite(mail-envelope-closed-purple, mq);
    }

    .social-share--facebook a:before {
      @include svg-sprite(facebook-purple, mq);
    }

    .social-share--twitter a:before {
      @include svg-sprite(twitter-purple, mq);
    }

    .social-share--pinterest a:before {
      @include svg-sprite(pinterest-purple, mq);
    }
  }
}
