// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$blue-circles-name: 'blue-circles';
$blue-circles-x: 0px;
$blue-circles-y: 260px;
$blue-circles-offset-x: 0px;
$blue-circles-offset-y: -260px;
$blue-circles-width: 273px;
$blue-circles-height: 260px;
$blue-circles-total-width: 273px;
$blue-circles-total-height: 4940px;
$blue-circles-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$blue-circles: (0px, 260px, 0px, -260px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'blue-circles', );
$blue-diamonds-name: 'blue-diamonds';
$blue-diamonds-x: 0px;
$blue-diamonds-y: 2340px;
$blue-diamonds-offset-x: 0px;
$blue-diamonds-offset-y: -2340px;
$blue-diamonds-width: 273px;
$blue-diamonds-height: 260px;
$blue-diamonds-total-width: 273px;
$blue-diamonds-total-height: 4940px;
$blue-diamonds-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$blue-diamonds: (0px, 2340px, 0px, -2340px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'blue-diamonds', );
$blue-dots-name: 'blue-dots';
$blue-dots-x: 0px;
$blue-dots-y: 520px;
$blue-dots-offset-x: 0px;
$blue-dots-offset-y: -520px;
$blue-dots-width: 273px;
$blue-dots-height: 260px;
$blue-dots-total-width: 273px;
$blue-dots-total-height: 4940px;
$blue-dots-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$blue-dots: (0px, 520px, 0px, -520px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'blue-dots', );
$blue-triangles-name: 'blue-triangles';
$blue-triangles-x: 0px;
$blue-triangles-y: 780px;
$blue-triangles-offset-x: 0px;
$blue-triangles-offset-y: -780px;
$blue-triangles-width: 273px;
$blue-triangles-height: 260px;
$blue-triangles-total-width: 273px;
$blue-triangles-total-height: 4940px;
$blue-triangles-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$blue-triangles: (0px, 780px, 0px, -780px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'blue-triangles', );
$emerald-xes-name: 'emerald-xes';
$emerald-xes-x: 0px;
$emerald-xes-y: 1040px;
$emerald-xes-offset-x: 0px;
$emerald-xes-offset-y: -1040px;
$emerald-xes-width: 273px;
$emerald-xes-height: 260px;
$emerald-xes-total-width: 273px;
$emerald-xes-total-height: 4940px;
$emerald-xes-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$emerald-xes: (0px, 1040px, 0px, -1040px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'emerald-xes', );
$fuchsia-waves-name: 'fuchsia-waves';
$fuchsia-waves-x: 0px;
$fuchsia-waves-y: 1300px;
$fuchsia-waves-offset-x: 0px;
$fuchsia-waves-offset-y: -1300px;
$fuchsia-waves-width: 273px;
$fuchsia-waves-height: 260px;
$fuchsia-waves-total-width: 273px;
$fuchsia-waves-total-height: 4940px;
$fuchsia-waves-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$fuchsia-waves: (0px, 1300px, 0px, -1300px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'fuchsia-waves', );
$green-arrows-name: 'green-arrows';
$green-arrows-x: 0px;
$green-arrows-y: 1560px;
$green-arrows-offset-x: 0px;
$green-arrows-offset-y: -1560px;
$green-arrows-width: 273px;
$green-arrows-height: 260px;
$green-arrows-total-width: 273px;
$green-arrows-total-height: 4940px;
$green-arrows-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$green-arrows: (0px, 1560px, 0px, -1560px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'green-arrows', );
$green-plaid-name: 'green-plaid';
$green-plaid-x: 0px;
$green-plaid-y: 1820px;
$green-plaid-offset-x: 0px;
$green-plaid-offset-y: -1820px;
$green-plaid-width: 273px;
$green-plaid-height: 260px;
$green-plaid-total-width: 273px;
$green-plaid-total-height: 4940px;
$green-plaid-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$green-plaid: (0px, 1820px, 0px, -1820px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'green-plaid', );
$navy-squares-name: 'navy-squares';
$navy-squares-x: 0px;
$navy-squares-y: 2080px;
$navy-squares-offset-x: 0px;
$navy-squares-offset-y: -2080px;
$navy-squares-width: 273px;
$navy-squares-height: 260px;
$navy-squares-total-width: 273px;
$navy-squares-total-height: 4940px;
$navy-squares-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$navy-squares: (0px, 2080px, 0px, -2080px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'navy-squares', );
$orange-plaid-name: 'orange-plaid';
$orange-plaid-x: 0px;
$orange-plaid-y: 0px;
$orange-plaid-offset-x: 0px;
$orange-plaid-offset-y: 0px;
$orange-plaid-width: 273px;
$orange-plaid-height: 260px;
$orange-plaid-total-width: 273px;
$orange-plaid-total-height: 4940px;
$orange-plaid-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$orange-plaid: (0px, 0px, 0px, 0px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'orange-plaid', );
$orange-waves-name: 'orange-waves';
$orange-waves-x: 0px;
$orange-waves-y: 2600px;
$orange-waves-offset-x: 0px;
$orange-waves-offset-y: -2600px;
$orange-waves-width: 273px;
$orange-waves-height: 260px;
$orange-waves-total-width: 273px;
$orange-waves-total-height: 4940px;
$orange-waves-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$orange-waves: (0px, 2600px, 0px, -2600px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'orange-waves', );
$pink-triangles-name: 'pink-triangles';
$pink-triangles-x: 0px;
$pink-triangles-y: 2860px;
$pink-triangles-offset-x: 0px;
$pink-triangles-offset-y: -2860px;
$pink-triangles-width: 273px;
$pink-triangles-height: 260px;
$pink-triangles-total-width: 273px;
$pink-triangles-total-height: 4940px;
$pink-triangles-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$pink-triangles: (0px, 2860px, 0px, -2860px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'pink-triangles', );
$purple-circles-name: 'purple-circles';
$purple-circles-x: 0px;
$purple-circles-y: 3120px;
$purple-circles-offset-x: 0px;
$purple-circles-offset-y: -3120px;
$purple-circles-width: 273px;
$purple-circles-height: 260px;
$purple-circles-total-width: 273px;
$purple-circles-total-height: 4940px;
$purple-circles-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$purple-circles: (0px, 3120px, 0px, -3120px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'purple-circles', );
$purple-triangles-name: 'purple-triangles';
$purple-triangles-x: 0px;
$purple-triangles-y: 3380px;
$purple-triangles-offset-x: 0px;
$purple-triangles-offset-y: -3380px;
$purple-triangles-width: 273px;
$purple-triangles-height: 260px;
$purple-triangles-total-width: 273px;
$purple-triangles-total-height: 4940px;
$purple-triangles-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$purple-triangles: (0px, 3380px, 0px, -3380px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'purple-triangles', );
$red-squares-name: 'red-squares';
$red-squares-x: 0px;
$red-squares-y: 3640px;
$red-squares-offset-x: 0px;
$red-squares-offset-y: -3640px;
$red-squares-width: 273px;
$red-squares-height: 260px;
$red-squares-total-width: 273px;
$red-squares-total-height: 4940px;
$red-squares-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$red-squares: (0px, 3640px, 0px, -3640px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'red-squares', );
$red-triangles-name: 'red-triangles';
$red-triangles-x: 0px;
$red-triangles-y: 3900px;
$red-triangles-offset-x: 0px;
$red-triangles-offset-y: -3900px;
$red-triangles-width: 273px;
$red-triangles-height: 260px;
$red-triangles-total-width: 273px;
$red-triangles-total-height: 4940px;
$red-triangles-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$red-triangles: (0px, 3900px, 0px, -3900px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'red-triangles', );
$slate-grid-name: 'slate-grid';
$slate-grid-x: 0px;
$slate-grid-y: 4160px;
$slate-grid-offset-x: 0px;
$slate-grid-offset-y: -4160px;
$slate-grid-width: 273px;
$slate-grid-height: 260px;
$slate-grid-total-width: 273px;
$slate-grid-total-height: 4940px;
$slate-grid-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$slate-grid: (0px, 4160px, 0px, -4160px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'slate-grid', );
$yellow-circles-name: 'yellow-circles';
$yellow-circles-x: 0px;
$yellow-circles-y: 4420px;
$yellow-circles-offset-x: 0px;
$yellow-circles-offset-y: -4420px;
$yellow-circles-width: 273px;
$yellow-circles-height: 260px;
$yellow-circles-total-width: 273px;
$yellow-circles-total-height: 4940px;
$yellow-circles-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$yellow-circles: (0px, 4420px, 0px, -4420px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'yellow-circles', );
$yellow-hexagons-name: 'yellow-hexagons';
$yellow-hexagons-x: 0px;
$yellow-hexagons-y: 4680px;
$yellow-hexagons-offset-x: 0px;
$yellow-hexagons-offset-y: -4680px;
$yellow-hexagons-width: 273px;
$yellow-hexagons-height: 260px;
$yellow-hexagons-total-width: 273px;
$yellow-hexagons-total-height: 4940px;
$yellow-hexagons-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$yellow-hexagons: (0px, 4680px, 0px, -4680px, 273px, 260px, 273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', 'yellow-hexagons', );
$carousel-width: 273px;
$carousel-height: 4940px;
$carousel-image: '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg';
$carousel-sprites: ($blue-circles, $blue-diamonds, $blue-dots, $blue-triangles, $emerald-xes, $fuchsia-waves, $green-arrows, $green-plaid, $navy-squares, $orange-plaid, $orange-waves, $pink-triangles, $purple-circles, $purple-triangles, $red-squares, $red-triangles, $slate-grid, $yellow-circles, $yellow-hexagons, );
$carousel: (273px, 4940px, '/publishedcontent/images/images/design-elements/sprites/carousel-bgs.jpg', $carousel-sprites, );


